<div class="price-wrapper-inner">
  <template v-if="data.unit_price">
    <div
      class="price-details mb-8 pb-6 border-b border-gray-300"
      itemprop="offers"
      itemscope
      itemtype="http://schema.org/Offer"
    >
    <div class=" flex  items-center ">
   
      <template
        v-if="slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections) || !slotData.menuDisplaySettings"
      >
        <template v-if="data.unit_price != data.display_price">
          <span
            class="discount-price text-heading font-bold text-base md:text-xl lg:text-2xl 2xl:text-4xl pe-2 md:pe-0 lg:pe-2 2xl:pe-0"
          >
            <!--  <span class="label">{{slotData.language.item.nowText}}:</span> -->
            <template v-if="data.product_type == 'configurable'">
              <span class="as-low-as"
                >{{slotData.language.item.asLowAsText}}</span
              >
            </template>
            <span class="currency">{{slotData.settings.default_currency}}</span>
            <span class="amount"
              >{{slotData.helpers.PriceFormat(data.display_price)}}</span
            >
          </span>
        </template>
      </template>

      <span
        class="price text-heading font-bold text-base md:text-xl lg:text-2xl 2xl:text-4xl pe-2 md:pr-0 lg:pr-2 2xl:pr-0"
        :class="{'has-flash-offer': 
                  data.available_now != 0 && 
                  data.quantity > 0 && 
                  data.available_now_price != data.display_price,
                  'has-discount': 
                  data.unit_price != data.display_price 
                  }"
      >
        <!-- <template v-if="data.attributes.MSRP && data.attributes.MSRP.value">
                    <template v-if="data.attributes.MSRP.value > data.display_price">
                        <span class="label">{{slotData.language.item.ourPriceText}}:</span>
                    </template>
                    <template v-else>
                        <template v-if="data.unit_price != data.display_price">
                            <span class="label">{{slotData.language.item.ourPriceText}}:</span>
                        </template>
                    </template>
                </template>
                <template v-else>
                    <template v-if="data.unit_price != data.display_price">
                        <span class="label">{{slotData.language.item.ourPriceText}}:</span>
                    </template>
                </template> -->

        <span
          :class="{'has-offer line-through text-gray-400 text-sm md:text-base lg:text-lg xl:text-xl pl-2 font-normal': 
                    data.unit_price != data.display_price && 
                    slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections)
                    }"
        >
          <template v-if="data.product_type == 'configurable'">
            <span class="as-low-as"
              >{{slotData.language.item.asLowAsText}}</span
            >
          </template>
          <span class="currency">{{slotData.settings.default_currency}}</span>
          <span class="amount">
            {{slotData.helpers.PriceFormat(data.unit_price)}}
          </span>
        </span>
      </span>

      <template v-if="data.attributes.MSRP && data.attributes.MSRP.value">
            <template v-if="data.attributes.MSRP.value > data.display_price">
              <div class="msrp-wrapper line-through font-segoe text-gray-400 text-sm md:text-base lg:text-lg xl:text-xl pl-2">
              <!--  <span class="label">{{data.attributes.MSRP.label}}:</span> -->
                <span class="value"
                  >{{slotData.settings.default_currency}}
                  {{slotData.helpers.PriceFormat(data.attributes.MSRP.value)}}</span
                >
              </div>
            </template>
          </template>



    </div>

      <template v-if="data.attributes.MSRP && data.attributes.MSRP.value">
        <template v-if="data.attributes.MSRP.value > data.display_price">
          <template
            v-if="slotData.helpers.InArray('msrp', slotData.settings.menu_display_sections) || !slotData.menuDisplaySettings"
          >
            <div class="you-save-wrapper text-sm text-red-600 text-sm md:text-base lg:text-lg  mt-2">
              <span>{{slotData.language.item.discountText}}:</span>
              <span class="currency"
                >{{slotData.settings.default_currency}}</span
              >
              <span
                >{{slotData.helpers.PriceFormat(data.attributes.MSRP.value -
                data.display_price)}}</span
              >
            </div>
          </template>
          <template v-else>
            <template
              v-if="slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections) || !slotData.menuDisplaySettings"
            >
              <template v-if="data.unit_price != data.display_price">
                <div class="you-save-wrapper text-sm text-red-600 text-sm md:text-base lg:text-lg  mt-2">
                  <span>{{slotData.language.item.discountText}}:</span>
                  <span class="currency"
                    >{{slotData.settings.default_currency}}</span
                  >
                  <span
                    >{{slotData.helpers.PriceFormat(data.unit_price -
                    data.display_price)}}</span
                  >
                </div>
              </template>
            </template>
          </template>
        </template>
        <template v-else>
          <template
            v-if="slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections) || !slotData.menuDisplaySettings"
          >
            <template v-if="data.unit_price != data.display_price">
              <div class="you-save-wrapper text-sm text-red-600 text-sm md:text-base lg:text-lg  mt-2">
                <span>{{slotData.language.item.discountText}}:</span>
                <span class="currency"
                  >{{slotData.settings.default_currency}}</span
                >
                <span
                  >{{slotData.helpers.PriceFormat(data.unit_price -
                  data.display_price)}}</span
                >
              </div>
            </template>
          </template>
        </template>
      </template>
      <template v-else>
        <template
          v-if="slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections) || !slotData.menuDisplaySettings"
        >
          <template v-if="data.unit_price != data.display_price">
            <div class="you-save-wrapper text-sm text-red-600 text-sm md:text-base lg:text-lg  mt-2">
              <span>{{slotData.language.item.discountText}}:</span>
              <span class="currency"
                >{{slotData.settings.default_currency}}</span
              >
              <span
                >{{slotData.helpers.PriceFormat(data.unit_price -
                data.display_price)}}</span
              >
            </div>
          </template>
        </template>
      </template>
    </div>
  </template>
</div>