<div v-if="slotData.categories.length > 0">

    <div class="all-category-inner-wrapper flex flex-wrap p-6 shadow bg-white mb-4 md:mb-8">
        <template v-for="category in slotData.categories">
            <div class="item util-clearfix w-full md:w-1/2 lg:w-1/3 xl:w-3/12 mb-4 border-b border-gray-300 pb-3"  :data-category="category.id">
                <div class="item-inner-wrapper">
                    <div class="category-title">
                        <h3 class="big-title text-heading text-sm md:text-base xl:text-lg font-semibold hover:text-gray-700" data-role="anchor1-scroll"
                            data-spm-anchor-id="a2g0o.category_nav.1.i0.4cf148b6C5AmXf">
                            <span id="anchor1" class="anchor-subsitution"></span>
                            <a v-bind:href="category?.url_rewrite?.request_path"
                               data-spm-anchor-id="a2g0o.category_nav.1.1">{{category.name}}</a>
                        </h3>
                    </div>

                    <div v-if="category.active_children" class="sub-item-wrapper util-clearfix mt-2 pl-4">
                        <div class="sub-item-cont-wrapper">
                            <ul class="sub-item-cont util-clearfix">
                                <template v-for="children in category.active_children">
                                    <li class="mb-2">
                                        <a v-bind:href="children?.url_rewrite?.request_path"
                                           data-spm-anchor-id="a2g0o.category_nav.1.2" class="text-gray-500 hover:text-gray-700">{{children.name}}</a>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>