<div class="bg-white category-list-wrapper mt-1 w-full" >
    <span class="block px-6 md:px-8 py-3 font-semibold lg:hidden flex border-b border-gray-100 curser-pointer items-center"   
    v-on:click="toggleMenu">
        Categories
        <b-icon v-if="isActive || !category_id" class=" ml-auto text-black w-5 h-5 " icon="caret-up-fill"    />
        <b-icon v-else class="ml-auto text-black w-5 h-5 " icon="caret-down-fill"    />
    </span>
    <div class="list-group lg:block" :class="[ isActive || !category_id ? 'block': 'hidden']">
        <ul>
            <template v-if="slotData.showFeatured">
                <li class="category mb-0.5 mt-0" :class="{ 'active bg-gray-100 ': slotData.activeTab === 'featured' }" data-category="featured" :data-name="slotData.language.category.featured">
                    <!-- <a v-bind:href="'$$__location_url__$$/featured'"  class="block px-8 py-3 font-semibold hover:opacity-80">
                        {{slotData.language.category.featured}}
                    </a> -->

                    <template v-if="'$$__location_url__$$'">
                        <a v-bind:href="'/$$__location_url__$$/featured'"  class="block px-8 py-2 font-semibold hover:opacity-80">
                            {{slotData.language.category.featured}}
                        </a>
                    </template>
                    <template v-else>
                        <a v-bind:href="'/featured'"  class="block px-8 py-2 font-semibold hover:opacity-80">
                            {{slotData.language.category.featured}}
                        </a>
                    </template>


                </li>
            </template>

            <li class="category mb-0.5 mt-0" :class="{ 'active bg-gray-100 ': slotData.activeTab === 'all' }"  data-category="all" :data-name="slotData.language.category.allCategories">
                <!-- <a v-bind:href="'$$__location_url__$$/all'" class="block px-8 py-3 font-semibold hover:opacity-80">
                    {{slotData.language.category.allCategories}}
                </a> -->

                <template v-if="'$$__location_url__$$'">
                    <a v-bind:href="'$$__location_url__$$/all'" class="block px-8 py-2 font-semibold hover:opacity-80">
                        {{slotData.language.category.allCategories}}
                    </a>
                </template>
                <template v-else>
                    <a v-bind:href="'/all'" class="block px-8 py-2 font-semibold hover:opacity-80">
                        {{slotData.language.category.allCategories}}
                    </a>
                </template>


            </li>
            
            
              <li class="promo-deals-offer category mb-0.5 mt-0 " :class="{ 'active bg-gray-100 ': page === 'offers' }"  data-category="offers" :data-name="slotData.language.category.offers">
                

                <template v-if="'$$__location_url__$$'">
                    <a v-bind:href="'$$__location_url__$$/offers'" class="block px-8 py-3 font-semibold hover:opacity-80">
                       
                       Promo Deals
                      
                    </a>
                </template>
                <template v-else>
                  <a v-bind:href="'/offers'" class="promo-deals-a-tag block px-8 py-3 font-semibold hover:opacity-80">  
                   <!--<a v-bind:href="'/offers'" :class="isActive ? 'promo-deals-a-tag block px-8 py-3 font-semibold hover:opacity-80 bg-gray-100' : 'promo-deals-a-tag block px-8 py-3 font-semibold hover:opacity-80'">-->
                      
                         Promo Deals
                          
                    </a>
                </template>


            </li>
            
            
            
            
            <li class="category mb-0.5 mt-0" v-if="category_id">
                <a class="block px-8 py-3 font-semibold hover:opacity-80 active bg-gray-100">
                    {{category_name}}
                </a>
            </li>
            <template v-for="category in slotData.categories.slice(0, slotData.itemsToShow)">
                <li class="category mb-0.5 mt-0" :data-category="category.id" :data-name="category.name"  >

                    <div class="flex items-center" :class="{'bg-gray-100': slotData.showChildren[category.id], 'active bg-gray-100 ': slotData.activeTab === category.id,  'pl-4': category_id }">
                            <a v-bind:href="category.url_rewrite ? '/' + category?.url_rewrite?.request_path : '#'" :class="{ 'active bg-gray-100 ': slotData.activeTab === category.id }" class="block w-full px-8 py-2 font-semibold hover:opacity-80">
                                {{category.name}}
                            </a>

                            <template v-if="category.child_categories && category.child_categories.length > 0">
                                <b-icon icon="chevron-right" 
                                        class="child-arrow cursor-pointer ml-auto mr-6  w-5 h-5"
                                        :class="{'active rotate-90': slotData.showChildren[category.id]}"
                                        v-on:click='(e)=>onClickShowChildren(e, category.id, !slotData.showChildren[category.id])'
                                        >
                                </b-icon>
                            </template>
                    </div>
                    <template v-if="category.child_categories && category.child_categories.length > 0">
                         <div :class="{ 'pl-4': category_id }" >
                             <sub-category-snippet v-if="slotData.showChildren[category.id]" :activeChildren="category.child_categories"  />
                         </div>
                    </template>
                </li>
            </template>

            <template v-if="slotData.categories.length > slotData.itemsToShow">
                <a class="block py-4 px-8  text-gray-500" href="/all-categories">Show More...</a>
            </template>
                 <li class="related-recipes mb-0.5 mt-0">
                     <a href="https://www.keellsfoods.lk/recipes/" class="promo-deals-a-tag block px-8 py-3 font-semibold hover:opacity-80" target="_blank">  
                         Recipes and Cooking Tips

                    </a>
            </li>
        </ul>
    </div>
</div>