<div class="product-list-inner-wrapper">
  <div class="view-fiter mb-6">
    <div class="flex-wrap inline-flex w-full mb-2">
      <h1
        class="title text-primary text-xl md:text-2xl font-bold lg:inline-flex mt-0 md:pb-1 w-auto"
        v-if="slotData.productsLoaded"
      >
        {{slotData.total}} Items
      </h1>

      <div class="flex ml-auto items-center">
        <div class="ml-auto flex items-center">
          <div
            class="product-filter-wrapper ml-auto md:ml-4"
            :class="slotData.category_id ? 'block lg:hidden' : ''"
          >
            <filter-button-snippet
              :category_ids="slotData.category_id"
              :show_attribute_filters="true"
            />
          </div>
        </div>
        <div class="change-product-view-wrapper ml-8">
          <list-grid-buttons-snippet />
        </div>
      </div>
    </div>

    <refine-tag-snippet />
  </div>

  <div class="item-inner-wrapper justify-content-start">
    <template v-if="slotData.products.length > 0">
      <template v-if="gridView">
        <product-grid-view-section v-bind:products="slotData.products" />
      </template>
      <template v-else>
        <product-list-view-section v-bind:products="slotData.products" />
      </template>
    </template>
    <template v-else-if="slotData.productsLoaded">
      <div class="no-items text-center mb-12 mt-12">
        <div
          class="w-full max-w-md h-60 bg-not_found bg-center bg-no-repeat bg-contain mx-auto mb-6"
        ></div>
        <span
          class="text-heading text-lg md:text-xl lg:text-2xl xl:leading-10 font-bold"
          >{{slotData.language.noResults}}</span
        >
      </div>
    </template>

    <template v-if="!slotData.productsLoaded">
      <div class="loading-item-wrapper">
        <div class="product-grid" v-if="gridView">
          <div
            class="grid gap-4 mt-4 grid-cols-2 md:grid-cols-3"
            :class="setCols"
          >
            <template v-for="(row, index) in 6">
              <div
                class="item bg-white rounded-md hover:shadow-md hover:-translate-y-2 transition-all duration-500 text-center"
              >
                <span
                  class="image w-full relative flex flex-col bg-gray-200 h-[200px] loading-animation mb-6"
                ></span>
                <span
                  class="title relative rounded-md mr-auto ml-4 flex flex-col bg-gray-200 h-[30px] w-[80%] loading-animation mb-6"
                ></span>
                <span
                  class="desc relative rounded-lg ml-4 mr-4 mb-2 flex flex-col bg-gray-200 h-4 w-[100%] loading-animation"
                ></span>
                <span
                  class="desc relative rounded-lg ml-4 mr-4 flex flex-col bg-gray-200 h-4 w-[100%] loading-animation mb-6"
                ></span>
                <span
                  class="desc relative rounded-lg mr-auto ml-4 flex flex-col bg-gray-200 h-6 w-[40%] loading-animation mb-12"
                ></span>
                <span
                  class="add-cart relative rounded-sm ml-auto mr-auto flex flex-col bg-gray-200 h-[30px] w-[50%] loading-animation mb-[10px]"
                ></span>
              </div>
            </template>
          </div>
        </div>
        <div class="product-list row" v-else>
          <div class="item-wrapper">
            <template v-for="(row, index) in 6">
              <div
                class="item bg-white rounded-md hover:shadow-md hover:-translate-y-2 transition-all duration-500 mb-5"
              >
                <div
                  class="image relative inline-block h-full flex-col bg-gray-200 h-[140px] loading-animation w-[25%]"
                ></div>
                <div class="w-[73%] inline-block p-3">
                  <span
                    class="title relative rounded-md h-full flex flex-col bg-gray-200 h-[20px] w-[80%] loading-animation mb-[8px]"
                  ></span>
                  <span
                    class="desc relative rounded-lg h-full flex flex-col bg-gray-200 h-[8px] w-[60%] loading-animation mb-[8px]"
                  ></span>
                  <span
                    class="desc relative rounded-lg h-full flex flex-col bg-gray-200 h-[8px] w-[60%] loading-animation mb-[8px]"
                  ></span>
                  <span
                    class="add-cart relative rounded-sm h-full flex flex-col bg-gray-200 h-[30px] w-[150px] loading-animation mt-[30px] ml-auto"
                  ></span>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </template>

    <div
      class="scroll-loader mt-6 flex justify-center"
      v-if="slotData.scrollLoader"
    >
      <span class="button-label flex items-center text-base text-body">
        <svg
          class="animate-spin -ml-1 mr-3 h-5 w-5 text-heading"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      </span>
      <!--  <b-icon class="loader-icon" icon="arrow-repeat" animation="spin"></b-icon> -->
    </div>
  </div>
</div>
