<div class="page-inner-wrapper">
  <form
    v-if="!slotData.showOtpVerificationSection"
    @submit="submit"
    class="flex flex-col justify-center"
    novalidate
    autocomplete="off"
  >
    <input
      autocomplete="false"
      name="hidden"
      type="text"
      style="display: none"
    />

    <div class="flex flex-col space-y-4">
      <!-- name field -->
      <div
        class="block name"
        :class="slotData.customFieldsCls"
        :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.registerPopup.fields.name"
      >
        <label
          for="name"
          class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer required"
        >
          {{slotData.language.registerPopup.fields.name}}*
        </label>
        <input
          class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body placeholder-slate-400 rounded-md placeholder-body min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12"
          type="text"
          id="name"
          v-model="slotData.form.name"
          maxlength="240"
          :placeholder="slotData.language.registerPopup.fields.name"
        />

        <p v-if="slotData.form.nameError" class="my-2 text-xs text-red-500">
          {{slotData.language.registerPopup.errors.nameEmpty}}
        </p>
      </div>

      <!-- phone number field -->
      <div
        class="block contact"
        :class="slotData.customFieldsCls"
        :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.registerPopup.fields.telephone"
      >
        <label
          for="contact"
          class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer required"
        >
          {{slotData.language.registerPopup.fields.telephone}}*
        </label>

        <div class="contact-wrapper">
          <!-- calling code -->
          <div class="flex">
            <div
              class="w-1/4 xs:w-2/4 border border-gray-300 rounded-md overflow-hidden1"
            >
              <template v-if="slotData.form.callingCode">
                <multiselect
                  id="calling-code"
                  name="calling-code"
                  :options="slotData.countries"
                  class="calling-code-dropdown h-full no-border"
                  track-by="code"
                  v-model="slotData.form.callingCode"
                  label="calling_code"
                  :searchable="true"
                  :allow-empty="false"
                  select-label=""
                  deselect-label=""
                  selected-label=""
                  placeholder=""
                >
                  <template slot="singleLabel" slot-scope="{ option }">
                    <span class="h-[23px] mt-1 block"
                      >{{ option.calling_code }}</span
                    >
                  </template>

                  <template slot="option" slot-scope="props" select-label="">
                    <span class="calling-code-value">
                      <img
                        :src="props.option.flag"
                        mr="1"
                        class="inline-block"
                      />
                      <span class="name">{{props.option.calling_code}}</span>
                    </span>
                  </template>

                  <template slot="noResult">
                    <span class="block">No records found.</span>
                  </template>
                </multiselect>
              </template>
            </div>

            <input
              class="ml-2 w-3/4 py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body placeholder-slate-400 min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12"
              type="text"
              onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45"
              id="contact_number"
              v-model="slotData.form.contact"
              maxlength="15"
              :placeholder="slotData.language.registerPopup.fields.telephone"
            />
          </div>

          <p
            v-if="slotData.form.contactError"
            class="my-2 text-xs text-red-500"
          >
            {{slotData.language.registerPopup.errors.contactEmpty}}
          </p>
          <p
            v-if="slotData.form.contactInvalid"
            class="my-2 text-xs text-red-500"
          >
            {{slotData.language.registerPopup.errors.contactInvalid}}
          </p>
        </div>
      </div>

      <!-- email field -->
      <div
        class="block email"
        :class="slotData.customFieldsCls"
        :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.registerPopup.fields.email"
      >
        <label
          for="email"
          class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer required"
        >
          {{slotData.language.registerPopup.fields.email}}*
        </label>
        <input
          class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body placeholder-slate-400 min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12"
          type="email"
          id="email"
          v-model="slotData.form.email"
          role="presentation"
          autocomplete="off"
          maxlength="240"
          :placeholder="slotData.language.registerPopup.fields.email"
        />

        <p v-if="slotData.form.emailError" class="my-2 text-xs text-red-500">
          {{slotData.language.registerPopup.errors.emailEmpty}}
        </p>
        <p v-if="slotData.form.emailInvalid" class="my-2 text-xs text-red-500">
          {{slotData.language.registerPopup.errors.emailInvalid}}
        </p>
      </div>

      <!-- password field -->
      <div
        class="block password"
        :class="slotData.customFieldsCls"
        :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.registerPopup.fields.password"
      >
        <label
          for="password"
          class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer required"
        >
          {{slotData.language.registerPopup.fields.password}}*
        </label>
        <div class="relative">
          <input
            :type="showPassword ? 'text': 'password'"
            class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body placeholder-slate-400 min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12"
            type="password"
            id="password"
            v-model="slotData.form.password"
            minlength="8"
            autocomplete="new-password"
            :placeholder="slotData.language.registerPopup.fields.password"
          />
          <label
            @click="switchVisibility"
            for="password"
            class="absolute right-4 top-3.5 text-gray-400 cursor-pointer"
          >
            <b-icon v-if="!showPassword" class="w-5 h-5" icon="eye"></b-icon>
            <b-icon v-else class="w-5 h-5" icon="eye-slash"></b-icon>
          </label>

          <p
            v-if="slotData.form.passwordError"
            class="my-2 text-xs text-red-500"
          >
            {{slotData.language.registerPopup.errors.passwordEmpty}}
          </p>
          <p
            v-if="slotData.form.passwordInvalid"
            class="my-2 text-xs text-red-500"
          >
            {{slotData.language.registerPopup.errors.passwordInvalid}}
          </p>
        </div>
      </div>
      
      <div invalid-feedback="Please verify your age" class="fb-checkbox-group form-group field-checkbox-group-1746185458159 item-15" data-cse_class_to_apply=".r2g-form-main-strip .form-group.item-15" data-cse_name="Form Group15">
            <div class="checkbox-group">
                <div class="checkbox fb-cr">
                    <input name="checkbox-group-1746185458159[]" id="checkbox-group-checkbox-group" value="Yes" type="checkbox" required>
                    <span class="fb-helper fb-checkbox-helper fa"></span>
                    <label for="checkbox-group-checkbox-group-1746185458159_0" class="text-gray-600 font-semibold text-sm required">* By providing your information, you confirm that you are over 16 years of age and consent to the processing of your personal data as outlined above.</label>
                </div>
            </div>
        </div>

      <!-- confirm password field -->
      <!-- <div class="block confirm-password" :class="slotData.customFieldsCls"
                          :invalid-feedback="slotData.language.registerPopup.passwordNotMatch">
                <label for="confirmPassword" class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer  required"> 
                    {{slotData.language.registerPopup.fields.confirmPassword}} 
                </label>
                <input class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12" type="password" id="confirmPassword" 
                              v-model="slotData.form.confirmPassword" 
                              minlength="8" 
                              :state="slotData.form.confirmPassword == 'null' ? null : slotData.form.confirmPassword != slotData.form.password ? false : null" />
                
            </div>
 -->
      <!-- custom fields -->
      <template v-if="customFields">
        <template v-for="field in customFields">
          <form-custom-field-snippet
            :field="field"
            :custom_fields_cls="slotData.customFieldsCls"
            :show_icons="slotData.showCustomFieldIcons"
          />
        </template>
      </template>
    </div>

    <div class="form-bottom-wrapper">
      <div
        v-if="slotData.submitError"
        class="submit-error submit-msg mt-4 text-xs text-red-500"
      >
        {{ slotData.submitError }}
      </div>

      <div
        v-if="slotData.submitSuccess"
        class="submit-success submit-msg mt-4 text-xs text-green-700"
      >
        {{ slotData.submitSuccess }}
      </div>

      <div class="form-field row justify-content-end mt-4">
        <div class="col-md-12 col-sm-12">
          <button 
            disabled
            id="submit-btn"
            type="submit"
            variant="primary"
            class="submit-button text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none bg-primary text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-gray-600 hover:shadow-cart h-11 md:h-12 w-full mt-1.5" 
          >
            <span class="button-label" v-if="slotData.submitLoading">
              <svg
                class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
            </span>
            <span class="button-label" v-else>
              {{slotData.language.registerPopup.fields.register}}
            </span>
          </button>
        </div>
      </div>

      <!-- start: socail login section -->
      <template v-if="slotData.showSocialLogin && slotData.socialLogins.length > 0">
        <div class="w-full block mt-4 mb-4">
          <span class="w-[45%] h-[0.5px] inline-block bg-gray-400 mr-auto align-middle"></span>
          <span class="w-[7%] inline-block m-auto text-center">{{slotData.language.registerPopup.or}}</span>
          <span class="lg:w-[45%] w-[44%] h-[0.5px] inline-block bg-gray-400 ml-auto align-middle"></span>
        </div>

        <div class="socail-login w-full">
            <div v-for="social in slotData.socialLogins" class="inline-block w-full border border-gray-300 rounded p-3 mb-2 hover:border-gray-400 transition duration-200 ease-in-out cursor-pointer" v-on:click="onClickSocialLogin(social)">
              <div class="lg:ml-[33%] ml-[29%]">
                <span class="inline-block w-[25px] h-[25px] align-middle mr-3" :style="{'background-image': 'url(' + social.logo_url + ')', 'background-size': 'contain', 'background-repeat': 'no-repeat'}"></span>
                <span>{{social.name}}</span>
              </div>
            </div>
        </div>
      </template>
      <!-- end: socail login section -->

      <!-- <div
        class="flex flex-col items-center justify-center relative text-sm text-heading mt-8 sm:mt-10 mb-6 sm:mb-7"
      >
        <hr class="w-full border-gray-300" />
        <span class="absolute -top-2.5 px-2 bg-white"
          >{{slotData.language.registerPopup.or}}</span
        >
      </div> -->

      <div class="text-sm sm:text-base text-body text-center mt-5 mb-1">
        <label class="form-label">
          {{slotData.language.registerPopup.backTo}}
          <a
            href="/login"
            class="text-sm sm:text-base text-heading underline font-bold hover:no-underline focus:outline-none"
          >
            {{slotData.language.registerPopup.login}}
          </a>
        </label>
      </div>
    </div>
  </form>
  
  <!-- verify account form for two factor authentication -->
  <template v-if="slotData.showOtpVerificationSection">
    <otp-verify-form-section :req_id="slotData.otpReqId" :email="slotData.form.email" :contact="slotData.otpContact"
      :password="slotData.form.password" :exp_at="slotData.otpExpAt" type="register" />
  </template>
</div>