<div class="bg-white hidden lg:block mt-1 w-full">
  <div class="list-group lg:block">
    <ul>
      <template v-if="slotData.filterData.super_attribute">
        <template v-for="filter in slotData.filterData.super_attribute">
          <supper-attribute-filter-section
            :url_path="slotData.url_path"
            :select_filter="slotData.select_filter"
            :category_id="slotData.category_id"
            :filter_data="filter"
          ></supper-attribute-filter-section>
        </template>
      </template>

      <div v-if="slotData.filterData.tag && slotData.filterData.tag.length > 0">
        <template>
          <li class="block px-8 py-3 font-semibold hover:opacity-80">
            {{slotData.tag_title}}
          </li>
          <ul style="margin-left: 15%">
            <li class="block px-2" v-for="tag in slotData.filterData.tag">
              <div
                v-if="select_filterX && select_filterX.tag && select_filterX.tag[slotData.tag_title] &&   select_filterX.tag[slotData.tag_title].split(',').includes(tag.name) "
                 :data-tag="tag.name.replace(/-\d+$/, '')"
              >
                <label class="md:w-2/3 block text-gray-500 font-bold">
                  <input
                    class="mr-2 leading-tight checked:accent-indigo-600 filter-check"
                    type="checkbox"
                    v-on:click="generateFilterParams(tag.name,slotData.tag_title,$event)"
                    checked
                  />
                  <span class="text-sm"> {{ tag.name.replace(/-\d+$/, '') }} </span>
                </label>
              </div>
              <div v-else
               :data-tag="tag.name.replace(/-\d+$/, '')"
              >
                <label class="md:w-2/3 block text-gray-500 font-bold">
                  <input
                    class="mr-2 leading-tight checked:accent-indigo-600 filter-check"
                    type="checkbox"
                    v-on:click="generateFilterParams(tag.name,slotData.tag_title,$event)"
                  />
                  <span class="text-sm"> {{ tag.name.replace(/-\d+$/, '') }} </span>
                </label>
              </div>
            </li>
          </ul>
        </template>
      </div>
    </ul>
  </div>
   <span v-once>{{tagsLoaded()}}</span>
</div>