<div class="check-order-content mx-auto max-w-[1920px] lg:min-h-screen relative">
    <template v-if="slotData.isLoaded">
        <template v-if="slotData.order">
            <div class="w-full lg:w-[90%] xl:w-[80%] mx-auto">

                <div class="main-wrapper flex items-center justify-between w-full mt-[30px] md:mt-[50px] mb-5 md:mb-8">
                    <div class="w-full h-full grid relative">

                        <div class="w-full h-[102px] relative items-center justify-center">
                            <div class="flex w-full h-full absolute top-0 left-0 bottom-0 bg-primary xs:bg-transparent -z-20 rounded-lg xs:rounded-none">
                                <div class="bg-primary w-[8%] md:w-[8.5%] lg:w-[8%] xl:w-[7.5%] h-full absolute max-h-full hidden xs:inline-block" 
                                        style="clip-path: polygon(18% 1%, 83% 49%, 18% 100%, 4% 100%, 69% 49%, 3% 0);
                                            -webkit-clip-path: polygon(18% 1%, 83% 49%, 18% 100%, 4% 100%, 69% 49%, 3% 0);">
                                </div>
                                <div class="w-[50%] h-full absolute bg-primary left-[3%] xl:left-[2%] max-h-full right-0"
                                    style="clip-path: polygon(78% 1%, 100% 100%, 75% 100%, 0% 100%, 10% 49%, 0% 0%);
                                    -webkit-clip-path: polygon(78% 1%, 100% 100%, 75% 100%, 0% 100%, 10% 49%, 0% 0%);">
                                </div>
                                <div class="w-[60%] h-full absolute right-0 bg-[#F4F9FF] -z-10 shadow-lg rounded-lg"></div>
                            </div>

                            <div class="flex w-full h-full absolute">
                                <div class="w-[50%] flex-none xs:flex items-center justify-center gap-3 md:gap-6 h-full p-2 pt-4 xs:py-0 xs:pr-[25px] xs:pl-[60px] xs:pr-[35px] md:px-[calc(3%+60px)]">
                                    <template v-if="slotData.order.type == 'Delivery'">
                                        <img src="$$__client_media_url__$$/$$__client_media_path__$$/truck-icon.png" alt="" class="type-icon w-[25px] md:w-[40px]"/>
                                    </template>
                                    <template v-else>
                                        <img src="$$__client_media_url__$$/$$__client_media_path__$$/store-icon.png" alt="" class="type-icon w-[25px] md:w-[40px]"/>
                                    </template>
                                    <div class="text text-[18px] lg:text-2xl font-semibold uppercase text-white pt-2 xs:pt-0">{{slotData.statusTitle}}</div>
                                </div>
                                <div class="w-[50%] h-full">
                                    <div class="w-full h-full flex justify-center items-center gap-2 xs:gap-5 md:gap-10 lg:gap-14 relative text-primary py-1 sm:py-5 md:py-[14px] px-5 md:px-6 2xl:px-8">
                                        <div class="h-full grid gap-1 items-center">
                                            <div class="text-sm md:text-base lg:text-[18px] leading-4 md:leading-6">{{slotData.language.checkOrder.orderId}}</div>
                                            <div class="font-semibold text-sm sm:text-base lg:text-xl 2xl:text-[24px] leading-4 md:leading-6">
                                                #{{slotData.order.reference}}
                                            </div>
                                        </div>
                                        <div class="h-full border-l border-primary"></div>
                                        <div class="grid gap-1 items-center h-full">
                                            <div class="text-sm md:text-base lg:text-[18px] leading-4 md:leading-6">{{slotData.language.checkOrder.paymentMethod}}</div>
                                            <div class="font-semibold text-sm sm:text-base lg:text-xl 2xl:text-[24px] leading-4 md:leading-6">{{slotData.order.payment_method}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="inner-content-wrapper grid gap-6 w-full">
                    
                    <div class="ordered-items grid gap-6 w-full h-full bg-white p-6 shadow-lg rounded-2xl">
                        <div class="font-bold text-base md:text-lg lg:text-2xl text-[#212121] leading-[100%]">
                            {{slotData.language.checkOrder.orderedItems}}
                        </div>

                        <div class="product-list grid w-full gap-3">
                            <template v-for="product in slotData.order.order_product">
                                <div class="w-full flex-none xs:flex justify-between gap-4 border-b-[0.5px] border-[#E0E0E0] rounded-lg pt-3 pr-0 xs:pr-6 pb-4 xs:pb-6">
                                    <div class="w-full max-w-full sm:max-w-[500px] md:max-w-[700px] lg:max-w-[850px] flex gap-2 md:gap-4">
                                        <div class="item-image w-[50px] h-[50px] md:w-[65px] md:h-[65px] inline-block align-middle rounded-sm">
                                            <template v-if="product.product_image">
                                                <img :src="product.product_image" class="w-full rounded-sm overflow-hidden max-h-full" :title="product.name" alt="" loading="lazy" decoding="async"/>
                                            </template>
                                            <template v-else>
                                                <img src="$$__client_media_url__$$/$$__client_media_path__$$/no-image.png" class="w-full rounded-sm overflow-hidden max-h-full" :title="product.name" alt="" loading="lazy" decoding="async"/>
                                            </template>
                                        </div>
                                        
                                        <div class="item-detail w-[80%] xs:w-[70%] lg:w-[60%] grid gap-1 xs:gap-3 inline-block overflow-wrap-anywhere align-middle h-[max-content]">
                                            <div class="item-name text-sm md:text-base lg:text-[18px] text-[#111111] font-normal h-[max-content] max-w-[200px] xs:max-w-[180px] sm:max-w-[300px] lg:max-w-[441px]">
                                                <template v-if="product.parent_name">
                                                    <div class="w-full line-clamp-2 overflow-hidden text-ellipsis">
                                                        {{product.parent_name}}
                                                    </div>
    
                                                    <div class="flex gap-2 text-sm">
                                                        <template v-for="attr in product.attribute_value">
                                                            <template v-if="attr.is_super_attribute == '1'">
                                                                <div class="flex gap-2">
                                                                    <div class="text-[#9D9B9B]">{{attr.attribute_label}} </div>
                                                                    <span>: {{attr.value}}</span>
                                                                </div>
                                                            </template>
                                                        </template>
                                                    </div>
                                                </template>
                                                <template v-else>
                                                    <div class="w-full line-clamp-2 overflow-hidden text-ellipsis">
                                                        {{product.name}}
                                                    </div>
                                                </template>
                                            </div>
                                            <div class="item-qty max-w-[150px] flex gap-2 text-sm md:text-base md:text-lg font-normal h-[25px]">
                                                <div class="text-[#9D9B9B]">{{slotData.language.checkOrder.qty}} </div>
                                                <span class="text-[#111111]">: {{product.quantity}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item-price font-semibold text-right w-full xs:w-auto min-w-[100px] md:min-w-[180px]">
                                        <span class="w-full text-sm md:text-base md:text-lg text-[#111111]">
                                            {{slotData.display_currency}} {{formatPrice(product.price)}}
                                        </span>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>

                    <div class="w-full sm:mt-6 flex-none md:flex items-stretch gap-6 flex-justify flex-between">
                        <div class="left-section h-auto gap-1 w-full shadow-lg rounded-2xl">
                            <div class="order-details grid gap-4 md:gap-6 lg:gap-8 w-full h-auto bg-white p-6 items-start">
                                <span class="w-full font-bold text-base md:text-lg lg:text-2xl text-[#212121] h-[33px]">
                                    {{slotData.language.checkOrder.orderDetails}}
                                </span>
                                <div class="grid gap-2 md:gap-4 text-sm md:text-base lg:text-lg text-[#5A5A5A] font-normal">
                                    <div class="flex w-full h-full md:h-[25px]">
                                        <div class="flex w-2/3">
                                            <span class="w-full">{{slotData.language.checkOrder.orderId}}</span>
                                            <span class="text-right">:</span>
                                        </div>
                                        <div class="w-full text-right text-[#626262]">#{{slotData.order.reference}}</div>
                                    </div>
                                    <div class="flex w-full h-full md:h-[25px]">
                                        <div class="flex w-2/3">
                                            <span class="w-full">{{slotData.language.checkOrder.date}}</span>
                                            <span class="text-right">:</span>
                                        </div>
                                        <div class="w-full text-right text-[#626262]">{{slotData.helpers.DateFormat(slotData.order.date, 'DD MMM, YYYY')}}</div>
                                    </div>
                                    <div class="flex w-full h-full md:h-[25px]">
                                        <div class="flex w-2/3">
                                            <span class="w-full">{{slotData.language.checkOrder.paymentMethod}}</span>
                                            <span class="text-right">:</span>
                                        </div>
                                        <div class="w-full text-right text-[#626262]">{{slotData.order.payment_method}}</div>
                                    </div>
                                    <div class="flex w-full h-full md:h-[25px]">
                                        <div class="flex w-2/3">
                                            <span class="w-full">{{slotData.language.checkOrder.paymentStatus}}</span>
                                            <span class="text-right">:</span>
                                        </div>
                                        <div class="w-full text-right text-[#626262]">{{slotData.order.payment_status}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="right-section w-full h-auto gap-1 mt-4 sm:mt-6 md:mt-0 shadow-lg rounded-2xl">

                            <div class="total-summary grid gap-2 md:gap-4 md:gap-6 lg:gap-8 w-full h-auto bg-white p-6">
                                <div class="font-bold text-base md:text-lg lg:text-2xl text-[#212121] h-[33px]">
                                    {{slotData.language.checkOrder.orderSummary}}
                                </div>

                                <template v-if="slotData.order.order_charges">
                                    <div class="total-wrapper grid gap-2 md:gap-4 text-sm md:text-base lg:text-lg text-[#5A5A5A] font-normal">
                                        <template v-for="charge in slotData.order.order_charges">
                                            <template v-if="charge.charging_modle != 'NET_TOTAL'">
                                                <template v-if="charge.value != '0'">
                                                    <div class="charge flex w-full h-full md:leading-5 2xl:leading-6" :style="{order: charge.display_order}">
                                                        <div class="flex w-2/3">
                                                            <span class="w-full">{{charge.name}}
                                                                <template v-if="charge.rate">{{charge.rate}}%</template>
                                                            </span>
                                                            <span class="text-right">:</span>
                                                        </div>
                                                        <div class="w-full text-right text-[#626262]">
                                                            <template v-if="charge.charging_modle == 'DISCOUNT'">
                                                                <div class="price ml-auto">- {{slotData.display_currency}} {{ formatPrice(charge.value) }}</div>
                                                            </template>
                                                            <template v-else>
                                                                <template v-if="charge.charging_modle == 'REDEEM_POINTS'">
                                                                    <div class="price  ml-auto">- {{slotData.display_currency}} {{formatPrice(charge.value)}}</div>
                                                                </template>
                                                                <template v-else>
                                                                    <template v-if="charge.charging_modle == 'SHIPPING_DISCOUNT'">
                                                                        <div class="price  ml-auto">- {{slotData.display_currency}} {{formatPrice(charge.value)}}</div>
                                                                    </template>
                                                                    <template v-else>
                                                                        <div class="price  ml-auto"> {{slotData.display_currency}} {{formatPrice(charge.value)}}</div>
                                                                    </template>
                                                                </template>
                                                            </template>
                                                
                                                        </div>
                                                    </div>
                                                </template>
                                            </template>
                                        </template>

                                        <template v-for="charge in slotData.order.order_charges">
                                            <template v-if="charge.charging_modle == 'NET_TOTAL'">
                                                <div class="charge flex w-full h-full md:leading-5 2xl:leading-6 font-semibold text-[#111111]" style="order: 100;">
                                                    <div class="flex w-2/3">
                                                        <span class="w-full">{{slotData.language.orderHistory.charges.total}}</span>
                                                        <span class="text-right">:</span>
                                                    </div>
                                                    <div class="w-full text-right">{{slotData.display_currency}} {{formatPrice(charge.value)}}</div>
                                                </div>
                                            </template>
                                        </template>

                                        <template v-if="slotData.order.loyalty_points">
                                            <template v-if="slotData.order.order_status.text == 'Completed'">
                                                <div class="loyalty-points-wrapper flex w-full h-full md:leading-5 2xl:leading-6">
                                                    <div class="label">{{slotData.language.orderHistory.loyaltyPoints}}:</div>
                                                    <div class="value ml-auto">{{slotData.order.loyalty_points}}</div>
                                                </div>
                                            </template>
                                            <template v-else>
                                                <div class="loyalty-points-wrapper flex w-full h-full md:leading-5 2xl:leading-6">
                                                    <div class="label">{{slotData.language.orderHistory.eligibledLoyaltyPoints}}:</div>
                                                    <div class="value ml-auto">{{slotData.order.loyalty_points}}</div>
                                                </div>
                                            </template>
                                        </template>

                                        <div class="you-save-amount-wrapper  charge" style="order: 101;" v-if="slotData.order.save_total > 0">
                                            <div class="you-save-amount flex w-full h-full md:leading-5 2xl:leading-6">
                                                <div class="label">{{slotData.language.cart.discountText}}:</div>
                                                <div class="price  ml-auto">{{slotData.display_currency}} {{formatPrice(slotData.order.save_total)}}</div>
                                            </div> 

                                            <template v-if="slotData.order.applied_discount_code">
                                                <div class="applied-discount-code flex w-full h-full md:leading-5 2xl:leading-6">
                                                    <div class="label">{{slotData.language.orderHistory.appliedDiscountCode}}:</div>
                                                    <div class="price ml-auto">{{slotData.order.applied_discount_code}}</div>
                                                </div>
                                            </template>
                                        </div>

                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="error-msg block text-sm text-red-500 mt-10 font-semibold" v-if="slotData.errorMessage">
                {{slotData.errorMessage}}
            </div>
        </template>
    </template>
    <template v-else>
        <progress-bar-snippet />
    </template>
</div>