<div>
  <div
    v-if="slotData.categoryData.length && !slotData.hideHeader>0"
    class="flex md:ml-auto items-center w-full md:w-auto"
  >
    <div class="ml-0 md:ml-auto flex items-center">
      <multiselect
        id="sortBy"
        :options="slotData.sortOptions"
        track-by="value"
        v-model="slotData.sortValue"
        label="text"
        class="sort-wrapper w-full"
        select-label=""
        deselect-label=""
        selected-label=""
        placeholder="Sorting Options"
        @select="onChangeSortProperty"
      >
        <template slot="noResult">No records found.</template>
      </multiselect>
    </div>

    <div class="change-product-view-wrapper ml-2 md:ml-4">
      <list-grid-buttons-snippet />
    </div>
  </div>

  <!-- No Result section -->

  <div
    v-if="slotData.categoryData.length===0 && slotData.isProducstLoad && !slotData.hideNoResult"
    class="no-items text-center mb-12 mt-12"
  >
    <div
      class="w-full max-w-md h-60 bg-not_found bg-center bg-no-repeat bg-contain mx-auto mb-6"
    ></div>
    <span
      class="text-heading text-lg md:text-xl lg:text-2xl xl:leading-10 font-bold"
      >{{slotData.language.noResults}}</span
    >
  </div>

  <div
    v-if="!slotData.isProducstLoad"
    class="w-full h-80 flex items-center justify-center"
  >
    <svg
      class="animate-spin"
      height="32px"
      width="32px"
      fill="var(--theme-primary)"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"
        opacity=".25"
      ></path>
      <path
        d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"
      ></path>
    </svg>
    <span class="ml-3"> Loading...</span>
  </div>

  <div
    v-for="(category,index) in slotData.categoryData"
    :id="`offer_cat_${index}`"
  >
    <offer-list-template
      :categories="null"
      page="offers"
      :category_id="[`${category.id}`]"
      :category_name="category.name"
      :fromCustomList="true"
      :parentSortProperty="slotData.SortPropertyObj"
      :limit="limit"
      :columns="slotData.columns"
      :hideLoadMore="slotData.hideLoadMore"
      :parentDefaultSortOption="slotData.parentDefaultSortOption"
    />
  </div>
</div>
