<div>
  <div
    id="AddressBookPopup"
    class="fixed z-13 inset-0 overflow-y-auto"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
    :class="[ slotData.isActive ? 'block': 'hidden']"
  >
    <div
      tabindex="-1"
      aria-hidden="true"
      class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center"
    >
      <div class="relative p-4 w-full max-w-5xl h-full md:h-auto">
        <div class="relative bg-white rounded-lg shadow">
          <div class="flex justify-between items-start p-4 rounded-t border-b">
            <div class="flex items-center">
              <div>
                <h3 class="text-xl font-semibold text-black">
                  {{slotData.language.editDeliveryDetails.addressBook.title}}
                </h3>
                <h4 class="text-base font-semibold text-body">
                  <template
                    v-if="slotData.mode == 'add' && slotData.addressType == 'INFO' "
                  >
                    {{slotData.language.addressBook.addAddressPopup.addNewAddressText.billing}}
                  </template>
                  <template
                    v-else-if="slotData.mode == 'add' && slotData.addressType == 'DELIVER' "
                  >
                    {{slotData.language.addressBook.addAddressPopup.addNewAddressText.shipping}}
                  </template>
                  <template
                    v-else-if="slotData.mode == 'edit' && slotData.addressType == 'INFO' "
                  >
                    {{slotData.language.addressBook.editAddressPopup.editAddressText.billing}}
                  </template>
                  <template
                    v-else-if="slotData.mode == 'edit' && slotData.addressType == 'DELIVER' "
                  >
                    {{slotData.language.addressBook.editAddressPopup.editAddressText.shipping}}
                  </template>
                  <template v-else-if="slotData.addressType == 'INFO' ">
                    {{slotData.language.addressBook.selectAddressPopup.billingAddressText}}
                  </template>
                  <template v-else-if="slotData.addressType == 'DELIVER' ">
                    {{slotData.language.addressBook.selectAddressPopup.shippingAddressText}}
                  </template>
                </h4>
              </div>

              <button
                v-if="slotData.mode != 'add' && slotData.mode != 'edit'"
                @click="addAddress"
                type="button"
                class="text-sm md:leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none bg-primary text-white px-4 py-2.5 hover:text-white hover:bg-gray-600 hover:shadow-md ml-6"
              >
                Add New
              </button>
            </div>

            <button
              type="button"
              aria-label="address-book-button-label"
              class="text-gray-900 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
              v-on:click="closeModal"
            >
              <svg
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>

          <section class="form w-full mx-auto flex flex-col justify-center">
            <div class="flex flex-col p-4 max-h-[60vh] overflow-auto">
              <template
                v-if="slotData.mode == 'add' || slotData.mode == 'edit' || type == 'view'"
              >
                <div
                  v-if="type == 'view' && slotData.addressTypes"
                  class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 mb-6"
                  :class="{'hidden': slotData.mode == 'edit'}"
                >
                  <div id="addressTypes">
                    <label
                      class="block text-gray-600 font-semibold text-sm leading-none mb-3 order-type-title"
                    >
                      {{
                      slotData.language.editDeliveryDetails.addressBook.addressTypes
                      }}:
                    </label>

                    <div class="flex lg:justify-center">
                      <template
                        v-for="(addressType, index) in slotData.addressTypes"
                      >
                        <label
                          v-if="addressType.code == slotData.addressType || type == 'view'"
                          class="inline-flex items-center mr-3 cursor-pointer"
                        >
                          <input
                            @change="onChangeAddressType(slotData.addressType)"
                            v-model="slotData.addressType"
                            type="radio"
                            class="form-radio form-check-input appearance-none rounded-full h-4 w-4 border border-gray-500 bg-white checked:bg-primary checked:border-heading focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                            name="orderType"
                            :value="addressType.code"
                            :checked="{ 'checked': index === 0 }"
                          />
                          <span class="ml-2 text-sm">
                            <template v-if="addressType.code == 'INFO'">
                              {{slotData.language.addressBook.selectAddressPopup.billingAddressText}}
                            </template>
                            <template v-else-if="addressType.code == 'DELIVER'">
                              {{slotData.language.addressBook.selectAddressPopup.shippingAddressText}}
                            </template>
                          </span>
                        </label>
                      </template>
                    </div>
                  </div>
                </div>

                <template
                  v-if="slotData.addAddressFields[slotData.addressType] && slotData.mode == 'add' || slotData.mode == 'edit'"
                >
                  <div class="billing-address-wrp">
                    <div class="grid gap-4 mt-4 md:grid-cols-2">
                      <template
                        v-for="(field, index) in slotData.addAddressFields[slotData.addressType]"
                      >
                        <template
                          v-if="(slotData.addressType == 'INFO' && slotData.helpers.isInAddress(slotData.addressFormat.billing_address, field.variable)) || (slotData.addressType == 'DELIVER' && slotData.helpers.isInAddress(slotData.addressFormat.shipping_address, field.variable)) || field.code == 'contact_number' || (field.code == 'city' && slotData.cityListType == 'custom')"
                        >
                          <div
                            cols="12"
                            lg="6"
                            class="w-full field"
                            :class="field.code"
                          >
                            <template
                              v-if="field.code == 'country'  || field.code == 'contact_number' || (field.code == 'city' && slotData.cityListType == 'custom')"
                            >
                              <label
                                :for="field.id"
                                class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer"
                                :class="{'required': field.is_required}"
                                :data-des="field.description"
                              >
                                {{field.label}}
                                <template v-if="field.is_required">*</template>
                              </label>
                            </template>
                            <template v-if="field.code == 'country'">
                              <div class="h-12">
                                <multiselect
                                  :id="field.code"
                                  :options="slotData.countries"
                                  class="select-item h-full"
                                  track-by="name"
                                  v-model="slotData.dropdown.country"
                                  label="name"
                                  select-label=""
                                  deselect-label=""
                                  selected-label=""
                                  placeholder=""
                                  @select="onChangeCountry"
                                >
                                  <template slot="noResult"
                                    >No records found.</template
                                  >
                                </multiselect>
                              </div>
                            </template>
                            <template v-else-if="field.code == 'city' && slotData.cityListType == 'custom'">
                                <div class="h-12">
                                    <multiselect 
                                        :id="field.code"
                                        :options="slotData.cityList"
                                        class='select-item h-full' 
                                        v-model="slotData.dropdown.city"
                                        label="city"
                                        track-by="city" 
                                        :searchable="true" 
                                        :show-no-options="false"
                                        select-label=""
                                        deselect-label=""
                                        selected-label=""
                                        placeholder=""
                                        :allowEmpty="true"
                                        @select="onChangeCity">
                                        <template slot="noResult">No records found.</template>
                                    </multiselect> 
                                </div>
                            </template>

                            <template
                              v-else-if="field.code == 'contact_number'"
                            >
                              <div class="flex">
                                <div class="w-1/4">
                                  <multiselect
                                    id="calling-code"
                                    :options="slotData.countries"
                                    class="calling-code-dropdown h-full"
                                    track-by="code"
                                    v-model="slotData.dropdown.callingCode"
                                    label="calling_code"
                                    :searchable="true"
                                    :allow-empty="false"
                                    select-label=""
                                    deselect-label=""
                                    selected-label=""
                                    placeholder=""
                                    @select="onChangeCallingCode"
                                  >
                                    <template
                                      slot="option"
                                      slot-scope="props"
                                      select-label=""
                                    >
                                      <span class="calling-code-value">
                                        <img
                                          :src="props.option.flag"
                                          mr="1"
                                          class="inline-block"
                                          loading="lazy" decoding="async"
                                        />
                                        <span class="name"
                                          >{{props.option.calling_code}}</span
                                        >
                                      </span>
                                    </template>

                                    <template slot="noResult"
                                      >No records found.</template
                                    >
                                  </multiselect>
                                </div>
                                <input
                                  class="ml-2 w-3/4 py-2 px-4 md:px-5 w-full appearance-none border text-input text-xs lg:text-sm font-body rounded-md placeholder-body placeholder-slate-400 min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-12"
                                  type="text"
                                  onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45"
                                  :id="field.code"
                                  v-model="field.value"
                                  :placeholder="field.label"
                                  @input="(e)=>checkValidate(field)"
                                  maxlength="15"
                                />
                              </div>
                            </template>
                            <template v-else>
                              <form-custom-field-snippet
                                :field="field"
                                :key="index"
                              />
                            </template>

                            <template
                              v-if="field.code == 'country' || field.code == 'contact_number' || (field.code == 'city' && slotData.cityListType == 'custom')"
                            >
                              <span
                                class="error my-2 text-xs text-red-500"
                                v-if="field.error"
                              >
                                {{slotData.language.cart.enterValid}}
                                {{field.label}}
                              </span>
                            </template>
                          </div>
                        </template>
                      </template>
                    </div>
                  </div>
                  <label class="flex items-center mt-4 mb-8">
                    <input
                      v-model="slotData.is_default"
                      type="checkbox"
                      class="form-checkbox appearance-none h-4 w-4 border border-gray-500 rounded-sm bg-white checked:bg-primary checked:border-heading focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                    />
                    <span
                      class="block text-gray-600 font-semibold text-sm leading-none cursor-pointer"
                    >
                      {{slotData.language.editDeliveryDetails.addressBook.setAsDefault}}</span
                    >
                  </label>
                </template>
              </template>
              <template v-if="slotData.mode == 'list'">
                <template v-for="(item, index) in slotData.addAddressList">
                  <template v-if="item.type == checkCurrentMode()">
                    <label
                      class="break-all address-item my-2 shadow rounded-md p-4 block bg-gray-50 cursor-pointer hover:bg-gray-100 "
                      :class="{ 'bg-gray-100' : '1' == item.is_default}"
                      :data-id="item.id"
                    >
                      <div
                        class="flex flex-wrap md:flex-nowrap items-center mr-3 w-full"
                      >
                        <div class="flex">
                          <template v-if="slotData.curPage === 'manageAccount'">
                            <input
                              v-model="slotData.selectedAddress"
                              type="radio"
                              class="hidden form-radio form-check-input appearance-none rounded-full h-4 w-4 border border-gray-500 bg-white checked:bg-primary checked:border-heading focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                              name="selectedAddress"
                              :value="item.id"
                              :title="slotData.la&&nguage.editDeliveryDetails.paymentInfo.selectTitle"
                              :checked="{ 'checked': item.is_default === 1 }"
                            />
                          </template>
                          <template v-else>
                            <input
                              v-model="slotData.selectedAddress"
                              type="radio"
                              class="form-radio form-check-input appearance-none rounded-full h-4 w-4 border border-gray-500 bg-white checked:bg-primary checked:border-heading focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                              name="selectedAddress"
                              :value="item.id"
                              :title="slotData.la&&nguage.editDeliveryDetails.paymentInfo.selectTitle"
                              :checked="{ 'checked': item.is_default === 1 }"
                          /></template>

                          <div class="mx-2">
                            <span class="text-sm text-heading font-semibold">
                              {{ item.name }} {{ item.last_name }}
                              <span v-if="item.contact_number">
                                , {{item.calling_code}} {{item.contact_number}}
                              </span>

                              <span
                                v-if="item.is_default"
                                class="inline-block bg-gray-300 p-1 px-3 rounded-full text-xs ml-2 font-normal"
                              >
                                {{slotData.language.addressBook.selectAddressPopup.defaultText}}
                              </span>
                            </span>
                            <div
                              v-html="formatAddress(item)"
                              class="whitespace-pre-line text-sm text-body"
                            ></div>
                          </div>
                        </div>
                        <div
                          class="w-full md:w-auto mt-2 md:mt-0 md:ml-auto flex md:flex-col md:items-end justify-between break-keep"
                        >
                          <span
                            @click="editAddress(item.id)"
                            class="inline-flex items-center uppercase text-xs text-primary cursor-pointer hover:text-heading my-1 font-semibold"
                          >
                            {{slotData.language.addressBook.selectAddressPopup.editText}}
                            <b-icon
                              class="w-5 h-5 pl-1"
                              icon="pencil-square"
                            ></b-icon>
                          </span>
                          <span
                            @click="setAsDefault(item.id)"
                            v-if="!item.is_default"
                            class="inline-flex items-center uppercase text-xs text-primary cursor-pointer hover:text-heading my-1 font-semibold"
                          >
                            {{slotData.language.addressBook.selectAddressPopup.setAsDefaultText}}
                            <b-icon
                              class="w-5 h-5 pl-1"
                              icon="check2-circle"
                            ></b-icon>
                          </span>
                          <span
                            @click="deleteAddress(item.id, slotData.language.addressBook.deleteAddressPopup.title)"
                            v-if="!item.is_default"
                            class="inline-flex items-center uppercase text-xs text-primary cursor-pointer hover:text-heading my-1 font-semibold"
                          >
                            {{slotData.language.addressBook.deleteAddressPopup.submitText}}
                            <b-icon class="w-5 h-5 pl-1" icon="trash"></b-icon>
                          </span>
                        </div>
                      </div>
                    </label>
                  </template>
                </template>
              </template>
            </div>
            <div class="flex border-t p-2 px-4 items-center">
              <span
                v-if="slotData.message"
                class="text-sm"
                :class="[slotData.errors ? 'text-error' : 'text-success']"
              >
                {{ slotData.message }}
              </span>
              <template v-if="slotData.mode == 'list' && type != 'view'">
                <button
                  @click="selectAddress"
                  type="button"
                  class="md:text-base md:leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none bg-primary text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-gray-600 hover:shadow-md ml-auto"
                  :class="{'pointer-events-none opacity-50': slotData.loading}"
                >
                  {{slotData.language.addressBook.selectAddressPopup.selectText}}
                </button>
              </template>

              <template
                v-if="slotData.mode == 'add' || slotData.mode == 'edit'"
              >
                <button
                  @click="saveAddress"
                  type="button"
                  class="md:text-base md:leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none bg-primary text-white px-5 md:px-6 lg:px-8 py-2 md:py-3.5 lg:py-4 hover:text-white hover:bg-gray-600 hover:shadow-md ml-auto"
                  :class="{'pointer-events-none opacity-50': slotData.loading}"
                >
                  {{slotData.language.addressBook.addAddressPopup.saveText}}
                </button>
              </template>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div
    class="mask z-12 top-0 left-0 bg-black fixed w-full"
    :class="[ slotData.isActive ? 'open opacity-30 h-full': ' opacity-0 h-0']"
  ></div>
</div>