<div class="fixed inset-0 z-50 flex justify-center items-center bg-black/50">
  <div class="max-w-[400px] bg-white rounded-lg">
    <div class="flex flex-col gap-2 justify-items-center mb-6">
      <div
        class="flex justify-center w-full relative overflow-hidden min-h-[100px]"
      >
        <img
          src="$$__client_media_url__$$/$$__client_media_path__$$/emailPopupImage1.png"
          alt=""
          class="object-cover mt-[37px]"
        />
        <img
          src="$$__client_media_url__$$/$$__client_media_path__$$/wave.png"
          alt=""
          class="absolute object-cover object-center w-full"
        />
      </div>
      <div class="px-6">
        <div class="flex flex-col h-full items-center justify-items-center">
          <div class="text-center mb-6">
            <span class="font-medium text-lg text-black"
              >{{slotData.language.otpVerifyPopUp.verifyOtptitle}}</span
            >
            <p class="w-4/5 mx-auto mt-3 text-sm font-normal text-black"
            :class="[email.length>40 ? 'break-all line-clamp-2':'']"
            >
              {{slotData.language.otpVerifyPopUp.verifyOtptext1}} {{email}} {{slotData.language.otpVerifyPopUp.verifyOtptext2}}
            </p>
          </div>
          <!-- <input class="w-full mb-6" type="text" /> -->
          <div
            class="otp-wrp grid-cols-6 gap-2 grid"
            :class="[slotData.showErrormessage?'mb-1':'mb-8']"
          >
            <template v-for="(val, key) in slotData.otpArray">
              <input
                :id="'otp-' + key"
                pattern="[0-9]*"
                type="number"
                min="0"
                inputmode="numeric"
                maxlength="1"
                v-model="slotData.otpArray[key]"
                class="otp-input max-w-[50px] h-[56px] border border-primary p-0 rounded-lg text-lg bg-transparent outline-none text-center"
                @input="onChangeOtp"
                @paste="onPaste"
                @keydown="onkeydown"
                required
              />
            </template>
          </div>
          <span
            v-if="slotData.showErrormessage"
            class="text-red-500 text-xs mb-4"
            >{{slotData.language.otpVerifyPopUp.otpFailed}}</span
          >
          <button
            class="w-full bg-primary text-white rounded-md hover:opacity-90 px-4 py-3 mb-1"
            :disabled="slotData.isDisable"
            @click="handleClickVerify"
          >
            <div
              v-if="slotData.isLoading"
              class="flex justify-center items-center"
            >
              <svg
                class="w-5 h-5 mr-3 -ml-1 text-white animate-spin"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
              <span>{{slotData.language.otpVerifyPopUp.verifyingButton}}</span>
            </div>
            <span v-else>{{slotData.language.otpVerifyPopUp.verifyButton}}</span>
          </button>
          <div>
          <span v-if="!slotData.otpExpired" class="text-xs font-normal text-primary">
            {{slotData.language.otpVerifyPopUp.optAwait}}
            <span class="font-medium">
              {{ slotData.minutes.toString().padStart(2, "0") }}:{{ slotData.seconds.toString().padStart(2, "0") }}
            </span>
          </span>

          <span v-else class="text-xs font-medium text-primary">
            {{slotData.language.otpVerifyPopUp.resendOtp}}
            <span
              class="underline cursor-pointer font-medium"
              @click="resendOtp"
            >
            {{slotData.language.otpVerifyPopUp.resend}}
            </span>
          </span>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
