<div>
    <div id="orderCancellationPopup" class="fixed z-13 inset-0 overflow-y-auto" aria-labelledby="modal-title"
        role="dialog" aria-modal="true" :class="[ slotData.isActive ? 'block': 'hidden']">
        <div tabindex="-1" aria-hidden="true"
            class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center">
            <div class="relative p-4 w-full max-w-2xl h-full md:h-auto bg-white shadow rounded-lg">

                <div class="text-right">
                  <button
                    type="button"
                    aria-label="order-cancellation-button-label"
                    class="text-gray-900 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                    title="Close"
                    v-on:click="closeModal"
                  >
                    <svg
                      class="w-5 h-5"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </button>
                </div>

                <div class="relative px-2 md:px-6 pb-6">
                    <div class="w-full h-10 text-center flex items-center justify-center">
                      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 0C31.046 0 40 8.954 40 20C40 31.046 31.046 40 20 40C8.954 40 0 31.046 0 20C0 8.954 8.954 0 20 0ZM19.98 16H18C17.4902 16.0006 16.9999 16.1958 16.6293 16.5457C16.2586 16.8956 16.0355 17.3739 16.0057 17.8828C15.9758 18.3917 16.1413 18.8928 16.4685 19.2837C16.7957 19.6746 17.2598 19.9258 17.766 19.986L18 20V29.98C18 31.02 18.788 31.88 19.8 31.988L20.02 32H21C21.4206 32 21.8305 31.8674 22.1715 31.621C22.5124 31.3747 22.767 31.0271 22.899 30.6277C23.031 30.2283 23.0337 29.7975 22.9068 29.3965C22.7799 28.9955 22.5298 28.6447 22.192 28.394L22 28.268V18.02C22 16.98 21.212 16.12 20.2 16.012L19.98 16ZM20 10C19.4696 10 18.9609 10.2107 18.5858 10.5858C18.2107 10.9609 18 11.4696 18 12C18 12.5304 18.2107 13.0391 18.5858 13.4142C18.9609 13.7893 19.4696 14 20 14C20.5304 14 21.0391 13.7893 21.4142 13.4142C21.7893 13.0391 22 12.5304 22 12C22 11.4696 21.7893 10.9609 21.4142 10.5858C21.0391 10.2107 20.5304 10 20 10Z" fill="#280C8F"/>
                        </svg>
                    </div>

                    <div class="flex justify-between items-start p-4 rounded-t pb-3">
                        <h3 class="text-xl font-semibold text-[#2F2E41] text-center my-0 w-full text-3xl md:text-[32px]">
                            {{ slotData.language.orderCancellation.popup.title }}
                        </h3>
                    </div>

                    <div class="text-center color-[#5E5E5E] text-lg font-normal pb-6">
                      {{slotData.language.orderCancellation.popup.descriptionText1}} <br> {{slotData.language.orderCancellation.popup.descriptionText2}}
                      {{slotData.language.orderCancellation.popup.description}}
                    </div>

                    <div class="form-wrapper">
                        <div class="mb-3 text-black text-base">
                          {{slotData.language.orderCancellation.popup.text}}
                          <span class="font-semibold text-base">#{{slotData.order_reference}}.</span>
                        </div>
                        <span class="mb-1 text-black text-sm leading-6">
                            {{slotData.language.orderCancellation.popup.fields.reason}}*
                        </span>
                        <textarea id="cancellation-reason" v-model="slotData.formData.reason" rows="4" :maxlength="255"
                            class="px-4 py-3 flex items-center w-full rounded appearance-none transition duration-300 ease-in-out text-heading text-sm focus:outline-none focus:ring-0 bg-white border border-[#C7C7C7] rounded-lg focus:shadow focus:outline-none focus:border-heading placeholder-body required"
                            placeholder="Type your reason here..." required>
                        </textarea>
                        <span
                          class="error my-2 text-xs text-red-500"
                          v-if="slotData.fieldError && !slotData.formData.reason"
                        >
                          {{slotData.language.orderCancellation.popup.fields.reasonValidation}}
                        </span>

                        <div class="py-4 px-3 bg-[#635DCF1A] text-[#635DCF] font-normal text-base mt-4 mb-6 rounded">
                          {{slotData.language.orderCancellation.popup.infoMessage}}
                        </div>

                        <div class="flex items-end gap-3">
                          <button
                            @click="closeModal"
                            type="button"
                            class="md:text-base mt-3 md:leading-4 inline-flex items-center cursor-pointer uppercase transition ease-in-out duration-300 font-semibold text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none bg-[#E0E0E0] text-[#2F2E41] px-3 md:px-4 lg:px-6 py-2 md:py-3.5 lg:py-3 hover:shadow-md ml-auto"
                            :class="{'pointer-events-none opacity-50': slotData.loading}"
                          >
                            <span class="button-label">
                                {{slotData.language.orderCancellation.popup.cancel}}
                            </span>
                          </button>
                          
                          <button
                            @click="sendRequest"
                            type="button"
                            class="md:text-base mt-3 md:leading-4 inline-flex items-center cursor-pointer uppercase transition ease-in-out duration-300 font-semibold text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none bg-primary text-white px-3 md:px-4 lg:px-6 py-2 md:py-3.5 lg:py-3 hover:text-white hover:bg-gray-600 hover:shadow-md"
                            :class="{'pointer-events-none': slotData.loading}"
                          >
                            <span class="flex items-center button-label" v-if="slotData.loading">
                                <svg class="w-5 h-5 mr-3 -ml-1 text-white animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                                </svg>
                                {{slotData.language.processing}}
                            </span>
                            <span class="button-label" v-else>
                                {{slotData.language.orderCancellation.popup.sendRequest}}
                            </span>
                          </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
      class="mask z-12 top-0 left-0 bg-black fixed w-full"
      :class="[ slotData.isActive ? 'open opacity-30 h-full': ' opacity-0 h-0']"
    ></div>
</div>