<div>
  <!-- initial popup -->
  <div
    v-if="slotData.showPopup"
    class="fixed inset-0 z-50 flex justify-center items-center bg-black/50"
  >
    <div
      class="rounded-lg flex flex-col w-full max-w-[400px] sm:max-w-[800px] bg-white gap-2 px-6 pt-6 pb-8"
    >
      <div class="flex justify-between items-start mb-3">
        <span
          class="text-black font-semibold w-full sm:w-1/2 mx-auto text-center text-base sm:text-xl"
        >
          {{slotData.language.AccountCreate.title}}
        </span>
        <div @click="closePopup">
          <svg
            class="cursor-pointer"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.4251 12.975L7.5251 17.875C7.34176 18.0583 7.10843 18.15 6.8251 18.15C6.54176 18.15 6.30843 18.0583 6.1251 17.875C5.94176 17.6917 5.8501 17.4583 5.8501 17.175C5.8501 16.8917 5.94176 16.6583 6.1251 16.475L11.0251 11.575L6.1251 6.675C5.94176 6.49167 5.8501 6.25833 5.8501 5.975C5.8501 5.69167 5.94176 5.45833 6.1251 5.275C6.30843 5.09167 6.54176 5 6.8251 5C7.10843 5 7.34176 5.09167 7.5251 5.275L12.4251 10.175L17.3251 5.275C17.5084 5.09167 17.7418 5 18.0251 5C18.3084 5 18.5418 5.09167 18.7251 5.275C18.9084 5.45833 19.0001 5.69167 19.0001 5.975C19.0001 6.25833 18.9084 6.49167 18.7251 6.675L13.8251 11.575L18.7251 16.475C18.9084 16.6583 19.0001 16.8917 19.0001 17.175C19.0001 17.4583 18.9084 17.6917 18.7251 17.875C18.5418 18.0583 18.3084 18.15 18.0251 18.15C17.7418 18.15 17.5084 18.0583 17.3251 17.875L12.4251 12.975Z"
              fill="#212121"
            />
          </svg>
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div
          class="p-6 rounded-lg grid grid-cols-1 justify-items-center text-center shadow-[2px_2px_8px_-2px_rgba(0,_0,_0,_0.25)]"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_3635_231)">
              <path
                d="M16.5 9C16.5 10.1935 16.0259 11.3381 15.182 12.182C14.3381 13.0259 13.1935 13.5 12 13.5C10.8065 13.5 9.66193 13.0259 8.81802 12.182C7.97411 11.3381 7.5 10.1935 7.5 9C7.5 7.80653 7.97411 6.66193 8.81802 5.81802C9.66193 4.97411 10.8065 4.5 12 4.5C13.1935 4.5 14.3381 4.97411 15.182 5.81802C16.0259 6.66193 16.5 7.80653 16.5 9Z"
                fill="var(--theme-primary)"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 12C0 8.8174 1.26428 5.76516 3.51472 3.51472C5.76516 1.26428 8.8174 0 12 0C15.1826 0 18.2348 1.26428 20.4853 3.51472C22.7357 5.76516 24 8.8174 24 12C24 15.1826 22.7357 18.2348 20.4853 20.4853C18.2348 22.7357 15.1826 24 12 24C8.8174 24 5.76516 22.7357 3.51472 20.4853C1.26428 18.2348 0 15.1826 0 12ZM12 1.5C10.0227 1.50011 8.08555 2.05854 6.4116 3.11104C4.73766 4.16354 3.39492 5.66732 2.53795 7.44929C1.68097 9.23127 1.34458 11.219 1.5675 13.1837C1.79042 15.1485 2.56358 17.0103 3.798 18.555C4.863 16.839 7.2075 15 12 15C16.7925 15 19.1355 16.8375 20.202 18.555C21.4364 17.0103 22.2096 15.1485 22.4325 13.1837C22.6554 11.219 22.319 9.23127 21.4621 7.44929C20.6051 5.66732 19.2623 4.16354 17.5884 3.11104C15.9145 2.05854 13.9773 1.50011 12 1.5Z"
                fill="var(--theme-primary)"
              />
            </g>
            <defs>
              <clipPath id="clip0_3635_231">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>

          <span class="text-primary font-medium">{{slotData.language.AccountCreate.guestAccount.guestTitle}}</span>
          <p>{{slotData.language.AccountCreate.guestAccount.guestText}}</p>
          <button
            class="w-full bg-primary text-white rounded-md hover:opacity-90 py-3 px-4 cursor-pointer"
            @click="guestLoggin"
          >
            {{slotData.language.AccountCreate.guestAccount.guestcheckout}}
          </button>
        </div>
        <div
          class="p-6 rounded-lg grid grid-cols-1 justify-items-center text-center shadow-[2px_2px_8px_-2px_rgba(0,_0,_0,_0.25)]"
        >
          <svg
            width="30"
            height="24"
            viewBox="0 0 30 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M29.1703 12.7078L23.7703 10.5984C23.5781 10.5234 23.1797 10.425 22.7297 10.5984L17.3297 12.7078C16.8281 12.9047 16.5 13.3641 16.5 13.875C16.5 19.1062 19.7203 22.725 22.7297 23.9016C23.1797 24.075 23.5734 23.9766 23.7703 23.9016C26.175 22.9641 30 19.7109 30 13.875C30 13.3641 29.6719 12.9047 29.1703 12.7078ZM23.25 21.675V12.8109L27.7266 14.5594C27.4641 18.6422 24.8719 20.9062 23.25 21.675ZM10.5 12C13.8141 12 16.5 9.31406 16.5 6C16.5 2.68594 13.8141 0 10.5 0C7.18594 0 4.5 2.68594 4.5 6C4.5 9.31406 7.18594 12 10.5 12ZM15 13.875C15 13.7578 15.0375 13.65 15.0516 13.5375C14.9344 13.5328 14.8219 13.5 14.7 13.5H13.9172C12.8766 13.9781 11.7188 14.25 10.5 14.25C9.28125 14.25 8.12813 13.9781 7.08281 13.5H6.3C2.82187 13.5 0 16.3219 0 19.8V21.75C0 22.9922 1.00781 24 2.25 24H18.75C19.0688 24 19.3734 23.9297 19.65 23.8125C17.1188 21.8016 15 18.3422 15 13.875Z"
              fill="var(--theme-primary)"
            />
          </svg>
          <span class="text-primary font-medium">{{slotData.language.AccountCreate.Account.Title}}</span>
          <p>
            {{slotData.language.AccountCreate.Account.Text}}
          </p>
          <button
            class="w-full bg-primary text-white rounded-md hover:opacity-90 px-4 py-3 cursor-pointer"
            @click="callingForm"
          >
          {{slotData.language.AccountCreate.Account.Button}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- profile details -->

  <div v-if="slotData.showFormPopup">
    <div
      class="fixed inset-0 z-50 flex justify-center items-center bg-black/50"
    >
      <div class="relative bg-white rounded-md w-full max-w-[450px] mx-4">
        <!-- Header -->
        <div class="flex justify-between items-center m-6">
          <div class="text-lg font-semibold text-black">{{slotData.language.personalDetailsPopUp.title}}</div>
          <div @click="closeFormPopup" class="cursor-pointer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="currentColor"
              class="bi bi-x"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
              ></path>
            </svg>
          </div>
        </div>

        <!-- Form -->
        <div class="mx-6">
          <form
            autocomplete="off"
            novalidate
            @submit.prevent="handleSubmit"
            id="popup-form"
            action="/submit"
          >
            <div
              v-for="item in slotData.customFields"
              :key="item.input_id"
              class="mb-4"
            >
              <label
                :for="item.label_for"
                class="block mb-1 text-sm font-medium text-gray-700"
                >{{ item.lable_text }}*</label
              >

              <div v-if="item.type === 'phone'" class="flex">
                <!-- {{slotData.countries[[0]].calling_code}} -->
                <div class="w-1/5 border border-gray-300 rounded-md">
                  <multiselect
                    id="calling-code"
                    name="calling-code"
                    :options="slotData.countries"
                    class="calling-code-dropdown h-full no-border"
                    track-by="code"
                    v-model="slotData.form.callingCode"
                    label="calling_code"
                    :searchable="true"
                    :allow-empty="false"
                    select-label=""
                    deselect-label=""
                    selected-label=""
                    placeholder=""
                  >
                    <template slot="singleLabel" slot-scope="{ option }">
                      <span class="h-[23px] mt-1 block"
                        >{{ option.calling_code }}</span
                      >
                    </template>

                    <template slot="option" slot-scope="props" select-label="">
                      <span class="calling-code-value flex items-center gap-1">
                        <img
                          :src="props.option.flag"
                          class="inline-block w-4 h-3"
                          mr="1"
                          loading="lazy"
                          decoding="async"
                        />
                        <span class="name"
                          >{{ props.option.calling_code }}</span
                        >
                      </span>
                    </template>

                    <template slot="noResult">
                      <span class="block">{{slotData.language?.otpVerifyPopUp?.noRecords}}</span>
                    </template>
                  </multiselect>
                </div>

                <input
                  class="ml-2 w-4/5 py-2 px-4 border rounded-md h-12 focus:outline-none focus:ring-2 focus:border-blue-500"
                  type="tel"
                  id="contact_number"
                  v-model="formValues[item.input_name]"
                  maxlength="15"
                  :placeholder="item.placeholder"
                  :pattern="item.pattern"
                  :maxlength="item.maxlength"
                  @input="(e)=>{handleFieldInput(e,item.reg&&item.reg, item.input_id)}"
                />
              </div>

              <input
                v-else
                :id="item.input_id"
                :name="item.input_name"
                :type="item.type"
                :placeholder="item.placeholder"
                v-model="formValues[item.input_name]"
                :pattern="item.pattern&&item.pattern"
                class="w-full px-2 py-2 border border-gray-300 rounded-md h-12 focus:outline-none focus:ring-2 sm:min-w-96"
                :maxlength="item.maxlength"
                @input="(e)=>{handleFieldInput(e,item.reg&&item.reg, item.input_id)}"
              />
              <div class="min-h-4">
                <span
                  v-if="item.isError && !item.requiredMsg"
                  class="text-red-500 text-xs"
                  >{{item.errorText}}</span
                >
                <span v-if="item.requiredMsg" class="text-red-500 text-xs"
                  >{{item.requiredText}}</span
                >
              </div>
            </div>
            <div v-if="false" class="flex justify-start">
              <input
                class="mb-auto mr-1"
                type="checkbox"
                id="profile-checkbox"
                required="false"
              />
              <label class="text-xs font-normal" for="profile-checkbox"
                >{{slotData.language.personalDetailsPopUp.consentText}}</label
              >
            </div>
            <!-- Buttons -->
            <div class="flex justify-center my-6 space-x-4">
              <button
                type="submit"
                class="w-full h-10 bg-primary text-white rounded-md hover:opacity-90"
                :disabled="slotData.isLoading"
              >
                <div
                  v-if="slotData.isLoading"
                  class="flex justify-center items-center"
                >
                  <svg
                    class="w-5 h-5 mr-3 -ml-1 text-white animate-spin"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <circle
                      class="opacity-25"
                      cx="12"
                      cy="12"
                      r="10"
                      stroke="currentColor"
                      stroke-width="4"
                    ></circle>
                    <path
                      class="opacity-75"
                      fill="currentColor"
                      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                    ></path>
                  </svg>
                  <span>{{slotData.language.AccountCreate.guestAccount.guestSaving}}</span>
.                </div>
                <span v-else>{{slotData.language.AccountCreate.guestAccount.guestSave}}</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- email otp verification popup -->
  <div v-if="slotData.showEmailPopup">
    <email-otp-verification-section
      :email="formValues.email"
      @otpFromEmailpopup="getOTPfromChild"
      @resendOtpRequest="handleResendOtp"
    />
  </div>
</div>
