<div id="SocialLoginForm" class="relative p-4 w-full max-w-xl h-full md:h-auto">
    <div class="flex flex-col items-center justify-center mb-6 w-full">
        <template v-if="slotData.showOtpVerificationSection">
          <h1 class="social-login-form-title text-lg md:text-xl xl:text-2xl font-bold text-heading mb-4 xl:mb-5 mt-3">
            {{slotData.language.socialLoginForm.verifyAccountText}}
          </h1>
        </template>
        <template v-else>
          <div class="relative w-20 h-20 rounded-full bg-green-100 flex items-center justify-center shadow-md">
              <img class="w-15 h-15 icon-success object-center object-contain mx-auto"
              src="$$__client_media_url__$$/$$__client_media_path__$$/success-icon.png"
              alt="success" 
              loading="lazy" decoding="async"
              />
          </div>
          <h1 class="social-login-form-title text-lg md:text-xl xl:text-2xl font-bold text-heading mt-3">
            {{slotData.language.socialLoginForm.title}}
          </h1>
          <span class="social-login-form-subtitle text-md md:text-md xl:text-xl text-heading mb-4 xl:mb-5">
            {{slotData.language.socialLoginForm.subTitle}}
          </span>
        </template>

        <span class="social-login-form-description w-full text-sm leading-5">
          <template v-if="slotData.showOtpVerificationSection">
              <span class="block text-gray-600 font-medium text-base mb-8 text-center leading-5">
                  {{slotData.language.socialLoginForm.verifyEmailText}} ({{slotData.formData.email}})
                  <template v-if="slotData.contact">
                      {{slotData.language.socialLoginForm.verifyContactText}} ({{slotData.contact}})
                  </template>
              </span>

              <span class="block text-gray-600 font-medium text-base mb-3 text-center leading-5">
                  {{slotData.language.socialLoginForm.enterOtpText}}
              </span>
          </template>
          <template v-else>
            {{slotData.language.socialLoginForm.description}}
          </template>
        </span>
    </div>

    <form @submit="formSubmit" class="social-login-form flex flex-col justify-center" novalidate>
      <div class="flex flex-col space-y-4">

        <!-- verify account form for two factor authentication -->
        <template v-if="!slotData.showOtpVerificationSection">
          <!-- name field -->
          <div class="block w-full field name">
            <div
              :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.socialLoginForm.fields.name">
              <label for="social-name"
                class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer required">
                {{slotData.language.socialLoginForm.fields.name}}
                *
              </label>
              <input
                class="xx py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12 placeholder-slate-400"
                type="text" id="social-name" v-model="slotData.formData.name"
                :placeholder="slotData.language.socialLoginForm.fields.name" maxlength="250"
                required />
            </div>
  
            <p v-if="slotData.formData.nameError" class="error my-2 text-xs text-red-500">
              {{slotData.language.cart.enterValid + ' ' +
              slotData.language.socialLoginForm.fields.name}}
            </p>
          </div>
  
          <div class="block flex flex-col lg:flex-row space-y-4 lg:space-y-0">
            <!-- phone number field -->
            <div class="w-full mt-2 md:mt-0 field contact-number">
              <div
                :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.socialLoginForm.fields.telephone">
                <label for="social-contact-number"
                  class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer">
                  {{slotData.language.socialLoginForm.fields.telephone}}
                </label>
  
                <div class="contact-wrapper">
                  <div class="flex">
                    <div class="w-1/4 xs:w-2/4">
                      <!-- calling code -->
                      <multiselect id="calling_code" :options="slotData.countries"
                        class="calling-code-dropdown h-full" track-by="code" v-model="slotData.formData.callingCode"
                        label="calling_code" :searchable="true" :allow-empty="false" select-label="" deselect-label=""
                        selected-label="" placeholder="">
                        <template slot="singleLabel" slot-scope="{ option }">
                          <span class="h-[23px] mt-1 block">{{ option.calling_code }}</span>
                        </template>
  
                        <template slot="option" slot-scope="props" select-label="">
                          <span class="calling-code-value">
                            <img :src="props.option.flag" mr="1" class="inline-block" alt="flag" loading="lazy" decoding="async"/>
                            <span class="name">{{props.option.calling_code}}</span>
                          </span>
                        </template>
  
                        <template slot="noResult">
                          <span class="block">No records found.</span>
                        </template>
                      </multiselect>
                    </div>
  
                    <input
                      class="ml-2 w-3/4 py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12 placeholder-slate-400"
                      type="text" id="social-contact-number" v-model="slotData.formData.contact"
                      :placeholder="slotData.language.socialLoginForm.fields.telephone"
                      maxlength="20" />
                  </div>
                </div>
              </div>
  
              <p v-if="slotData.formData.contactInvalid" class="error my-2 text-xs text-red-500">
                {{slotData.language.cart.enterValid + ' ' +
                slotData.language.socialLoginForm.fields.telephone}}
              </p>
            </div>
          </div>
  
          <div class="social-login-form-email block">
            <label for="social-email"
              class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer required">
              {{slotData.language.socialLoginForm.fields.email}} *
            </label>
            <input type="email" id="social-email" :placeholder="slotData.language.socialLoginForm.fields.email"
              v-model="slotData.formData.email"
              class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body placeholder-slate-400 min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12 required" maxlength="250"/>
  
            <p v-if="slotData.formData.emailError" class="my-2 text-xs text-red-500">
              {{slotData.language.socialLoginForm.errors.emailEmpty}}
            </p>
            <p v-if="slotData.formData.emailInvalid" class="my-2 text-xs text-red-500">
              {{slotData.language.socialLoginForm.errors.emailInvalid}}
            </p>
          </div>
        </template>
        <template v-else>
          <div class="block">
              <!-- OTP input fields -->
              <div class="otp-wrp grid-cols-6 gap-2 grid">
                  <template v-for="(val, key) in slotData.otpArray">
                      <input :id="'social-otp-' + key" pattern="[0-9]*" type="number" min="0" inputmode="numeric"
                          v-model="slotData.otpArray[key]"
                          class="otp-input w-[100%] h-[56px] border border-primary p-0 rounded-lg text-lg bg-transparent outline-none text-center"
                          @input="onChangeOtp"
                          @paste="onPaste"
                          @keydown="onkeydown" required />
                  </template>
              </div>
          </div>
        </template>

        

        <div class="error-msg text-center my-2 text-xs text-red-500" v-if="slotData.submitError">
          {{slotData.submitError}}
        </div>

        <template v-if="slotData.showOtpVerificationSection">
            <div class="block text-center mt-6 mb-4">
              <template v-if="slotData.submitLoading">
                  <!-- processing loader -->
                  <span class="button-label flex justify-center">
                      <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-primary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                      </svg>
                      {{slotData.language.processing}}
                  </span>
              </template>
              <template v-else>
                  <!-- resend button -->
                  <span class="text-sm">{{slotData.language.socialLoginForm.notReceiveOtpText}}</span>
                  <span v-on:click="onClickResend" class="text-primary pl-1 font-semibold" :class="[(slotData.resendMinutes + slotData.resendSeconds) > 0 ? 'opacity-50 pointer-events-none' : 'cursor-pointer']">
                      {{slotData.language.socialLoginForm.resendOtpText}}
                      <template v-if="(slotData.resendMinutes + slotData.resendSeconds) > 0">
                          : <template v-if="slotData.resendMinutes > 0">{{slotData.resendMinutes}}m </template>
                          <template v-if="slotData.resendSeconds > 0">{{slotData.resendSeconds}}s </template>
                      </template>
                  </span>
              </template>
          </div>
        </template>
        <template v-else>
          <!-- Complete Profile button -->
          <div class="social-login-form-submit form-field row justify-content-end">
            <div class="col-md-3 col-sm-12">
              <button type="submit" id="social-login-submit-button"
                class="submit-button text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none bg-primary text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-gray-600 hover:shadow-cart h-11 md:h-12 w-full mt-1.5">
                <span class="button-label" v-if="slotData.submitLoading">
                  <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                    </path>
                  </svg>
                </span>
                <span class="button-label" v-else>
                  {{slotData.language.socialLoginForm.fields.submit}}
                </span>
              </button>
            </div>
          </div>

        
          <!-- Back to Login button -->
          <div class="social-login-form-footer text-sm sm:text-base text-body text-center mt-5 mb-1">
            <span class="form-label">
              {{slotData.language.socialLoginForm.backToLoginText}}
              <a
                href="/login"
                class="text-sm sm:text-base text-heading underline font-bold hover:no-underline focus:outline-none"
              >
                {{slotData.language.socialLoginForm.login}}
              </a>
            </span>
          </div>
        </template>
      </div>
    </form>
</div>