<div>
    <div class="section-title">
        <h2 class="text-lg md:text-xl xl:text-2xl font-bold text-heading mb-6 xl:mb-8 mt-0"> {{ slotData.language.editDeliveryDetails.tabs.user.billingText }} </h2>
    </div>  
    <div class="item-wrapper">
        <section v-if="slotData.settings.enable_address_separation != '1'" class="form w-full mx-auto flex flex-col justify-center ">

            <div class="flex flex-col space-y-4 lg:space-y-5 f">

                <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0">
                    <!-- name field -->
                    <div class="w-full lg:w-1/2 field name">
                        <div 
                            :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.name">
                            <label for="name" class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer required"> 
                                {{slotData.language.editDeliveryDetails.userInfo.formLabels.name}} 
                            </label>
                            <input class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12" type="text" id="name" 
                                        v-model="slotData.formData.name" 
                                        :state="validateState('name', null, true)" 
                                        :placeholder="slotData.language.editDeliveryDetails.userInfo.formLabels.name"
                                        maxlength="240" required />
                            
                        </div>

                        <p v-if="slotData.formData.nameInvalid" class="error my-2 text-xs text-red-500">
                            {{slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.name}} 
                        </p>
                
                    </div>

                    <!-- phone number field -->
                    <div cols="12" lg="6" class="w-full lg:w-1/2 lg:ml-3 mt-2 md:mt-0 field contact-number">
                        <div 
                            :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.contactNumber"
                            :state="validateState('contact', slotData.pattern.contact, true)">

                            <label for="contact" class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer required"> 
                                {{slotData.language.editDeliveryDetails.userInfo.formLabels.contactNumber}} 
                            </label>

                            <div class="contact-wrapper">

                                <div class="flex">
                                    <div class="w-1/4">
                                    <!-- calling code -->
                                        <multiselect id="calling-code" :options="slotData.countries" class='calling-code-dropdown h-full' track-by="code"  v-model="slotData.formData.calling_code" label="calling_code" :searchable="true" :allow-empty="false" select-label="" deselect-label="" selected-label="" placeholder=""
                                        >
                                            <template slot="option" slot-scope="props" select-label="">
                                                <span class="calling-code-value">
                                                    <img :src="props.option.flag" mr="1" class="inline-block" loading="lazy" decoding="async"/>
                                                    <span class='name'>{{props.option.calling_code}}</span>
                                                </span>
                                            </template>

                                            <template slot="noResult">No records found.</template>
                                        </multiselect>
                                    </div>

                                    <input class="ml-2 w-3/4 py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12" type="tel" id="contact-number" v-model="slotData.formData.contact" 
                                            :placeholder="slotData.language.editDeliveryDetails.userInfo.formLabels.contactNumber"
                                            maxlength="15" />
                                  
                                </div>
                                
                            </div>
                        </div>

                        <p v-if="slotData.formData.contactInvalid" class="error my-2 text-xs text-red-500">
                            {{slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.contactNumber}} 
                        </p>
                
                    </div>
                </div>

                <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0">
                    <!-- email field -->
                    <div cols="12" lg="6" class="w-full lg:w-1/2 field email">
                        <div 
                            :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.email" >
                            <label for="email" class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer" :class="{'required': slotData.settings.user_info_required_fields && slotData.settings.user_info_required_fields.includes('email')}"> 
                            {{slotData.language.editDeliveryDetails.userInfo.formLabels.email}} 
                            </label>
                            <input class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12" type="email" id="email" 
                                        v-model="slotData.formData.email" 
                                        :state="validateState('email', slotData.pattern.email, slotData.settings.user_info_required_fields && slotData.settings.user_info_required_fields.includes('email'))"
                                        autocomplete="off" 
                                        :placeholder="slotData.language.editDeliveryDetails.userInfo.formLabels.email"
                                        maxlength="255" />
                            
                        </div>

                        <p v-if="slotData.formData.emailInvalid" class="error my-2 text-xs text-red-500">
                            {{slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.email}}
                        </p>
                    </div>

                    <!-- address field -->
                    <div cols="12" lg="6" class="w-full lg:w-1/2 lg:ml-3 mt-2 md:mt-0 field address">
                        <div 
                            :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.address" >
                            <label for="address" class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer" :class="{'required': slotData.settings.user_info_required_fields && slotData.settings.user_info_required_fields.includes('address')}"> 
                            {{slotData.language.editDeliveryDetails.userInfo.formLabels.address}} 
                            </label>
                            <input class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12" type="text" id="address" 
                                    v-model="slotData.formData.address" 
                                    :state="validateState('address', null, slotData.settings.user_info_required_fields && slotData.settings.user_info_required_fields.includes('address'))"
                                    :placeholder="slotData.language.editDeliveryDetails.userInfo.formLabels.address"
                                    maxlength="255" />
                            
                        </div>

                        <p v-if="slotData.formData.addressInvalid" class="error my-2 text-xs text-red-500">
                            {{slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.address}} 
                        </p>
                    </div>
                </div>


                <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0">
                    <!-- state field -->
                    <div cols="12" lg="6" class="w-full lg:w-1/2 field state">
                        <div 
                            :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.state" >
                            <label for="state" class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer" :class="{'required': slotData.settings.user_info_required_fields && slotData.settings.user_info_required_fields.includes('state')}"> 
                            {{slotData.language.editDeliveryDetails.userInfo.formLabels.state}} 
                            </label>
                            <input class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12" type="text" id="state" 
                                    v-model="slotData.formData.state" 
                                    :state="validateState('state', null, slotData.settings.user_info_required_fields && slotData.settings.user_info_required_fields.includes('state'))"
                                    :placeholder="slotData.language.editDeliveryDetails.userInfo.formLabels.state"
                                    maxlength="255" />
                            
                        </div>

                        <p v-if="slotData.formData.stateInvalid" class="error my-2 text-xs text-red-500">
                            {{slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.state}} 
                        </p>
                    </div>

                    <!-- country field -->
                    <div cols="12" lg="6" class="w-full lg:w-1/2 lg:ml-3 mt-2 md:mt-0 field country">
                        <div 
                            :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.country" >
                            <label for="country" class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer" :class="{'required': slotData.settings.user_info_required_fields && slotData.settings.user_info_required_fields.includes('country')}"> 
                            {{slotData.language.editDeliveryDetails.userInfo.formLabels.country}} 
                            </label>
                                <multiselect
                                    id="country"
                                    :options="slotData.countries"
                                    class='select-item h-11 md:h-12' 
                                    track-by="name" 
                                    v-model="slotData.formData.country"
                                    label="name"
                                    select-label=""
                                    deselect-label=""
                                    selected-label=""
                                    placeholder=""
                                    @select="onChangeCountry"
                                    >
                                    <template slot="noResult">
                                        <span class="block">No records found.</span>
                                    </template>
                                </multiselect> 
                        </div>

                        <p v-if="slotData.formData.countryInvalid" class="error my-2 text-xs text-red-500">
                            {{slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.country}} 
                        </p>
                    </div>
                </div>

                <div class="flex flex-col lg:flex-row space-y-4 lg:space-y-0">
                    <!-- city field -->
                    <div cols="12" lg="6" class="w-full lg:w-1/2 field city">
                        <div 
                            :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.city" >
                            <label for="city" class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer" :class="{'required': slotData.settings.user_info_required_fields && slotData.settings.user_info_required_fields.includes('city')}"> 
                            {{slotData.language.editDeliveryDetails.userInfo.formLabels.city}} 
                            </label>
                                <multiselect
                                    id="city"
                                    :options="slotData.cityList"
                                    class='select-item h-11 md:h-12' 
                                    v-model="slotData.formData.city"
                                    label="city"
                                    :show-no-options="false"
                                    select-label=""
                                    deselect-label=""
                                    selected-label=""
                                    :placeholder="slotData.language.editDeliveryDetails.userInfo.formLabels.city"
                                    :taggable="true"
                                    @tag="addNewCity"
                                    @select="onChangeCity"
                                    >

                                    <template slot="noResult">
                                        <span class="block">No records found.</span>
                                    </template>
                                </multiselect>
                        </div>

                        <p v-if="slotData.formData.cityInvalid" class="error my-2 text-xs text-red-500">
                            {{slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.city}} 
                        </p>
                    </div>

                    <!-- postal code field -->
                    <div cols="12" lg="6" class="w-full lg:w-1/2 lg:ml-3 mt-2 md:mt-0 field postal_code">
                        <div 
                            :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.postalCode"
                            >

                            <label for="postal_code" class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer" :class="{'required': slotData.settings.user_info_required_fields && slotData.settings.user_info_required_fields.includes('postal_code')}"> 
                            {{slotData.language.editDeliveryDetails.userInfo.formLabels.postalCode}} 
                            </label>

                            <input class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12" type="text" id="postal-code" v-model="slotData.formData.postal_code" 
                                    :placeholder="slotData.language.editDeliveryDetails.userInfo.formLabels.postalCode"
                                    :state="validateState('postal_code', slotData.pattern.postalCode, slotData.settings.user_info_required_fields &&slotData.settings.user_info_required_fields.includes('postal_code'))"
                                    @change="onChangePostalCode"
                                    maxlength="20" />
                            
                        </div>

                        <p v-if="slotData.formData.postalCodeInvalid" class="error my-2 text-xs text-red-500">
                            {{slotData.language.cart.enterValid + ' ' + slotData.language.editDeliveryDetails.userInfo.formLabels.postalCode}} 
                        </p>
                    </div>
                </div>
                <!-- custom fields -->
                <template v-if="slotData.customFields">
                    <template v-for="field in slotData.customFields">
                        <div cols="12" lg="6" class="w-full lg:w-1/2 field" :class="field.code">
                            <form-custom-field-snippet :field="field"  />
                        </div>
                    </template>
                </template>
            </div>

        </section>
        <section v-else class="form w-full mx-auto flex flex-col justify-center ">


           

              <!--   <div class="delivery-address-wrapper border p-6 rounded-md mb-4" v-if="slotData.userInfo.address || slotData.userInfo.city || slotData.userInfo.state || slotData.userInfo.country" >
                    <div class="delivery-address">
                        {{ slotData.language.editDeliveryDetails.deliveryInfo.shipping.deliveryAddress }}: 

                        <div class="address">
                            <template v-if="slotData.userInfo.address">
                                {{ slotData.userInfo.address }},
                            </template>

                            <template v-if="slotData.userInfo.city">
                                {{ slotData.userInfo.city }},
                            </template>

                            <template v-if="slotData.userInfo.state">
                                {{ slotData.userInfo.state }},
                            </template>

                            <template v-if="slotData.userInfo.country && slotData.userInfo.country.name">
                                {{ slotData.userInfo.country.name }}
                            </template>
                            <template v-else>
                                {{ slotData.userInfo.country }}
                            </template>

                        </div>
                    </div>
                    <progress-bar-snippet v-if="!slotData.shippingLoaded"  />
                </div> -->

                <label class="flex items-center mb-4">
                    <input type="checkbox" class="form-checkbox appearance-none h-4 w-4 border border-gray-500 rounded-sm bg-white checked:bg-primary checked:border-heading focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" :checked="diffbilling" @click="switchBilling">
                    <span class="ml-2">Use different billing address</span>
                </label>
                            

                <template v-if="slotData.settings.sys_attribute && diffbilling">
                    <div class="grid gap-4 mt-4 md:grid-cols-2">
                        <template v-for="field in slotData.settings.sys_attribute">

                            <template v-if="slotData.helpers.InArray('INFO', field.type)">          
                                <div cols="12" lg="6" class="w-full field" :class="field.code">

                                    <template v-if="field.code == 'country' || field.code == 'city' || field.code == 'contact_number'">
                                        <label :for="field.id" class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer" :class="{'required': field.is_required}"> 
                                            {{field.label}} 
                                        </label>
                                    </template>
    
    
                                    <template v-if="field.code == 'country'">
                                        <multiselect :id="field.code" :options="slotData.countries" class='select-item h-12' track-by="name" v-model="slotData.formData.country" label="name" select-label="" deselect-label="" selected-label="" placeholder="" @select="onChangeCountry">
                                            <template slot="noResult">No records found.</template>
                                        </multiselect>        
                                    </template>
                                    <template v-else-if="field.code == 'city'">
                                        <multiselect :id="field.code" :options="slotData.cityList" class="select-item h-12" v-model="slotData.formData.city" track-by="city" label="city" select-label="" deselect-label="" selected-label="" placeholder="" @select="onChangeCity" :showNoOptions="false">
                                            <template slot="noResult">No records found.</template>
                                        </multiselect>  
                                    </template>
                                    <template v-else-if="field.code == 'contact_number'">
                                        <div class="flex">
                                            <div class="w-1/4">
                                                <multiselect id="calling-code" :options="slotData.countries" class='calling-code-dropdown h-full' track-by="code"  v-model="slotData.formData.calling_code" label="calling_code" :searchable="true" :allow-empty="false" select-label="" deselect-label="" selected-label="" placeholder=""
                                                    >
                                                    <template slot="option" slot-scope="props" select-label="">
                                                        <span class="calling-code-value">
                                                            <img :src="props.option.flag" mr="1" class="inline-block" loading="lazy" decoding="async" />
                                                            <span class='name'>{{props.option.calling_code}}</span>
                                                        </span>
                                                    </template>

                                                    <template slot="noResult">No records found.</template>
                                                </multiselect>
                                            </div>
                                            <input class="ml-2 w-3/4 py-2 px-4 md:px-5 w-full appearance-none border text-input text-xs lg:text-sm font-body rounded-md placeholder-body min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-12" type="tel" :id="field.code" v-model="slotData.formData.contact" :placeholder="field.name"
                                            maxlength="15" />
                                        </div>
                                    </template>

                                    <template v-else>
                                        <form-custom-field-snippet :field="field"  />
                                    </template>   
                                </div>
                            </template>
                        </template>
                    </div>
            </template>
        </section>
    </div>
</div>