<ul class="sub-category-wrapper pl-6 pr-4 py-1 my-0" v-if="activeChildren">
    <template v-for="category in activeChildren">
      <li class="category subcategory my-0" :data-category="category.id" :data-name="category.name" :key="category.id">
        <div class="flex items-center">
          <a
            :href="'/' + category?.url_rewrite?.request_path"
            class="block px-1 pt-1 text-gray-500 hover:text-gray-700"
          >
            <span class="category-data">
              <span class="category-name">
                {{ category.name }}
              </span>
            </span>
          </a>
        </div>
  
        <!-- Render only this category's children -->
        <template v-if="category.active_children && category.active_children.length > 0">
          <all-child-category-snippet :activeChildren="category.active_children" />
        </template>
      </li>
    </template>
  </ul>
  