<div class="cart-item rounded-lg shadow-lg md:w-96 bg-white fixed left-2 md:left-auto md:right-4 top-[100px] p-2 flex  overflow-hidden" :class="{'enable' : enable}">
    <span class="loader-one-way w-full h-0.5 absolute top-0 left-0"></span>

    <template v-if="thumb != ''">
        <div class="w-16 h-16 min-w-[64px] md:w-32 md:h-32 md:min-w-[128px] bg-no-repeat bg-contain bg-center bg-gray-100" v-bind:style="{ backgroundImage: 'url(' + thumb + ')' }">
    </div>
    </template>
    <template v-else>
        <div class="w-16 h-16 min-w-[64px] md:w-32 md:h-32 md:min-w-[128px] border bg-contain bg-center bg-no-repeat bg-gray-100" v-bind:style="{'background-image': 'url($$__client_media_url__$$/$$__client_media_path__$$/no-image.png)'}"></div>
    </template>
    <div class="mx-2 mt-1 md:mt-3">
        <span class="text-sm md:text-base text-heading font-semibold">{{title}}</span>
        <span v-if="type == 'add'" class="text-sm block text-success">
            {{count}} {{language.cart.shoppingCart.add}}
        </span>
        <span v-else class="mt-1 text-sm  block text-error">
            {{count}} {{language.cart.shoppingCart.remove}}
        </span>
    </div>

    <b-icon  v-on:click="hide"  icon="x" class="w-5 h-5 text-black absolute top-1 right-1 cursor-pointer"></b-icon>
</div>