<ul class="sub-category-wrapper  pl-8 pr-4  py-2 list-none my-0" v-if="activeChildren"> 
    <template v-for="category in activeChildren">
        <li class="category subcategory my-0" :data-category="category.id" :data-name="category.name">


            <div class="flex items-center rounded-lg" :class="{'bg-gray-100': slotData.showChildren, 'active bg-gray-100 ': slotData.activeTab === category.id}">
                <a :href="'/' + category?.url_rewrite?.request_path" :class="{ 'font-semibold': slotData.showChildren }" class="block px-4 py-3 hover:opacity-80">
                    <span class="category-data">
                        <span class="category-name">
                            {{category.name}}
                        </span>
                    </span>
                </a>
                <template v-if="category.active_children && category.active_children.length > 0">
                    <b-icon icon="chevron-right" 
                            class="child-arrow cursor-pointer ml-auto mr-2 w-5 h-5"
                            :class="{'active rotate-90': slotData.showChildren}"
                            v-on:click="slotData.showChildren = !slotData.showChildren"
                            >
                    </b-icon>
                </template>
            
            </div>
          
            <template v-if="category.active_children && category.active_children.length > 0">
                <child-category-snippet v-if="slotData.showChildren" :activeChildren="category.active_children"  />
            </template>
        </li>
    </template>
</ul>