<div
  class="fixed z-[13] inset-0 overflow-y-auto block"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  :class="[ isActive ? 'block': 'hidden']"
>
  <div
    class="overlay transition duration-300 ease-in-out z-10 flex w-full h-full fixed top-0 left-0 bg-black bg-opacity-70"
    role="button"
    :class="[ isActive ? 'visible opacity-100': 'opacity-0 invisible']"
    v-on:click="toggleModal"
  ></div>

  <div
    tabindex="-1"
    aria-hidden="true"
    class="flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center"
    :class="[ isActive ? 'flex': 'hidden ']"
  >
    <div
      class="relative p-4 w-full max-w-3xl h-full md:h-auto min-h-[80vh] rounded-md"
    >
      <div class="relative bg-white shadow rounded-md">
        <div class="flex justify-between items-start p-4 border-b">
          <h3 class="title text-primary font-bold text-xl">
            {{slotData.language.filterPopup.filterTitle}}
          </h3>
          <button
            type="button"
            aria-label="filter-popup-button-label"
            class="text-gray-900 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
            v-on:click="toggleModal"
          >
            <svg
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>

        <div class="popup-content overflow-auto min-h-[50vh] max-h-[65vh]">
          <!-- <div class="px-6 py-3 space-y-6 max-h-[100%] overflow-auto">
              <div class="text-gray-400 font-semibold text-base">{{slotData.language.TagFilter}}</div>
              <div class="tags-wrapper grid gap-2 grid-cols-3 md:grid-cols-4">
                  <template v-for="filter in slotData.filters">
                      <div class="filter-item mb-2 items-center border border-gray-300 rounded-md py-3 px-1.5 text-gray-500 cursor-pointer hover:shadow min-w-auto hover:border-primary transition duration-300 ease-in-out" :class="inArray(filter.id, activeList) || (searchFilterData['tag'] && inArray(filter.name, searchFilterData['tag'])) ? 'active bg-primary': ''" v-on:click="onClickTag(filter)">
                          <div class="filter-icon w-[40px] h-[40px] block rounded-sm overflow-hidden bg-center bg-no-repeat bg-contain mx-auto" v-if="filter.icon" 
                          v-bind:style="{ backgroundImage: 'url(' + filter.icon + ')' }" 
                          :title="filter.name">
                          </div>
                          <div class="filter-icon text-gray-700 block"  v-else>
                                <b-icon class="w-[40px] h-[40px] mx-auto" icon="tag-fill" :class="inArray(filter.id, activeList) || (searchFilterData['tag'] && inArray(filter.name, searchFilterData['tag'])) ? 'text-white': ''" ></b-icon>
                          </div>

                          <div class="filter-text text-sm ml-1 text-center truncate line-clamp-4 whitespace-pre-wrap" :class="inArray(filter.id, activeList) || (searchFilterData['tag'] && inArray(filter.name, searchFilterData['tag'])) ? 'text-white': ''">{{ filter.name }}</div>
                      </div>
                  </template>
              </div>
          </div> -->

          <template
            v-if="attributeFilters && Object.keys(attributeFilters).length > 0"
          >
            <template v-for="attrName in Object.keys(attributeFilters)">
              <template
                v-if="(attrName == 'super_attribute' )&& attributeFilters[attrName] && attributeFilters[attrName].length > 0"
              >
                <template v-for="attr in attributeFilters[attrName]">
                  <template
                    v-if="attr.facert_data && Object.keys(attr.facert_data).length > 0"
                  >
                    <template
                      v-if="searchFilterData && searchFilterData[attrName + '_' + attr.name]"
                    >
                      <div
                        class="px-6 py-3 space-y-6 max-h-[80vh] overflow-auto"
                      >
                        <div class="text-gray-400 font-semibold text-base">
                          <template
                            v-if="attr.attribute && attr.attribute.label"
                          >
                            {{attr.attribute.label}}
                          </template>
                          <template v-else> {{attr.name}} </template>
                        </div>
                        <div
                          class="tags-wrapper grid gap-2 grid-cols-3 md:grid-cols-4 h-fit"
                        >
                          <template
                            v-for="filter in Object.keys(attr.facert_data)"
                          >
                            <div
                              class="max-h-8 filter-item items-center border border-gray-300 rounded-md px-1.5 text-gray-500 cursor-pointer hover:shadow min-w-auto hover:border-primary transition duration-300 ease-in-out h-max"
                              :class="filterDataX && filterDataX.sa && filterDataX.sa[attr.name] && filterDataX.sa[attr.name].split(',').includes(filter) ? 'active bg-primary': 'bg-gray-200'"
                              v-on:click="onClickAttribute(attrName, attr.attribute, filter)"
                            >
                              <div
                                class="filter-text text-sm ml-1 text-center truncate line-clamp-4 whitespace-pre-wrap -mt-9"
                                :class="filterDataX && filterDataX.sa && filterDataX.sa[attr.name] && filterDataX.sa[attr.name].split(',').includes(filter) ? 'text-white': ''"
                              >
                                {{ filter }}
                              </div>
                            </div>
                          </template>
                        </div>
                      </div>
                    </template>
                  </template>
                </template>
              </template>

              <template
                v-else-if="( attrName == 'tag' )&& attributeFilters[attrName] && attributeFilters[attrName].length > 0"
              >
                <div class="px-6 py-3 space-y-6 max-h-[80vh] overflow-auto">
                  <div class="text-gray-400 font-semibold text-base">
                    {{"Tags"}}
                  </div>
                  <div
                    class="tags-wrapper grid gap-2 grid-cols-3 md:grid-cols-4 h-fit"
                  >
                    <template v-for="attr in attributeFilters[attrName]">
                      <div
                        class="max-h-8 filter-item items-center border border-gray-300 rounded-md px-1.5 text-gray-500 cursor-pointer hover:shadow min-w-auto hover:border-primary transition duration-300 ease-in-out h-max"
                        :class="filterDataX && filterDataX.tag && filterDataX.tag.Tags && filterDataX.tag.Tags.split(',').includes(attr.name) ? 'active bg-primary': 'bg-gray-200'"
                        v-on:click="onClickTag(attr.name)"
                      >
                        <div
                          class="filter-text text-sm ml-1 text-center truncate line-clamp-4 whitespace-pre-wrap -mt-9"
                          :class="filterDataX && filterDataX.tag && filterDataX.tag.Tags && filterDataX.tag.Tags.split(',').includes(attr.name) ? 'text-white': ''"
                        >
                          {{attr.name}}
                        </div>
                      </div>
                    </template>
                  </div>
                </div>
              </template>
            </template>
          </template>
        </div>
      </div>
    </div>
  </div>
</div>