<ul class="sub-category-wrapper lg:p-4 lg:pb-2 list-none my-0" v-if="activeChildren"> 
    <template v-for="category in activeChildren">
        <li class="category subcategory my-0" :data-category="category.id" :data-name="category.name">

            <div class="flex items-center" :class="{'text-primary font-semibold ': slotData.activeTab === category.id}">
                <a :href="'/' + category?.url_rewrite?.request_path" :class="{ 'font-semibold': slotData.showChildren }" class="block hover:opacity-80 whitespace-nowrap">
                    <span class="category-name">
                        {{category.name}}
                    </span>
                </a>
                <template v-if="category.active_children && category.active_children.length > 0">
                    <b-icon icon="chevron-right"  class="child-arrow cursor-pointer ml-2 w-4 h-4" >
                    </b-icon>
                </template>
            
            </div>
          
            <template v-if="category.active_children && category.active_children.length > 0">
                <child-category-snippet :activeChildren="category.active_children"  />
            </template>
        </li>
    </template>
</ul>