<div :class="{'mb-1' : detailMode}">
    <template v-if="data.product_type != 'configurable'">
        <template v-if="slotData.settings.order_manage_stock == 1">
            <template v-if="data.available_now == 1">
                <template v-if="data.quantity > 0">
                    <div class="available-quantity font-semibold text-heading " :class="{'text-xs' : !detailMode}">
                        <span class="quantity-text">
                            {{data.quantity}} 
                        </span>
                        <template v-if="data.quantity == 1">
                            {{slotData.language.cart.availableForToday.countAfterOneItemText}}
                        </template>
                        <template v-else>
                            {{slotData.language.cart.availableForToday.countAfterMoreItemsText}}
                        </template>
                    </div>
                </template>
                <template v-else-if="data.type != 'configurable'">
                    <template v-if="data.qty_status || (data.qty_status && data.qty_status.name)">
                        <span class="out-of-stock text-primary text-sm uppercase">
                            <template v-if="data.qty_status.name">{{data.qty_status.name}}</template>
                            <template v-else>{{data.qty_status}}</template>
                        </span>
                    </template>
                    <template v-else>
                        <span class="out-of-stock text-primary text-sm uppercase" >{{slotData.language.outOfStock}}</span>
                    </template>
                </template>
            </template>
        </template>
        <template v-else>
            <template v-if="data.available_now == 1">
                <template v-if="data.quantity > 0">
                    <div class="available-quantity font-semibold text-heading " :class="{'text-xs' : !detailMode}">
                        <span class="quantity-text">
                            {{data.quantity}} 
                        </span>
                        <template v-if="data.quantity == 1">
                            {{slotData.language.cart.availableForToday.countAfterOneItemText}}
                        </template>
                        <template v-else>
                            {{slotData.language.cart.availableForToday.countAfterMoreItemsText}}
                        </template>
                    </div>
                </template>
            </template>
        </template>
    </template>
</div>