<div class="price-wrapper-inner">
  <template v-if="data.unit_price">
    <div v-if="data?.attributes?.MSRP">
      <div
        class="price-details mb-8"
        itemprop="offers"
        itemscope
        itemtype="http://schema.org/Offer"
      >
        <template
          v-if="data.parent_id && data.attributes && !data.attributes.MSRP"
        >
          <template v-for="attr in data.attributes">
            <template
              v-if="attr.code == 'MSRP' && attr.value && Number(attr.value) > Number(data.unit_price)"
            >
              <span class="price text-primary text-base md:text-xl">
                <div class="msrp-wrapper lg:text-lg text-gray-400">
                  <span class="value line-through"
                    >{{slotData.display_currency}}
                    {{slotData.helpers.PriceFormat(attr.value)}}</span
                  >
                </div>
              </span>
            </template>
          </template>
        </template>

        <div class="flex flex-col items-start">
          <!-- if there is a Retail price  -->
          <template v-if="data.attributes.MSRP && data.attributes.MSRP.value">
            <template
              v-if="Number(data.attributes.MSRP.value) > Number(data.unit_price)"
            >
              <span
                class="price text-primary text-base md:text-xl lg:text-2xl 2xl:text-2xl pr-2 md:pr-0 lg:pr-2 2xl:pr-0 break-all"
              >
                <span
                  class="label text-gray-400 text-sm md:text-base lg:text-lg xl:text-xl font-normal"
                  >{{data.attributes.MSRP.label}}:
                  <span
                    class="msrp-wrapper has-offer line-through text-gray-400 text-sm md:text-base lg:text-lg xl:text-xl font-normal"
                  >
                    <span class="value"
                      >{{slotData.orderCurrency}}
                      {{slotData.helpers.PriceFormat(data.attributes.MSRP.value)}}</span
                    >
                  </span>
                </span>
              </span>
            </template>
          </template>

          <!--[There is no a retail price] OR [if ther is a retail price that is greater than unit_price] -->
          <template
            v-if="!data.attributes.MSRP.value || data.attributes.MSRP && Number(data.attributes.MSRP.value) > Number(data.unit_price)"
          >
            <span
              class="price text-primary font-bold text-base md:text-xl lg:text-2xl 2xl:text-4xl pr-2 md:pr-0 lg:pr-2 2xl:pr-0"
              :class="{'has-flash-offer': 
                      data.available_now != 0 && 
                      data.quantity > 0 && 
                      Number(data.available_now_price) != Number(data.display_price),
                      'has-discount': 
                      Number(data.unit_price) != Number(data.display_price),
                      '2xl:text-2xl': 
                      data.attributes.MSRP && data.unit_price != data.display_price,
                      'mt-2':
                      data.attributes.MSRP && data.unit_price == data.display_price
                      }"
            >
              <!-- there is no an offer  but there is a retail price  -->
              <template
                v-if="data.attributes.MSRP.value && data.unit_price == data.display_price"
              >
                <span class="label"
                  >{{slotData.language.item.ourPriceText}}:</span
                >
              </template>
              <!-- there is an offer  but there is a correct retail price  -->
              <template v-if="data.unit_price != data.display_price">
                <span
                  class="label text-gray-400 text-sm md:text-base lg:text-lg xl:text-xl font-normal"
                  >{{slotData.language.item.ourPriceText}}:</span
                >
              </template>
              <!-- <template v-if="data.unit_price != data.display_price">
                <span
                  class="label text-gray-400 text-sm md:text-base lg:text-lg xl:text-xl font-normal">{{slotData.language.item.ourPriceText}}:</span>
              </template> -->
              <span
                :class="{'has-offer line-through text-gray-400 text-sm md:text-base lg:text-lg xl:text-xl font-normal': 
              Number(data.unit_price) != Number(data.display_price) && 
                        slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections)
                        }"
              >
                <template
                  v-if="data.product_type == 'configurable' || data.type == 'configurable' && Number(data.unit_price) == Number(data.display_price)"
                >
                  <span class="as-low-as"
                    >{{slotData.language.item.asLowAsText}}</span
                  >
                </template>
                <span class="currency">{{slotData.orderCurrency}}</span>
                <span class="amount">
                  {{slotData.helpers.PriceFormat(data.unit_price)}}
                </span>
              </span>
            </span>
          </template>
          <!-- [there is no a retai price] OR [if there is a retail price that is less than unit price] -->
          <template
            v-else-if="!data.attributes.MSRP.value || data.attributes.MSRP && Number(data.attributes.MSRP.value) < Number(data.unit_price)"
          >
            <span
              class="price text-primary font-bold text-base md:text-xl lg:text-2xl 2xl:text-4xl pr-2 md:pr-0 lg:pr-2 2xl:pr-0"
              :class="{'has-flash-offer': 
                    data.available_now != 0 && 
                    data.quantity > 0 && 
                    Number(data.available_now_price) != Number(data.display_price),
                    'has-discount': 
                    Number(data.unit_price) != Number(data.display_price) 
                    }"
            >
              <!-- retail price that is less than unit price AND has offer -->
              <span
                class="label text-gray-400 text-sm md:text-base lg:text-lg xl:text-xl font-normal"
                v-if="Number(data.unit_price) != Number(data.display_price)"
                >{{slotData.language.item.ourPriceText}}:</span
              >
              <span
                :class="{'has-offer line-through text-gray-400 text-sm md:text-base lg:text-lg xl:text-xl pl-2 font-normal': 
            Number(data.unit_price) != Number(data.display_price) && 
                      slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections)
                      }"
              >
                <template
                  v-if="data.product_type == 'configurable' || data.type == 'configurable'"
                >
                  <span class="as-low-as"
                    >{{slotData.language.item.asLowAsText}}</span
                  >
                </template>
                <span class="currency">{{slotData.orderCurrency}}</span>
                <span class="amount">
                  {{slotData.helpers.PriceFormat(data.unit_price)}}
                </span>
              </span>
            </span>
          </template>
          <template
            v-if="slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections) || !slotData.menuDisplaySettings"
          >
            <template
              v-if="Number(data.unit_price) != Number(data.display_price)"
            >
              <span
                class="discount-price text-primary font-bold text-base md:text-xl lg:text-2xl 2xl:text-4xl pr-2 md:pr-0 lg:pr-2 2xl:pr-0 mt-2 break-all"
              >
                <span class="label">{{slotData.language.item.nowText}}:</span>
                <template
                  v-if="data.product_type == 'configurable' || data.type == 'configurable'"
                >
                  <span class="as-low-as"
                    >{{slotData.language.item.asLowAsText}}</span
                  >
                </template>
                <span class="currency">{{slotData.orderCurrency}}</span>
                <span class="amount"
                  >{{slotData.helpers.PriceFormat(data.display_price)}}</span
                >
              </span>
            </template>
          </template>
        </div>

        <template
          v-if="data.parent_id && data.attributes && !data.attributes.MSRP"
        >
          <template v-for="attr in data.attributes">
            <template
              v-if="attr.code == 'MSRP' && attr.value && Number(attr.value) > Number(data.display_price)"
            >
              <div class="you-save-wrapper lg:text-base text-sm text-red-600">
                <span>{{slotData.language.item.discountText}}:</span>
                <span class="currency"
                  >{{slotData.display_currency}}</span
                >
                <span
                  >{{slotData.helpers.PriceFormat(attr.value -
                  data.display_price)}}</span
                >
              </div>
            </template>
          </template>
        </template>

        <template v-if="data.attributes.MSRP && data.attributes.MSRP.value">
          <template
            v-if="Number(data.attributes.MSRP.value) > Number(data.unit_price)"
          >
            <template
              v-if="slotData.helpers.InArray('msrp', slotData.settings.menu_display_sections) || !slotData.menuDisplaySettings"
            >
              <div
                class="you-save-wrapper text-sm text-red-600 text-sm md:text-base lg:text-lg mt-3"
              >
                <span>{{slotData.language.item.discountText}}:</span>
                <span class="currency">{{slotData.orderCurrency}}</span>
                <span
                  >{{slotData.helpers.PriceFormat(data.attributes.MSRP.value -
                  data.display_price)}}</span
                >
              </div>
            </template>
            <template v-else>
              <template
                v-if="slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections) || !slotData.menuDisplaySettings"
              >
                <template
                  v-if="Number(data.unit_price) != Number(data.display_price)"
                >
                  <div
                    class="you-save-wrapper text-sm text-red-600 text-sm md:text-base lg:text-lg mt-3"
                  >
                    <span>{{slotData.language.item.discountText}}:</span>
                    <span class="currency">{{slotData.orderCurrency}}</span>
                    <span
                      >{{slotData.helpers.PriceFormat(data.unit_price -
                      data.display_price)}}</span
                    >
                  </div>
                </template>
              </template>
            </template>
          </template>
          <template v-else>
            <template
              v-if="slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections) || !slotData.menuDisplaySettings"
            >
              <template
                v-if="Number(data.unit_price) != Number(data.display_price)"
              >
                <div
                  class="you-save-wrapper text-sm text-red-600 text-sm md:text-base lg:text-lg mt-3"
                >
                  <span>{{slotData.language.item.discountText}}:</span>
                  <span class="currency">{{slotData.orderCurrency}}</span>
                  <span
                    >{{slotData.helpers.PriceFormat(data.unit_price -
                    data.display_price)}}</span
                  >
                </div>
              </template>
            </template>
          </template>
        </template>
        <template v-else>
          <template
            v-if="slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections) || !slotData.menuDisplaySettings"
          >
            <template
              v-if="Number(data.unit_price) != Number(data.display_price)"
            >
              <div
                class="you-save-wrapper text-sm text-red-600 text-sm md:text-base lg:text-lg mt-3"
              >
                <span>{{slotData.language.item.discountText}}:</span>
                <span class="currency">{{slotData.orderCurrency}}</span>
                <span
                  >{{slotData.helpers.PriceFormat(data.unit_price -
                  data.display_price)}}</span
                >
              </div>
            </template>
          </template>
        </template>
      </div>
    </div>
    <div v-else>
      <div class="price-wrapper-inner">
        <template v-if="data.unit_price">
          <div
            class="price-details mb-8"
            itemprop="offers"
            itemscope
            itemtype="http://schema.org/Offer"
          >
            <template
              v-if="data.parent_id && data.attributes && !data.attributes.MSRP"
            >
              <template v-for="attr in data.attributes">
                <template
                  v-if="attr.code == 'MSRP' && attr.value && Number(attr.value) > Number(data.display_price)"
                >
                  <span class="price text-primary text-base md:text-xl">
                    <div class="msrp-wrapper lg:text-lg text-gray-400">
                      <span class="value line-through"
                        >{{slotData.display_currency}}
                        {{slotData.helpers.PriceFormat(attr.value)}}</span
                      >
                    </div>
                  </span>
                </template>
              </template>
            </template>

            <div class="flex flex-col items-start">
              <template
                v-if="data.attributes.MSRP && data.attributes.MSRP.value"
              >
                <template
                  v-if="Number(data.attributes.MSRP.value) > Number(data.display_price)"
                >
                  <span
                    class="price text-primary text-base md:text-xl lg:text-2xl 2xl:text-2xl pr-2 md:pr-0 lg:pr-2 2xl:pr-0"
                  >
                    <span
                      class="label text-gray-400 text-sm md:text-base lg:text-lg xl:text-xl font-normal"
                      >{{data.attributes.MSRP.label}}:
                      <span
                        class="msrp-wrapper has-offer line-through text-gray-400 text-sm md:text-base lg:text-lg xl:text-xl font-normal"
                      >
                        <span class="value"
                          >{{slotData.orderCurrency}}
                          {{slotData.helpers.PriceFormat(data.attributes.MSRP.value)}}</span
                        >
                      </span>
                    </span>
                  </span>
                </template>
              </template>
              <template
                v-if="!data.attributes.MSRP || data.attributes.MSRP && Number(data.attributes.MSRP.value) > Number(data.display_price)"
              >
                <span
                  class="price text-primary font-bold text-base md:text-xl lg:text-2xl 2xl:text-4xl pr-2 md:pr-0 lg:pr-2 2xl:pr-0"
                  :class="{'has-flash-offer': 
                          data.available_now != 0 && 
                          data.quantity > 0 && 
                          Number(data.available_now_price) != Number(data.display_price),
                          'has-discount': 
                          Number(data.unit_price) != Number(data.display_price),
                          '2xl:text-2xl': 
                          data.attributes.MSRP && data.unit_price != data.display_price,
                          'mt-2':
                          data.attributes.MSRP && data.unit_price == data.display_price
                          }"
                >
                  <template
                    v-if="data.attributes.MSRP && data.unit_price == data.display_price"
                  >
                    <span class="label"
                      >{{slotData.language.item.ourPriceText}}:</span
                    >
                  </template>
                  <template v-if="data.unit_price == data.display_price">
                    <span class="label"></span>
                  </template>
                  <template v-else>
                    <span
                      class="label text-gray-400 text-sm md:text-base lg:text-lg xl:text-xl font-normal"
                      >{{slotData.language.item.ourPriceText}}:</span
                    >
                  </template>
                  <span
                    :class="{'has-offer line-through text-gray-400 text-sm md:text-base lg:text-lg xl:text-xl font-normal': 
                  Number(data.unit_price) != Number(data.display_price) && 
                            slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections)
                            }"
                  >
                    <template
                      v-if="data.product_type == 'configurable' || data.type == 'configurable' && Number(data.unit_price) == Number(data.display_price)"
                    >
                      <span class="as-low-as"
                        >{{slotData.language.item.asLowAsText}}</span
                      >
                    </template>
                    <span class="currency">{{slotData.orderCurrency}}</span>
                    <span class="amount">
                      {{slotData.helpers.PriceFormat(data.unit_price)}}
                    </span>
                  </span>
                </span>
              </template>
              <template v-else-if="!data.attributes.MSRP.value">
                <span
                  class="price text-primary font-bold text-base md:text-xl lg:text-2xl 2xl:text-4xl pr-2 md:pr-0 lg:pr-2 2xl:pr-0"
                  :class="{'has-flash-offer': 
                        data.available_now != 0 && 
                        data.quantity > 0 && 
                        Number(data.available_now_price) != Number(data.display_price),
                        'has-discount': 
                        Number(data.unit_price) != Number(data.display_price) 
                        }"
                >
                  <span
                    :class="{'has-offer line-through text-gray-400 text-sm md:text-base lg:text-lg xl:text-xl pl-2 font-normal': 
                Number(data.unit_price) != Number(data.display_price) && 
                          slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections)
                          }"
                  >
                    <template
                      v-if="data.product_type == 'configurable' || data.type == 'configurable'"
                    >
                      <span class="as-low-as"
                        >{{slotData.language.item.asLowAsText}}</span
                      >
                    </template>
                    <span class="currency">{{slotData.orderCurrency}}</span>
                    <span class="amount">
                      {{slotData.helpers.PriceFormat(data.unit_price)}}
                    </span>
                  </span>
                </span>
              </template>
              <template
                v-if="slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections) || !slotData.menuDisplaySettings"
              >
                <template
                  v-if="Number(data.unit_price) != Number(data.display_price)"
                >
                  <span
                    class="discount-price text-primary font-bold text-base md:text-xl lg:text-2xl 2xl:text-4xl pr-2 md:pr-0 lg:pr-2 2xl:pr-0 mt-2 break-all"
                  >
                    <span class="label"
                      >{{slotData.language.item.nowText}}:</span
                    >
                    <template
                      v-if="data.product_type == 'configurable' || data.type == 'configurable'"
                    >
                      <span class="as-low-as"
                        >{{slotData.language.item.asLowAsText}}</span
                      >
                    </template>
                    <span class="currency">{{slotData.orderCurrency}}</span>
                    <span class="amount"
                      >{{slotData.helpers.PriceFormat(data.display_price)}}</span
                    >
                  </span>
                </template>
              </template>
            </div>

            <template
              v-if="data.parent_id && data.attributes && !data.attributes.MSRP"
            >
              <template v-for="attr in data.attributes">
                <template
                  v-if="attr.code == 'MSRP' && attr.value && Number(attr.value) > Number(data.display_price)"
                >
                  <div
                    class="you-save-wrapper lg:text-base text-sm text-red-600"
                  >
                    <span>{{slotData.language.item.discountText}}:</span>
                    <span class="currency"
                      >{{slotData.display_currency}}</span
                    >
                    <span
                      >{{slotData.helpers.PriceFormat(attr.value -
                      data.display_price)}}</span
                    >
                  </div>
                </template>
              </template>
            </template>

            <template v-if="data.attributes.MSRP && data.attributes.MSRP.value">
              <template
                v-if="Number(data.attributes.MSRP.value) > Number(data.display_price)"
              >
                <template
                  v-if="slotData.helpers.InArray('msrp', slotData.settings.menu_display_sections) || !slotData.menuDisplaySettings"
                >
                  <div
                    class="you-save-wrapper text-sm text-red-600 text-sm md:text-base lg:text-lg mt-3"
                  >
                    <span>{{slotData.language.item.discountText}}:</span>
                    <span class="currency">{{slotData.orderCurrency}}</span>
                    <span
                      >{{slotData.helpers.PriceFormat(data.attributes.MSRP.value
                      - data.display_price)}}</span
                    >
                  </div>
                </template>
                <template v-else>
                  <template
                    v-if="slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections) || !slotData.menuDisplaySettings"
                  >
                    <template
                      v-if="Number(data.unit_price) != Number(data.display_price)"
                    >
                      <div
                        class="you-save-wrapper text-sm text-red-600 text-sm md:text-base lg:text-lg mt-3"
                      >
                        <span>{{slotData.language.item.discountText}}:</span>
                        <span class="currency">{{slotData.orderCurrency}}</span>
                        <span
                          >{{slotData.helpers.PriceFormat(data.unit_price -
                          data.display_price)}}</span
                        >
                      </div>
                    </template>
                  </template>
                </template>
              </template>
              <template v-else>
                <template
                  v-if="slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections) || !slotData.menuDisplaySettings"
                >
                  <template
                    v-if="Number(data.unit_price) != Number(data.display_price)"
                  >
                    <div
                      class="you-save-wrapper text-sm text-red-600 text-sm md:text-base lg:text-lg mt-3"
                    >
                      <span>{{slotData.language.item.discountText}}:</span>
                      <span class="currency">{{slotData.orderCurrency}}</span>
                      <span
                        >{{slotData.helpers.PriceFormat(data.unit_price -
                        data.display_price)}}</span
                      >
                    </div>
                  </template>
                </template>
              </template>
            </template>
            <template v-else>
              <template
                v-if="slotData.helpers.InArray('offer_price', slotData.settings.menu_display_sections) || !slotData.menuDisplaySettings"
              >
                <template
                  v-if="Number(data.unit_price) != Number(data.display_price)"
                >
                  <div
                    class="you-save-wrapper text-sm text-red-600 text-sm md:text-base lg:text-lg mt-3"
                  >
                    <span>{{slotData.language.item.discountText}}:</span>
                    <span class="currency">{{slotData.orderCurrency}}</span>
                    <span
                      >{{slotData.helpers.PriceFormat(data.unit_price -
                      data.display_price)}}</span
                    >
                  </div>
                </template>
              </template>
            </template>
          </div>
        </template>
      </div>
    </div>
  </template>
</div>
