<div class="flex relative ml-3 md:ml-8 items-center" v-if="slotData.settings.enable_online_ordering == '1'">
   <template v-if="slotData.userName">
  <div v-on:click="toggleMenu"
    class="welcome-user pr-2 cursor-pointer hidden md:flex max-w-[400px] overflow-hidden truncate">
    {{slotData.language.header.welcomeText}},
   {{ slotData.userName.split(' ')[0] }}</div> </template>

  <template v-if="slotData.profilePicture">
    <div v-on:click="toggleMenu"
      class="profile-image cursor-pointer min-w-8 min-h-8 w-8 h-8 bg-no-repeat bg-contain bg-center rounded-[50%] border border-gray-500"
      v-bind:style="{ backgroundImage: 'url(' + slotData.profilePicture + ')' }"></div>
  </template>
  <template v-else>
    <b-icon v-on:click="toggleMenu" class="min-w-6 min-h-6 w-6 h-6 cursor-pointer" icon="person-circle"></b-icon>
  </template>
  <ul v-if="showMenu" class="profile-image-wrapper absolute bg-white shadow-md pt-2 p-4 right-0 top-full rounded-md">
    <a class="cursor-pointer mb-1 hover:opacity-80 whitespace-nowrap block" href="/profile">My Profile</a>
    <!--<a class="cursor-pointer mb-1 hover:opacity-80 whitespace-nowrap block" href="/my-favourites">My Favorites</a>-->
    <a class="cursor-pointer mb-1 hover:opacity-80 whitespace-nowrap block" href="/order-history">Order History</a>
    <a class="cursor-pointer mb-1 hover:opacity-80 whitespace-nowrap block" href="/user-account">Manage Account</a>
    <a v-if="slotData.settings.enable_reviews === '1'" class="cursor-pointer mb-1 hover:opacity-80 whitespace-nowrap block" href="/my-reviews">My Reviews</a    >
    <!-- <li class="cursor-pointer mb-2 hover:opacity-80" v-on:click="onClickViewAccount"> Account Settings </li> -->
    <li class="cursor-pointer hover:opacity-80 block" v-on:click="onClickLogout">
      {{slotData.language.header.userMenu.logout.text}}
    </li>
  </ul>
</div>