<div v-if="imageArray.length > 0" class="relative">
    <template v-if="title || description || show_button">
        <div class="absolute text-center transform -translate-x-1/2 -translate-y-1/2 inner-content top-1/2 left-1/2">
            <div class="mb-6 text-lg font-bold text-white title banner-title md:text-xl lg:text-3xl 2xl:text-4xl xl:leading-10" v-if="title">
                {{title}}
            </div>
            <div class="mb-6 text-gray-600 banner-description" v-if="description">
                {{description}}
            </div>

            <div class="mt-10 banner-button-wrapper" v-if="show_button" :data-btn="show_button">
                <template v-if="button_url">
                    <a class="px-4 py-2 font-semibold bg-transparent border rounded btn-text hover:bg-slate-900 text-slate-700 hover:text-white border-slate-500 hover:border-transparent" :href="button_url"> {{button_text}} </a>
                </template>
                <template v-else>
                    <span class="btn-text">{{button_text}}</span>
                </template>
            </div>
        </div>
    </template>

    <template v-if="slotData.slideShow">


        {{slotData.slideBreakpoints}}
        <vue-slick-carousel 
            :arrows="slotData.slideArrows" 
            :dots="slotData.slideDots" 
            :infinite="true" 
            :slidesToShow="1"
            :slidesToScroll="slotData.slidesToScroll" 
            :rows="slotData.row"
            :autoplay="slotData.slideAutoplay" 
            :speed="slotData.slideShowSpeed" 
            :autoplaySpeed="slotData.autoplaySpeed"
            :centerMode="slotData.centerMode"
            :responsive="slotData.sliderResponsive" 
    
            class="slide-show"
            >

            <div class="relative overflow-hidden banner-image group" v-for="(image, key) in slotData.slidesList" >

                <div 
                :class="rounded_corners ? 'image rounded-md overflow-hidden ' + slotData.bannerHeight : 'image overflow-hidden ' + slotData.bannerHeight"
                :style="{height: slotData.bannerHeight}"
                >
                    <img
                        :src="image.url"
                        :alt="slotData.settings.title"
                        class="absolute top-0 left-0 w-full h-full object-cover"
                        style="z-index:1;"
                        loading="lazy" decoding="async"
                    /> 
                    <!-- style="position: relative; z-index: 2;" -->
                    <div class="image-inner-content" v-if="image.title || image.description || image.button_text" > 
                        <div class="banner-title" v-if="image.title">
                                {{image.title}}
                            </div>
                            <div class="banner-description" v-if="image.description">
                                {{image.description}}
                            </div>

                            <div class="banner-button-wrapper" v-if="image.button_text">
                                <template v-if="image.button_url">
                                    <a class="btn-text" :href="image.button_url"  tabindex="-1"> {{image.button_text}} </a>
                                </template>
                                <template v-else>
                                    <span class="btn-text">{{image.button_text}}</span>
                                </template>
                            </div>
                    </div>
                </div>

                <div class="absolute top-0 block w-1/2 h-full transform -skew-x-12 -left-full z-5 bg-gradient-to-r from-transparent to-white opacity-40 group-hover:animate-shine"></div>
                <template v-if="image.button_url && slotData.slideLink">
                    <a class="absolute top-0 left-0 z-10 w-full h-full btn-text" :href="image.button_url"  tabindex="-1"></a>
                </template>
            </div>

        </vue-slick-carousel>
    </template>

    <template v-else>

        <div class="banner-row" v-for="(row, index) in imageArray.length" :key="index" 
               :style="{width: index == imageArray.length - 1 ? lastRowWidth : '100%' }" >


                <div class="banner-image" v-for="(image, key) in imageArray[index]" :key="key"  :class="{'rounded-md overflow-hidden': rounded_corners}">

               <div :class="'image image-' + index + '-' + key + ' overflow-hidden ' + slotData.bannerHeight" 
                    :style="{height: slotData.bannerHeight}"
                    class="relative"
                    >
                <img
                    :src="image.url"
                    :alt="slotData.settings.title"
                    class="absolute top-0 left-0 w-full h-full object-cover"
                    style="z-index:1;"
                    loading="lazy" decoding="async"
                />
                <div class="text-center image-inner-content" v-if="image.title || image.description || image.button_text" >
                    
                        <div class="banner-title" v-if="image.title">
                            {{image.title}}
                        </div>
                        <div class="banner-description" v-if="image.description">
                            {{image.description}}
                        </div>

                        <div class="banner-button-wrapper" v-if="image.button_text">
                            <template v-if="image.button_url">
                                <a class="btn-text" :href="image.button_url"> {{image.button_text}} </a>
                            </template>
                            <template v-else>
                                <span class="btn-text"> {{image.button_text}} </span>
                            </template>
                        </div>
                    
                </div>

            </div>

        </div>

            </div> 

            

    </template>
</div>