<div class="category-block mx-auto px-4 md:px-8 2xl:px-16 mb-6 category-slider" v-if="slotData.categories.length > 0">
    <h3 class="title text-primary text-lg md:text-xl lg:text-2xl 2xl:text-3xl xl:leading-10 font-bold mb-6 xl:mb-8" v-if="title"> {{title}} </h3>

    <div class="category-block-inner-wrapper">

        <div class="main-block-wrapper" v-if="slotData.showMainBlock" 
             :style="{
             'width': slotData.mainBlockWidth, 
             'height': slotData.mainBlockHeight
             }">

             <div class="inner-content"
             :style="{'background-image': (main_block_image) ? 'url(' + main_block_image + ')' : 'none'}"
             >
             <div class="main-block-title" v-if="main_block_title"> {{main_block_title}} </div>

                <div class="button-wrapper" v-if="slotData.mainBlockButton">
                    <button class="main-block-btn" v-if="main_block_button_text"> 
                        <template v-if="main_block_button_url">
                            <a class="btn-text" :href="main_block_button_url"> {{main_block_button_text}} </a>
                        </template>
                        <template v-else>
                            <span class="btn-text"> {{main_block_button_text}} </span>
                        </template>
                    </button>
                </div>
            </div>

        </div>

        <div class="category-list" :style="{'6width': (slotData.showMainBlock) ? 'calc(100% - ' + slotData.mainBlockWidth + ')' : '100%'}">

             <template v-if="slotData.slideShow">
                <vue-slick-carousel 
                    :arrows="slotData.slideArrows" 
                    :dots="slotData.slideDots" 
                    :infinite="true" 
                    :slidesToShow="slotData.column" 
                    :rows="slotData.row"
                    :slidesToScroll="slotData.slideToScroll" 
                    :autoplay="slotData.slideAutoplay" 
                    :speed="slotData.slideShowSpeed" 
                    :autoplaySpeed="slotData.autoplaySpeed"
                    :responsive="slotData.sliderResponsive" 
                    class="slide-show"
                    >
                    <template v-if="slotData.linkCategory">
                        <div class="category px-1 md:px-2 lg:px-4" v-for="category in slotData.categories">
                            <a :href="category.url_rewrite ? '/' + category?.url_rewrite?.request_path : '#'"  tabindex="-1">
                                <custom-category-block-section 
                                     
                                    :category="category"
                                    :show_category_name="show_category_name"
                                    :show_category_image="show_category_image"
                                    :show_category_description="show_category_description"
                                    />
                            </a>
                        </div>
                    </template>
                    <template v-else>
                        <div class="category px-1 md:px-2 lg:px-4" v-for="category in slotData.categories">
                            <custom-category-block-section 
                                 
                                :category="category"
                                :show_category_name="show_category_name"
                                :show_category_image="show_category_image"
                                :show_category_description="show_category_description"
                                />
                        </div>
                    </template>



                    <template #prevArrow="arrowOption">
                        <div class="w-7 h-7 lg:w-8 lg:h-8 text-sm md:text-base lg:text-lg text-black flex items-center justify-center rounded-full bg-white absolute transition duration-250 hover:bg-gray-900 hover:text-white focus:outline-none transform shadow-md -translate-x-1/2 lg:w-9 lg:h-9 xl:w-10 xl:h-10 3xl:w-12 3xl:h-12 text-sm md:text-base lg:text-xl 3xl:text-2xl -left-0.5  md:left-2  lg:left-4 -mt-4 md:-mt-7 xl:-mt-7 z-10 top-1/3 md:top-1/2">
                          <b-icon class="w-4 h-4" icon="chevron-left"></b-icon>
                        </div>
                     </template>
                      <template #nextArrow="arrowOption">
                        <div class="w-7 h-7 lg:w-8 lg:h-8 text-sm md:text-base lg:text-lg text-black flex items-center justify-center rounded-full bg-white absolute transition duration-250 hover:bg-gray-900 hover:text-white focus:outline-none transform shadow-md translate-x-1/2 lg:w-9 lg:h-9 xl:w-10 xl:h-10 3xl:w-12 3xl:h-12 text-sm md:text-base lg:text-xl 3xl:text-2xl -right-0.5 md:right-2  lg:right-4 -mt-4 md:-mt-7 xl:-mt-7 z-10 top-1/3 md:top-1/2">
                          <b-icon class="w-4 h-4" icon="chevron-right"></b-icon>
                        </div>
                    </template>
  

                </vue-slick-carousel>
            </template>

            <template v-else>

                <div class="grid gap-8 mt-4"  :class="'grid-cols-'+ categoryArray[index].length" v-for="(n, index) in categoryArray.length" :key="index" 
                       :style="{width: index == categoryArray.length - 1 ? lastRowWidth : '100%' }">

                       <template v-if="slotData.linkCategory">
                        <div class="category" cols v-for="(category, key) in categoryArray[index]" :key="key">
                            <a :href="category.url_rewrite ? '/' + category?.url_rewrite?.request_path : '#'">
                                <custom-category-block-section 
                                     
                                    :category="category"
                                    :show_category_name="show_category_name"
                                    :show_category_image="show_category_image"
                                    :show_category_description="show_category_description"
                                    />
                            </a>
                        </div>
                    </template>
                    <template v-else>
                        <div class="category" cols v-for="(category, key) in categoryArray[index]" :key="key">

                            <custom-category-block-section 
                                 
                                :category="category"
                                :show_category_name="show_category_name"
                                :show_category_image="show_category_image"
                                :show_category_description="show_category_description"
                                />
                        </div>
                    </template>
                </div>

            </template>
        </div>

    </div>
</div>