<div class="horizontal-menu-wrapper">
    <!-- Mobile header toggle -->
    <span class="mobile-menu-toggle" v-on:click="toggleMenu">
        Menu
        <b-icon v-if="isActive" class="toggle-icon" icon="caret-up-fill" />
        <b-icon v-else class="toggle-icon" icon="caret-down-fill" />
    </span>
    
    <!-- Menu items list -->
    <div class="menu-list-container" :class="{ 'mobile-active': isActive }">
        <ul class="menu-list">
            
            <!-- 01. All Products with Mega Menu -->
            <li class="menu-item has-mega-menu" data-category="all-products">
                <div class="menu-item-trigger">
                    <span class="menu-item-label">All Products</span>
                    <b-icon icon="chevron-down" class="chevron-icon"></b-icon>
                </div>
                
                <!-- Mega Menu Container -->
                <div class="mega-menu-panel">
                    <div class="mega-menu-grid">
                        <template v-for="category in slotData.categories">
                            <div v-if="category.level == 1" class="mega-menu-column">
                                <!-- Parent Category Link -->
                                <a v-if="category.url_rewrite" 
                                   v-bind:href="'/' + category?.url_rewrite?.request_path" 
                                   class="parent-category-link">
                                    {{category.name}}
                                </a>
                                <span v-else class="parent-category-label">
                                    {{category.name}}
                                </span>
                                
                                <!-- Subcategories -->
                                <ul v-if="category.child_categories && category.child_categories.length > 0" class="subcategory-list">
                                    <li v-for="sub in category.child_categories" :key="sub.id">
                                        <a v-if="sub.url_rewrite" 
                                           v-bind:href="'/' + sub?.url_rewrite?.request_path" 
                                           class="subcategory-link">
                                            {{sub.name}}
                                        </a>
                                        <span v-else class="subcategory-label">
                                            {{sub.name}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </template>
                    </div>
                </div>
            </li>
            
            <!-- 02. Downloads -->
            <li class="menu-item" data-category="downloads">
                <a href="/downloads" class="menu-item-link">
                    Downloads
                </a>
            </li>
            
            <!-- 03. About us -->
            <li class="menu-item" data-category="about-us">
                <a href="/about-us" class="menu-item-link">
                    About us
                </a>
            </li>
            
            <!-- 04. Project reference Page -->
            <li class="menu-item" data-category="project-reference">
                <a href="/project-reference" class="menu-item-link">
                    Project reference Page
                </a>
            </li>
            
        </ul>
    </div>
</div>


