<div class="horizontal-menu-wrapper relative" >
    <span class="block px-6 md:px-8 py-3 font-semibold lg:hidden flex border-b border-gray-100 curser-pointer items-center"   
    v-on:click="toggleMenu">
        Categories
        <b-icon v-if="isActive" class=" ml-auto text-black w-5 h-5 " icon="caret-up-fill"    />
        <b-icon v-else class="ml-auto text-black w-5 h-5 " icon="caret-down-fill"    />
    </span>
    <div class="list-group lg:block" :class="[ isActive ? 'block bg-white absolute top-full left-0': 'hidden']">
        <ul class="lg:flex list-none">
            <template v-if="slotData.showFeatured">
                <li class="category mx-2 relative group"  data-category="featured" :data-name="slotData.language.category.featured">

                    <template v-if="'$$__location_url__$$'">
                        <a v-bind:href="'/$$__location_url__$$/featured'"  class="block hover:opacity-80 whitespace-nowrap" :class="{ 'active text-primary': slotData.activeTab === 'featured' }">
                            {{slotData.language.category.featured}}
                        </a>
                    </template>
                    <template v-else>
                        <a v-bind:href="'/featured'"  class="block hover:opacity-80 whitespace-nowrap" :class="{ 'active text-primary': slotData.activeTab === 'featured' }">
                            {{slotData.language.category.featured}}
                        </a>
                    </template>


                </li>
            </template>

            <li v-if="!slotData.allLocationData || slotData.settings.locations.length == 1" class="category mx-2 relative group"  data-category="all" :data-name="slotData.language.category.allCategories">

                <template v-if="'$$__location_url__$$'">
                    <a v-bind:href="'$$__location_url__$$/all'" class="block  font-semibold hover:opacity-80 whitespace-nowrap" :class="{ 'active text-primary': slotData.activeTab === 'all' }">
                        {{slotData.language.category.allCategories}}
                    </a>
                </template>
                <template v-else>
                    <a v-bind:href="'/all'" class="block  font-semibold hover:opacity-80 whitespace-nowrap"  :class="{ 'active text-primary': slotData.activeTab === 'all' }">
                        {{slotData.language.category.allCategories}}
                    </a>
                </template>
            </li>

            <template v-if="slotData.allLocationData && slotData.settings.locations.length > 1">
                <template v-for="location in slotData.locations.slice(0, slotData.itemsToShow)">
                    <template v-if="location.url_rewrite">
                        <li class="category mx-2 relative group" :data-category="location.id" :data-name="location.name"  >
                            <div class="flex items-center">
                                <a v-bind:href="'/' + location?.url_rewrite?.request_path" :class="{ 'active text-primary': slotData.activeTab === location.id, 'pr-1' : location.child_categories && location.child_categories.length > 0 }" class="block font-semibold hover:opacity-80 whitespace-nowrap">
                                    {{location.name}}
                                </a>
                            </div>
                        </li>
                    </template>
                </template>
            </template>
            <template v-else>
                <template v-for="category in slotData.categories.slice(0, slotData.itemsToShow)">
                    <template v-if="category.level == 1">
                        <li class="category mx-2 relative group" :data-category="category.id" :data-name="category.name"  >
                            <div class="flex items-center">
                                <template v-if="category.parent_id && category.url_rewrite">
                                    <a v-bind:href="'/' + category?.url_rewrite?.request_path" :class="{ 'active text-primary': slotData.activeTab === category.id, 'pr-1' : category.child_categories && category.child_categories.length > 0 }" class="block font-semibold hover:opacity-80 whitespace-nowrap">
                                    {{category.name}}
                                    </a>
                                    <template v-if="category.child_categories && category.child_categories.length > 0">
                                        <b-icon icon="chevron-down" 
                                                class="child-arrow cursor-pointer lg:ml-auto w-4 h-4 transition-all	 group-hover:rotate-180"
                                                >
                                        </b-icon>
                                    </template>
                                </template>
                            </div>
                            <template v-if="(!slotData.allLocationData  || slotData.settings.locations.length == 1) && category.child_categories && category.child_categories.length > 0">
                                <div class="lg:absolute min-w-[200px] lg:top-full lg:-left-6 bg-white h-0 group-hover:h-auto px-2 overflow-hidden " >
                                    <horizontal-sub-category-snippet :activeChildren="category.child_categories"  />
                                </div>
                            </template>
                        </li>
                    </template>
                </template>
            </template>

            <template v-if="(!slotData.allLocationData || slotData.settings.locations.length == 1) && slotData.categories.length > slotData.itemsToShow">
                <li class="category mx-2 relative group" >
                    <div class="flex items-center">
                        <a class="block font-semibold hover:opacity-80 pr-1" >More</a>
                        <b-icon icon="chevron-down"  class="child-arrow cursor-pointer lg:ml-auto w-4 h-4 transition-all  group-hover:rotate-180">
                        </b-icon>
                    </div>
                    <div class="lg:absolute min-w-[200px] lg:top-full lg:-left-6 bg-white h-0 group-hover:h-auto px-2 overflow-hidden" >
                        <ul class="sub-category-wrapper lg:p-4 lg:pb-2 list-none my-0" >
                            <template v-for="category in slotData.categories.slice(slotData.itemsToShow, slotData.categories.length)">
        
                            <li v-if="category.url_rewrite" class="category subcategory my-0" :data-category="category.id" :data-name="category.name">
                                <a v-bind:href="'/' + category?.url_rewrite?.request_path" :class="{ 'active text-primary font-semibold ': slotData.activeTab === category.id }" class="block  hover:opacity-80 whitespace-nowrap">
                                {{category.name}}
                                </a>
                            </li>
                            
                            </template>
                        </ul>
                    </div>
                </li>
            </template>

        </ul>
    </div>
</div>
