<div  v-if="slotData.settingLoaded" :class="slotData.selectedProducts && Object.keys(slotData.selectedProducts).length ? 'bg-gray-50' : ''">
    <header-block-section  />
    <div class="content-wrapper mx-auto max-w-[1920px] px-4 md:px-8 2xl:px-16 mt-[90px] mb-8 lg:mb-16">
    <trail-popup-snippet  :is_active="slotData.isActive"></trail-popup-snippet>
        <div class="breadcrumb pt-8 mb-8">
            <div class="breadcrumb-inner flex items-center">
                <ul class="flex items-center w-full overflow-hidden text-gray-500 list-none my-0">
                    <li class="text-sm px-2.5 transition duration-200 ease-in first:pl-0 last:pr-0"><a href="/" class="text-body hover:text-primary">Home</a></li>
                    <li class="text-base mt-0.5">/</li>
                    <li class="text-sm px-2.5 transition duration-200 ease-in first:pl-0 last:pr-0 text-primary">{{slotData.language.cart.shoppingCart.title}}</li>
                </ul>
            </div>
        </div>
        <div class="inner-content-wrapper" v-if="slotData.selectedProducts && Object.keys(slotData.selectedProducts).length">
            <cart-shopping-block-template  />
        </div>    
        <div class="inner-content-wrapper" v-else>
            <cart-empty-block-template  />
        </div>  
    </div>
    <footer-block-section  />
</div>