<div class="bg-gray-50" v-if="slotData.settingLoaded">
    <header-block-section  />
    <div class="relative flex flex-wrap  lg:flex-nowrap mt-[90px]  bg-white">
      <div class="main-loader absolute top-0 left-0 w-full" v-if="mainLoader">
        <progress-bar-snippet  />
      </div>
      <div class="cat-list-wrp w-full lg:w-[320px] h-full lg:fixed lg:top-[90px] lg:left-0 lg:overflow-auto">
          <!-- <h2 class="category-list-title font-semibold truncate mt-6 m-4 text-sm sm:text-base md:text-sm lg:text-base xl:text-lg">{{slotData.language.heading}}</h2> -->
          <template v-if="slotData.settingLoaded">
            <span class="hidden lg:block">
                <category-base-list-template  :items_to_show="4"  v-bind:category_id="category_id"  v-bind:category_name="slotData.data?.name"  />
            </span>
          </template>

        <attribute-filter
            
            :tag_title = slotData.language.TagFilter
            :category_id=category_id
            :select_filter =[]
            :url_path=slotData.data?.url_key
        />
      </div>
      <trail-popup-snippet  :is_active="slotData.isActive"></trail-popup-snippet>
    <div class="w-full bg-gray-50  lg:ml-[320px] lg:w-[calc(100%-320px)]">
        <template v-if="slotData.banners && slotData.banners.length">
            <div class="w-full h-40 md:h-60 lg:h-80 xl:h-96 relative overflow-hidden">
                <template v-if="slotData.banners.length > 1">
                    <div class="bg-white absolute max-w-[100%]">
                        <banner-block-custom-block
                            
                            :slides="slotData.banners"
                            :slide_show="true"
                            :rounded_corners="false"
                            columns="1"
                            title=""
                            description=""
                            :show_button="false"
                            :slide_link="true"
                            :slide_dots="true"
                            :center_mode="false"
                            banner_height="sm:min-h-[160px] md:h-[320px]  xl:h-[384px]"
                            slide_show_speed="3000"
                        />
                    </div>
                </template>
                <template v-else class="relative overflow-hidden">
                    <!-- <div class="bg-cover bg-no-repeat bg-center h-[100%]" v-bind:style="{ backgroundImage: 'url(' + slotData.banners[0].url + ')' }"> -->
                        <img class="w-full object-cover object-center h-full absolute top-0 left-0" :src="slotData.banners[0].url" width="20" height="20" :alt="slotData.data?.name" loading="lazy" decoding="async"  />
                    <!-- </div> -->
                </template>
                <div class="inner-content text-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10">
                    <div class="banner-title text-white text-lg md:text-xl lg:text-3xl 2xl:text-4xl xl:leading-10 font-bold" v-if="slotData.data?.name">
                        {{slotData.data.name}}
                    </div>
                </div>
                <span class="absolute w-full h-full top-0 left-0 opacity-30 bg-black z-0"></span>
            </div>
        </template>

       <!--  <template v-else>
            <div v-if="slotData.image" class="w-full h-40 md:h-60 lg:h-80 xl:h-96 bg-cover bg-no-repeat bg-center relative" v-bind:style="{ backgroundImage: 'url(' + slotData.image + ')' }">
                <img class="w-full h-auto hidden" :src="slotData.image" width="20" height="20" :alt="category.name"  />
                <div class="inner-content text-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10">
                    <div class="banner-title text-white text-lg md:text-xl lg:text-3xl 2xl:text-4xl xl:leading-10 font-bold" v-if="category.name">
                        {{slotData.data.name}}
                    </div>
                </div>
                <span class="absolute w-full h-full top-0 left-0 opacity-30 bg-primary z-0"></span>
            </div>
        </template> -->

        <div class="p-4 md:p-8">
            
            <template v-if="slotData.data && slotData.data.breadcrumb">
                <div class="breadcrumb mb-3 md:mb-6">
                    <div class="breadcrumb-inner flex items-center overflow-wrap-anywhere">
                        <ul class="flex items-center w-full overflow-hidden text-gray-500 list-none my-0 flex flex-wrap">
                            <template v-for="(breadcrumb, index) in slotData.data.breadcrumb">
                                <template v-if="index == 0">
                                    <li class="text-sm px-2.5 transition duration-200 ease-in first:pl-0 last:pr-0">
                                        <a :href="breadcrumb.url" class="hover:text-heading">{{slotData.language.category.breadcrumb.homeText}}</a>
                                    </li>
                                </template>
                                <template v-else>
                                    <li class="text-sm px-2.5 transition duration-200 ease-in first:pl-0 last:pr-0 ">
                                        <template v-if="index != slotData.data.breadcrumb.length - 1">
                                            <a :href="breadcrumb.url" class="hover:text-heading">{{breadcrumb.label}}</a>
                                        </template>
                                        <template v-else><span>{{breadcrumb.label}}</span></template>
                                    </li>
                                </template>

                                <template v-if="index != slotData.data.breadcrumb.length - 1">
                                    <li class="text-base mt-0.5">/</li>
                                </template>
                            </template>
                        </ul>
                    </div>
                </div>
            </template>

            <template v-if="slotData.settingLoaded && slotData.dataLoaded">
                <product-list-template 
                v-bind:category_id="[category_id]" 
                v-bind:category_name="slotData.data?.name"
                v-bind:category_description="slotData.data?.description"
                v-bind:category_short_description="slotData.data?.short_description"
                v-bind:top_content_block="slotData.data?.top_content_block"
                v-bind:bottom_content_block="slotData.data?.bottom_content_block"
                v-bind:page_type="'category'" 
                :sort_property="'featured'"
                :sort_direction="'desc'"
                 />
            </template>
        </div>

      </div>

    </div>




    <footer-block-section  />
</div>
<!-- <div v-else>
    <page-loader-snippet  />
</div> -->