<div v-if="slotData.settingLoaded">
  <header-block-section  />




  <div
    class="contact-us-page content-wrapper mx-auto max-w-[1920px] px-4 md:px-8 2xl:px-16 mt-[90px]"
  >
      
     <div class="main contct-us-map-wrapper">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1980.7921493201907!2d79.86608324797679!3d6.820306357131671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25b2eafcb5ee5%3A0x5d58adb93415dbbb!2sSiddhalepa%20Ayurveda%20Head%20Office!5e0!3m2!1sen!2slk!4v1763094214452!5m2!1sen!2slk" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

     </div> 
      
      
    <section class="main contact-us-section">
      
    <div class="breadcrumb pt-8 mb-8 ">
      <div class="breadcrumb-inner flex items-center">
        <ul class="flex items-center w-full overflow-hidden text-gray-500 list-none my-0">
          <li
            class="text-sm px-2.5 transition duration-200 ease-in first:pl-0 last:pr-0"
          >
            <a href="/" class="text-body hover:text-primary">Home</a>
          </li>
          <li class="text-base mt-0.5">/</li>
          <li
            class="text-sm px-2.5 transition duration-200 ease-in first:pl-0 last:pr-0""><span>
            {{slotData.language.contact.title}}
          </span></li>
        </ul>
      </div>
    </div>
    
    </section> 
    
    <section  class="two-column-section">
        <div class="column">
            <h3>SEND US AN EMAIL</h3>
            <p>We'd love to hear from you. Send us a message and we'll respond as soon as possible.</p>
            
            <form class="js-cm-form contact-form main-margin-bottom" id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="5B5E7037DA78A748374AD499497E309E47D628D426F563EFF3B6F3232C42FAC9AD797AFD0EACE347CA423B02C454F7E07BC8FEF7E35462DAFEDCC8CF5ACD69A5">
	<div class="form-row">
		<div class="form-group">
			<label for="fieldName">Your Name*</label>
			<input id="fieldName" maxlength="200" name="cm-name" placeholder="Your name" required="">
		</div>
		<div class="form-group">
			<label for="fieldEmail">Your Email*</label>
			<input autocomplete="Email" class="js-cm-email-input qa-input-email" id="fieldEmail" maxlength="200" name="cm-njudrjy-njudrjy" placeholder="Your email" required="" type="email">
		</div>
	</div>

	<div class="form-row">
		<div class="form-group">
			<label for="fielddknmlu">Phone Number*</label>
			<input type="tel" inputmode="numeric" pattern="[0-9()+]*" oninput="this.value = this.value.replace(/[^0-9()+]/g, '')" id="fielddknmlu" maxlength="200" name="cm-f-dknmlu" required="" placeholder="Your Phone">
		</div>
		<div class="form-group">
			<label for="fielddknmo">Company</label>
			<input  id="fielddknmo" maxlength="200" name="cm-f-dknmo" placeholder="Your Company">
		</div>
	</div>

	<div class="form-row">
		<div class="form-group full-width">
			<label for="fielddknmb">Your Message*</label>
			<textarea id="fielddknmb" name="message" required name="cm-f-dknmb" placeholder="Your Message"></textarea>
		</div>
	</div>
	
	<div>
	<div>
	  <div>
		<div>
		  <div class="label-pos">
			<input aria-required="true" id="cm-privacy-consent" name="cm-privacy-consent" required="" type="checkbox">
			<label for="cm-privacy-consent">I agree to be emailed*</label>
		  </div>
		  <input id="cm-privacy-consent-hidden" name="cm-privacy-consent-hidden" type="hidden" value="true">
		</div>
		<div>
		  <div class="label-pos">
			<input aria-required="false" id="cm-privacy-email" name="cm-privacy-email" type="checkbox">
			<label for="cm-privacy-email">I agree to have my email activity tracked</label>
		  </div>
		  <input id="cm-privacy-email-hidden" name="cm-privacy-email-hidden" type="hidden" value="true">
		</div>
	  </div>
	</div>
	<p class="privacy-link">
	  <a href="https://shop.siddhalepa.lk/privacy-policy" rel="noopener" target="_blank">Privacy Policy</a>
	</p>
  </div>

	<button type="submit" class="submit-btn">SUBMIT</button>
	
</form>

        </div>
        
        <div class="column">
            <h3>CONTACT US</h3>
            <p>Do you have any questions about how we can help you?</p>
            
            <div class="flex pb-7 company-details">
              <div class="flex flex-shrink-0 justify-center items-center p-1.5 border rounded-md border-gray-300 w-10 h-10">
               <b-icon class="w-4 h-4" icon="geo-alt-fill" ></b-icon>
              </div>
              <div class="flex flex-col pl-3 2xl:pl-4 ">
                <h5 class="text-sm font-bold text-heading">{{slotData.language.contact.address}}</h5>
                <a class="text-sm mt-0" href="https://www.google.com/maps/dir//Siddhalepa+Ayurveda+Head+Office+33%2F3+Sri+Dharmarama+Rd+Dehiwala-Mount+Lavinia+10390/@6.8203037,79.8685187,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3ae25b2eafcb5ee5:0x5d58adb93415dbbb!2m2!1d79.8685185!2d6.8203048?entry=ttu&g_ep=EgoyMDI1MTExMi4wIKXMDSoASAFQAw%3D%3D"
                  target="_blank" >$$__business_address__$$</a
                >
              </div>
            </div>
            
            <div class="flex pb-7 company-details">
              <div class="flex flex-shrink-0 justify-center items-center p-1.5 border rounded-md border-gray-300 w-10 h-10" >
                <b-icon class="w-4 h-4" icon="envelope-fill" ></b-icon>
              </div>
              <div class="flex flex-col pl-3 2xl:pl-4">
                <h5 class="text-sm font-bold text-heading">{{slotData.language.contact.email}}</h5>
                <a class="text-sm mt-0" href="mailto:$$__business_email__$$">$$__business_email__$$</a>
              </div>
            </div>
             
            <div class="flex pb-7 company-details">
              <div class="flex flex-shrink-0 justify-center items-center p-1.5 border rounded-md border-gray-300 w-10 h-10" >
                <b-icon class="w-4 h-4" icon="telephone-fill" ></b-icon>
              </div>
              <div class="flex flex-col pl-3 2xl:pl-4">
                <h5 class="text-sm font-bold text-heading">{{slotData.language.contact.phone}}</h5>
                <a class="text-sm mt-0" href="tel:$$__business_contact_no__$$">$$__business_contact_no__$$</a>
              </div>
            </div>
        </div>
        
    </section>
    
   

    </div>
  <footer-block-section  />
</div>