<div>
  <div v-if="slotData.settingLoaded">
    <div class="main-loader" v-if="mainLoader">
      <progress-bar-snippet  />
    </div>
    <header-block-section  :show_menu="true" />
    <div class="hero-slider w-full mb-14">
      
            <location-banner-block-custom-block
            :location_id="location_id"
            :show_location_description="false"
            
            slide_show="true"
            :rounded_corners="false"
            columns="1"
            title=""
            description=""
            :show_button="false"
            :slide_link="true"
            :slide_show_dots="true"
            banner_height=" h-[160px] md:h-[320px] lg:h-[720px] "
            slide_show_speed="500"
            />
   

 
        <!-- <div class="w-full xl:w-3/12 py-4 xl:py-8 xl:pl-4 px-4 md:pb-8 md:px-8 bg-white">

            <products-block-custom-block
                
                :limit="5"
                :start="0"
                :featured="true"
                columns="1"
                title="Featured Items"
                show_title="true"
                slide_show="true"
                show_product_name="true"
                show_product_description="true"
                show_product_price="true"
                show_product_attribute="false"
                show_product_tags="false"
                show_upcomming_offer="false"
                show_add_to_cart="false"
                slide_show_speed="300"
                auto_play_speed="5000"
                slides_to_scroll="1"
                slide_show_arrows="true"
                :slider_responsive='[ 
                    {
                        "breakpoint": 1280,
                        "settings": {
                          "slidesToShow": 2,
                        }
                    },
                    {
                        "breakpoint": 480,
                        "settings": {
                          "slidesToShow": 1,
                        }
                    }
                ]'
                /> 

        </div> -->
    </div>
    

    <trail-popup-snippet  :is_active="slotData.isActive"></trail-popup-snippet>

     <category-block-custom-block
      
      :start="0"
      :limit="12"
      title="Top Categories"
      columns="6"
      show_main_block="false"
      main_block_title="Top Categories"
      slide_show="true"
      main_block_width="25%"
      slide_show_dots="flase"
      slide_show_arrows="true"
      slide_show_autoplay="true"
      slide_show_speed="300"
      auto_play_speed="5000"
      show_main_block_button="true"
      main_block_button_text="All Categories"
      main_block_height="230px"
      :slider_responsive='[ 
            {
                "breakpoint": 1024,
                "settings": {
                   "slidesToShow": 5,
                }
            },
            {
                "breakpoint": 480,
                "settings": {
                  "slidesToShow": 3,
                }
            }
        ]'
       :sampleProducts= "sampleProducts"
      />
     
   
       <offer-product-custom-block
          
          :limit="9"
          :start="0"
          columns="3"
          title="Deals"
          show_title="true"
          slide_show="false"
          show_product_name="true"
          show_product_description="true"
          show_product_price="true"
          show_product_attribute="false"
          show_product_tags="false"
          show_add_to_cart="false"
          show_upcomming_offer="false"
          slide_show_speed="300"
          auto_play_speed="5000"
          slides_to_scroll="1"
          slide_show_arrows="true"
          :sampleProducts= "sampleProducts"
          /> 


      <div class="w-full mb-8">
        
        <banner-block-custom-block
            
            :slides="[
            {'url':'$$__client_media_url__$$/$$__client_media_path__$$/banner_17.webp', 'button_url':'#'},
            {'url':'$$__client_media_url__$$/$$__client_media_path__$$/banner_12.jpg', 'button_url':'#'},
            {'url':'$$__client_media_url__$$/$$__client_media_path__$$/banner_13.webp' , 'button_url':'#'},
            {'url':'$$__client_media_url__$$/$$__client_media_path__$$/banner_14.jpg' , 'button_url':'#'},
            {'url':'$$__client_media_url__$$/$$__client_media_path__$$/banner_15.webp'},
            {'url':'$$__client_media_url__$$/$$__client_media_path__$$/banner_16.jpg'},
            {'url':'$$__client_media_url__$$/$$__client_media_path__$$/banner_17.webp'}
            ]"
            slide_show="true"
            slide_show_dots="true"
            rounded_corners="true"
            columns="3"
            title=""
            description=""
            :show_button="false"
            :slide_link="true"
            button_text="Vist Shop"
            button_url="http://google.com"
            banner_height="h-[160px] md:h-[320px] lg:h-[420px]"
            slide_show_speed="100"
            :slider_responsive='[ 
                {
                    "breakpoint": 1024,
                    "settings": {
                        "centerPadding":"60px"
                    }
                },
                {
                    "breakpoint": 480,
                    "settings": {
                        "centerPadding":"30px"
                    }
                }
            ]'
            />
      </div>


    


     <specific-product-custom-block
          
          :limit="9"
          :start="0"
          attributes='[{"code":"NEW_ARRIVALS","value":"1", "condition":"eq"}, {"code":"NEW_ARRIVALS_END_DATE","value":"$$__current_datetime__$$", "condition":"gteq"}]'
          columns="3"
          title="New Arrivals"
          show_title="true"c
          :categories="['8236bcf3051127d75afcae45202d1354']"
          slide_show="false"
          show_product_name="true"
          show_product_description="true"
          show_product_price="true"
          show_product_attribute="false"
          show_product_tags="false"
          show_upcomming_offer="false"
          show_add_to_cart="false"
          slide_show_speed="300"
          auto_play_speed="5000"
          slides_to_scroll="1"
          slide_show_arrows="true"
          :sampleProducts= "sampleProducts"
          /> 
          
           

      <div class="w-full p-4 md:px-8 md:py-4">
        
          <banner-block-custom-block
            
            :slides="[
            {'url':'$$__client_media_url__$$/$$__client_media_path__$$/banner-19.webp'}
            ]"
            slide_show="false"
            rounded_corners="true"
            columns="1"
            title=""
            description=""
            :show_button="false"
            button_text="Vist Shop"
            button_url="http://google.com"
            banner_height="h-[110px] md:h-[240px] xl:h-[450px]"
            slide_show_speed="3000"
            />
      </div>
     


   
    
      <best-selling-product-custom-block
          
          :limit="6"
          :start="0"
          columns="3"
          title="Best Selling"
          show_title="true"
          slide_show="false"
          show_product_name="true"
          show_product_description="true"
          show_product_price="true"
          show_product_attribute="false"
          show_upcomming_offer="false"
          show_product_tags="false"
          show_add_to_cart="false"
          slide_show_speed="300"
          auto_play_speed="5000"
          slides_to_scroll="1"
          slide_show_arrows="true"
          :sampleProducts= "sampleProducts"
          /> 
    
    <footer-block-section  />
  </div>
 <!--  <div v-else>
    <page-loader-snippet  />
  </div> -->
</div>
