<div class="bg-gray-50">
  <div v-if="slotData.settingLoaded">
    <header-block-section />
    <div
      class="relative flex flex-wrap lg:flex-nowrap lg:min-h-screen mt-[90px] bg-white"
    >
      <div class="main-loader absolute top-0 left-0 w-full" v-if="mainLoader">
        <progress-bar-snippet />
      </div>
      <div
        class="cat-list-wrp w-full lg:w-[320px] h-full lg:fixed lg:top-[90px] lg:left-0 lg:overflow-auto"
      >
        <h2
          class="category-list-title font-semibold truncate mt-6 m-4 text-sm sm:text-base md:text-sm lg:text-base xl:text-lg hidden lg:block"
        >
          {{slotData.language.heading}}
        </h2>

        <span class="hidden lg:block">
          <category-base-list-template
            :page="page"
            :featured="slotData.featured"
            :items_to_show="4"
          />
        </span>
      </div>
      <trail-popup-snippet :is_active="slotData.isActive"></trail-popup-snippet>
      <div
        class="w-full p-4 md:p-8 bg-gray-50 lg:ml-[320px] lg:w-[calc(100%-320px)]"
      >
        <offer-list-template
              :categories="null"
              :page="page"
             
        />
    
      <!-- custom category block -->
<!-- 
        <custom-offer-category-list-template
          category_ids="['categoryID1','categoryID2',.....]"
          :limit="3"
          :hideHeader="boolean" 
          :hideLoadMore="boolean"  
          :columns=x ;where x should be a number
          categorySortDirection="desc  / asc"
          categorySortProperty="name" 
          :categoryLimit=1
          productSortProperty="name"
          productSortDirection="asc"
        />
 -->
<!-- 
 <custom-offer-category-list-template
          category_ids="['077bc625aa1c94d4e07b9b5376f61330','aefa75566f2534c589208b59ae2e5f49']"
          :limit="3"
          :hideHeader="false" 
          :hideLoadMore="false"  
          :columns=5
          categorySortDirection="desc"
          categorySortProperty="name"
          :categoryLimit=0
          productSortProperty="name"
          productSortDirection="asc"
          /> -->
      </div>
    </div>
    <footer-block-section />
  </div>
</div>
