<div class="bg-gray-50" v-if="slotData.settingLoaded">
  <header-block-section />
  <div class="relative flex flex-wrap lg:flex-nowrap mt-[90px]">
    <div class="main-loader absolute top-0 left-0 w-full" v-if="mainLoader">
      <progress-bar-snippet />
    </div>
    <div class="w-full lg:w-[320px] bg-white h-full">
      <h2
        class="category-list-title font-semibold  mt-6 m-4 text-sm sm:text-base md:text-sm lg:text-base xl:text-lg hidden lg:block"
      >
        {{slotData.language.heading}}
      </h2>

      <template v-if="slotData.settingLoaded">
        <div class="hidden lg:block">
          <category-base-list-template
            :page="slotData.page"
            :items_to_show="20"
            v-bind:category_id="slotData.category_id"
            v-bind:category_name="slotData.c_name"
          />
        </div>
      </template>
      <attribute-filter
        :tag_title="slotData.language.TagFilter"
        :category_id="slotData.category_id"
        :select_filter="slotData.filterData"
        :url_path="slotData.url_path"
      />
    </div>
    <div class="w-full p-4 md:p-8">
      <product-list-template
        :category_id="slotData.category_id"
        :page="slotData.page"
      />
      <!-- <filter-product-list-template
        :filter_data="slotData.filterData"
        :category_id="slotData.category_id"
      /> -->
    </div>
  </div>

  <footer-block-section />
</div>