<div v-if="slotData.settingLoaded">
    <header-block-section  />

    <div class="content-wrapper mx-auto max-w-[1920px] px-4 md:px-8 2xl:px-16 mt-[90px]  mb-8 lg:mb-16">

        <div class="breadcrumb pt-8 mb-4 md:mb-8">
            <div class="breadcrumb-inner flex items-center">
                <ul class="flex items-center w-full overflow-hidden text-gray-500 list-none my-0">
                    <li class="text-sm px-2.5 transition duration-200 ease-in first:pl-0 last:pr-0"><a href="/" class="text-body hover:text-primary">Home</a></li>
                    <li class="text-base mt-0.5">/</li>
                    <li class="text-sm px-2.5 transition duration-200 ease-in first:pl-0 last:pr-0"><a href="/user-account" class="text-body hover:text-primary">My Account</a></li>
                    <li class="text-base mt-0.5">/</li>
                    <li class="text-sm px-2.5 transition duration-200 ease-in first:pl-0 last:pr-0 text-primary">My Favourites</li>
                </ul>
            </div>
        </div>

        <div class="main-wrapper">
            <div class="main-title-wrapper mb-6 flex flex-row justify-between items-center xl:mb-8 mt-0">
                <span class="text-lg md:text-xl xl:text-2xl font-bold text-heading">My Favourites</span>
                <div v-if="slotData.products && slotData.products.length" class="flex flex-row space-x-2 text-primary text-base font-semibold cursor-pointer items-center" v-on:click="showDeleteAllFavoritePopup()">
                    <b-icon class="w-4 h-4" icon="trash-fill"></b-icon>
                    <span>Remove All Favourites</span>
                </div>
            </div>
              <delete-all-favorite-popup
                    :is_active="slotData.isDeleteAllFavoritePopupOpen"
                    :closeAllFavoritesPopup="closeDeleteAllFavoritePopup"
                    @deletedAllFavorites="deletedAllFavorites"
                />
        </div>

        <div class="inner-content-wrapper">
            <div v-if="slotData.isLoadingGetFavoriteList">
                <div class="text-body/50 flex items-center justify-center my-8" >
                    <svg class="animate-spin h-5 w-5"  stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M12 22c5.421 0 10-4.579 10-10h-2c0 4.337-3.663 8-8 8s-8-3.663-8-8c0-4.336 3.663-8 8-8V2C6.579 2 2 6.58 2 12c0 5.421 4.579 10 10 10z"></path></svg>
                    <span class="ml-2">Loading</span>
                </div>
            </div>
            <div v-else>
                <div v-if="slotData.products && slotData.products.length">
                    <div class="grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 product-row md:mt-6 col-span-full 3xl:col-span-3 md:gap-5 xl:gap-7 row-span-full">
                        <template v-for="(product, key) in slotData.products">
                            <custom-product-item-section
                                :key="product.id"        
                                v-bind:data="product"
                                v-bind:showProductName="slotData.showProductName"
                                v-bind:showProductDescription="slotData.showProductDescription"
                                v-bind:showProductPrice="slotData.showProductPrice"
                                v-bind:showProductImage="slotData.showProductImage"
                                v-bind:showProductAttribute="slotData.showProductAttribute"
                                v-bind:showProductTags="slotData.showProductTags"
                                v-bind:showOfferTags="slotData.showOfferTags"
                                v-bind:showFlashOffers="slotData.showFlashOffers"
                                v-bind:showUpcommingOffer="slotData.showUpcommingOffer"
                                v-bind:showAddToCart="slotData.showAddToCart"
                                v-bind:slideShow="slotData.slideShow"
                                v-bind:isInTheFavoritePage="slotData.isInTheFavoritePage"
                                @removeSingleProduct="handleRemoveSingleProduct"
                                />
                        </template>
                    </div>
                    <div v-if="slotData.isLoadingMore" class="text-body/50 flex items-center justify-center my-4">
                        <svg class="animate-spin h-5 w-5" stroke="currentColor" fill="currentColor" stroke-width="0"
                            viewBox="0 0 24 24" height="1em" width="1em">
                            <path d="M12 22c5.421 0 10-4.579 10-10h-2c0 4.337-3.663 8-8 8s-8-3.663-8-8c0-4.336 3.663-8 8-8V2C6.579 2 2 6.58 2 12c0 5.421 4.579 10 10 10z"></path>
                        </svg>
                        <span class="ml-2">Loading more...</span>
                    </div>
                </div>
                <div v-else>
                    <div class="flex flex-col space-y-4 justify-center items-center text-[#5A5A5A] mt-20 my-8" >
                            <div class="w-full">
                                <img 
                                class="w-full h-[126px] object-center object-contain mx-auto"
                                src="$$__client_media_url__$$/$$__client_media_path__$$/favorite-empty.png" 
                                alt="empty_image"
                                loading="lazy" decoding="async"
                                >
                            </div>
                            <span class="font-normal text-sm text-center">Your favourites list is empty!</br>
                             Start saving items you love to access them easily later.</span>
                            <a
                                class="cursor-pointer px-4 py-2 bg-primary text-white text-sm text-semibold hover:opacity-80 whitespace-nowrap block mt-4 rounded"
                                href="/all"
                                >Browse Products
                            </a>
                        </div>
                    </div>
                </div>
        </div>

    </div>

    <footer-block-section  />
</div>