<div v-if="slotData.settingLoaded">
    <header-block-section  />

    <div class="content-wrapper mx-auto max-w-[1920px] px-4 md:px-8 2xl:px-16 mt-[90px]  mb-8 lg:mb-16">

        <div class="breadcrumb pt-8 mb-4 md:mb-8">
            <div class="breadcrumb-inner flex items-center">
                <ul class="flex items-center w-full overflow-hidden text-gray-500 list-none my-0">
                    <li class="text-sm px-2.5 transition duration-200 ease-in first:pl-0 last:pr-0"><a href="/" class="text-body hover:text-primary">Home</a></li>
                    <li class="text-base mt-0.5">/</li>
                    <li class="text-sm px-2.5 transition duration-200 ease-in first:pl-0 last:pr-0"><a href="/user-account" class="text-body hover:text-primary">My Account</a></li>
                    <li class="text-base mt-0.5">/</li>
                    <li class="text-sm px-2.5 transition duration-200 ease-in first:pl-0 last:pr-0">
                        <template v-if="!detailMode">
                            {{slotData.language.orderHistory.title}}
                        </template>
                        <template v-else>
                            {{slotData.language.orderHistory.detailTitle}}
                        </template>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-wrapper flex items-start">
            <div class="main-title-wrapper mb-2 md:mb-4">
                <h1 class="text-lg md:text-xl xl:text-2xl font-bold text-heading mt-0">
                    <template v-if="!detailMode">
                        {{slotData.language.orderHistory.title}}
                    </template>
                    <template v-else>
                        {{slotData.language.orderHistory.detailTitle}}
                    </template>
                </h1>
            </div>
            <a v-if="detailMode" @click="backToList" class="text-sm leading-4 bg-primary text-white px-4 py-2.5 inline-block rounded-md hover:text-white hover:bg-gray-600 ml-auto cursor-pointer">{{slotData.language.orderHistory.back}}</a>
        </div>

        <div v-if="!detailMode" class="inner-content-wrapper my-4">
                <template v-if="slotData.dataLoaded">
                        <template v-if="slotData.orderList && slotData.orderList.length">
        
                            <div class="hidden md:flex order-list-header  text-heading bg-gray-100 text-heading  sm:rounded-lg font-semibold mb-2">
                                <div cols="12" md="2" class="w-full md:w-2/12 px-3 py-4">
                                    {{slotData.language.orderHistory.fields.orderNo}}
                                </div >
                                <div cols="12" md="2" class="w-full md:w-3/12 px-3 py-4">
                                    {{slotData.language.orderHistory.fields.date}}
                                </div >
                                <div cols="12" md="3" class="w-full md:w-2/12 px-3 py-4">
                                    {{slotData.language.orderHistory.fields.status}}
                                </div >
                                <div cols="12" md="3" class="w-full md:w-3/12 px-3 py-4">
                                    {{slotData.language.orderHistory.fields.payment_status}}
                                </div >
                                <div cols="12" md="2" class="w-full md:w-2/12 px-3 py-4 text-right">
                                    {{slotData.language.orderHistory.fields.amount}} ({{slotData.display_currency}})
                                </div >
                                <div cols="12" md="2" class="w-full md:w-2/12 px-3 py-4 text-right">
                                    {{slotData.language.orderHistory.fields.actions}}
                                </div >
                            </div>

                            <template v-for="item in slotData.orderList">

                                <div class="accordion hidden md:block" role="tablist">
                                    <div no-body class="">
                                        <div header-tag="header" class="" role="tab">
                                        <!--  <button block data-v-b-toggle="'id-' + item.order_id" variant="info">  -->
                                                <div class="flex " :class="{'border-b border-gray-300': !(item.order_cancellations && item.order_cancellations[0] && item.order_cancellations[0].status == 'pending')}">
                                                    <div cols="12" md="2" class="w-full md:w-2/12 px-3 py-2">
                                                        <a class="underline hover:no-underline text-body  cursor-pointer" @click="toggleActive($event, item)" >#{{item.reference}}</a>
                                                    </div >
                                                    <div cols="12" md="3" class="w-full md:w-3/12 px-3 py-2">
                                                        {{slotData.helpers.DateFormat(item.date, 'MMM D, YYYY hh:mma')}}
                                                    </div >
                                                    <div cols="12" md="2" class="w-full md:w-2/12 px-3 py-2">
                                                        {{item.order_status.text}}
                                                    </div >
                                                    <div cols="12" md="3" class="w-full md:w-3/12 px-3 py-2">
                                                        {{item.payment_status}}
                                                    </div >
                                                    <div cols="12" md="2" class="w-full md:w-2/12 px-3 py-2 text-right">
                                                        {{slotData.helpers.PriceFormat(item.amount)}}
                                                    </div >
                                                    <div cols="12" md="2" class="w-full md:w-2/12 px-3 py-2 text-right">
                                                    <a class="text-sm leading-4 bg-primary text-white px-4 py-2.5 inline-block rounded-md hover:text-white hover:bg-gray-600  cursor-pointer" @click="toggleActive($event, item)"  >view</a>
                                                    </div >
                                                </div>
                                                <template v-if="item.order_cancellations && item.order_cancellations[0] && item.order_cancellations[0].status == 'pending'">
                                                    <div class="flex border-b border-gray-300">
                                                        <div cols="12" class="w-full px-3 pb-2 text-xs text-red-500 font-bold">
                                                            {{slotData.language.orderHistory.orderCancellationText}}
                                                        </div >
                                                    </div>
                                                </template>
                                            <!-- </button> -->
                                        </div>

                                    
                                    </div>
                                </div>

                                <div class="md:hidden w-full">

                                    <ul class="text-sm font-semibold text-heading border border-gray-300 rounded-md flex flex-col px-4 pt-5 pb-6 mb-4 space-y-5">
                                        <template v-if="item.order_cancellations && item.order_cancellations[0] && item.order_cancellations[0].status == 'pending'">
                                            <li class="flex items-center justify-between">
                                                <span class="w-full font-normal text-red-500 font-bold">
                                                    {{slotData.language.orderHistory.orderCancellationText}}
                                                </span>
                                            </li>
                                        </template>
                                        <li class="flex items-center justify-between">
                                            {{slotData.language.orderHistory.fields.orderNo}}
                                            <a class="underline hover:no-underline text-body  cursor-pointer" @click="toggleActive($event, item)" >#{{item.reference}}</a>
                                        </li>
                                        <li class="flex items-center justify-between">
                                            {{slotData.language.orderHistory.fields.date}}
                                            <span class="font-normal">{{slotData.helpers.DateFormat(item.date, 'MMM D, YYYY hh:mma')}}</span>
                                        </li>
                                        <li class="flex items-center justify-between">
                                            {{slotData.language.orderHistory.fields.status}}
                                            <span class="font-normal">{{item.order_status.text}}</span>
                                        </li>
                                        <li class="flex items-center justify-between">
                                            {{slotData.language.orderHistory.fields.payment_status}}
                                            <span class="font-normal">{{slotData.helpers.PriceFormat(item.amount)}}</span>
                                        </li>
                                        <li class="flex items-center justify-between">
                                            {{slotData.language.orderHistory.fields.amount}} ({{slotData.display_currency}})
                                            <span class="font-normal">{{slotData.helpers.PriceFormat(item.amount)}}</span>
                                        </li>
                                        <li class="flex items-center justify-between">
                                            {{slotData.language.orderHistory.fields.actions}}
                                            <a class="text-sm leading-4 bg-primary text-white px-4 py-2.5 inline-block rounded-md hover:text-white hover:bg-gray-600  cursor-pointer" @click="toggleActive($event, item)"  >view</a>
                                        </li>
                                    </ul>

                                </div>
                            </template>
                        </template>
                        <template v-else>
                            <div class="empty-content text-body text-center">
                                <div class="bg-empty w-24 h-24 bg-no-repeat bg-contain bg-center  mx-auto mb-4"></div>
                                <h3 class="xl:text-lg font-semibold mb-2">{{slotData.language.orderHistory.emptyTitle}}</h3>
                                <p>{{slotData.language.orderHistory.emptyDescription}}</p>
                            </div>
                        </template>
                </template>
                <template v-else>
                    <div class="hidden md:flex order-list-header  text-heading bg-gray-100 text-heading  sm:rounded-lg font-semibold mb-2">
                        <div cols="12" md="2" class="w-full md:w-2/12 px-3 py-4">
                            {{slotData.language.orderHistory.fields.orderNo}}
                        </div >
                        <div cols="12" md="2" class="w-full md:w-3/12 px-3 py-4">
                            {{slotData.language.orderHistory.fields.date}}
                        </div >
                        <div cols="12" md="3" class="w-full md:w-2/12 px-3 py-4">
                            {{slotData.language.orderHistory.fields.status}}
                        </div >
                        <div cols="12" md="3" class="w-full md:w-3/12 px-3 py-4">
                            {{slotData.language.orderHistory.fields.payment_status}}
                        </div >
                        <div cols="12" md="2" class="w-full md:w-2/12 px-3 py-4 text-right">
                            {{slotData.language.orderHistory.fields.amount}} ({{slotData.display_currency}})
                        </div >
                        <div cols="12" md="2" class="w-full md:w-2/12 px-3 py-4 text-right">
                            {{slotData.language.orderHistory.fields.actions}}
                        </div >
                    </div>
                    <div class="text-body/50 flex items-center justify-center my-8" >
                        <svg class="animate-spin h-5 w-5"  stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M12 22c5.421 0 10-4.579 10-10h-2c0 4.337-3.663 8-8 8s-8-3.663-8-8c0-4.336 3.663-8 8-8V2C6.579 2 2 6.58 2 12c0 5.421 4.579 10 10 10z"></path></svg>
                        <span class="ml-2">Loading</span>
                    </div>
                </template>
        </div>

        <div class="detail-content-wrapper mb-4">

            <template v-if="slotData.orderList" v-for="item in slotData.orderList">

                <div class="order-cancellation-info-wrapper w-full mb:6 md:mb-10" v-if="item.open && item.order_cancellations && item.order_cancellations[0] && item.order_cancellations[0].status !== 'approved'">
                    <div class="text-danger text-sm  leading-2 px-3 bg-red-100 px-6 py-3 border border-red-300 rounded shadow-md">
                        <template v-if="item.order_cancellations && item.order_cancellations[0] && item.order_cancellations[0].status == 'pending'">
                            <div class="text-danger font-bold leading-4 py-2.5 text-gray-700 uppercase">
                                {{slotData.language.orderHistory.cancellationPendingTitle}}
                            </div>
                        </template>
                        <template v-else-if="item.order_cancellations && item.order_cancellations[0] && item.order_cancellations[0].status == 'denied'">
                            <div class="text-danger font-bold leading-4 pr-3 py-2.5 text-gray-700 uppercase">
                                {{slotData.language.orderHistory.cancellationRejectTitle}}
                            </div>
                            <template v-if="item.order_cancellations[0].admin_note">
                                <span class="font-semibold">{{slotData.language.orderHistory.cancellationRejectReason}}</span>
                                {{item.order_cancellations[0].admin_note}}
                            </template>
                        </template>
                    </div>
                </div>


                 <div :class="[item.open ? 'flex' : 'hidden']"  role="tabpanel" class="detail-item flex-wrap items-start">
                    <div class="detail-wrapper w-full xl:w-5/12 xl:pr-6 pt-5">

                         <div class="total-outter-inner-wrapper flex">
                                            <div cols="12" md="6" class="w-full  detail-wrapper">

                                                <div class="section-header bg-gray-100 p-4 rounded-lg"><h3 class="title text-heading font-semibold text-base lg:text-lg"> User Details </h3></div>

                                                <div class="custom-fields text-sm md:text-base" v-if="item.order_sys_attribute">
                                                    <div v-for="attr in item.order_sys_attribute">
                                                        <template v-if="attr.input_validation.type == 'url'">
                                                            <div class="item-sys-grid url  flex items-center py-4 lg:py-5 border-b border-gray-300 px-2 md:px-3 w-full font-semibold text-heading total odd:bg-gray-150" :class="attr.code">
                                                                <span class="label text-gray-700">{{attr.label}}:</span>
                                                                <span class="value ml-auto">{{attr.value}}</span>
                                                            </div>
                                                        </template>
                                                        <template v-else>
                                                            <div class="item-sys-grid  flex items-center py-4 lg:py-5 border-b border-gray-300 px-2 md:px-3 w-full font-semibold text-heading total odd:bg-gray-150" :class="attr.code">
                                                                <span class="label text-gray-700">{{attr.label}}:</span>
                                                                <span class="value ml-auto">{{attr.value}}</span>
                                                            </div>
                                                        </template>
                                                    </div>
                                                </div>

                                                <div class="shipping-wrapper  text-sm md:text-base">

                                                    <template v-if="item.display_shipping_address && item.display_shipping_address.address">
                                                        <!-- <h3 class="shipping-detail-title">{{slotData.language.orderHistory.shippingDetails.title}}</h3> -->

                                                        <div class="shipping-address-wrapper  flex items-center py-4 lg:py-5 border-b border-gray-300 px-2 md:px-3 w-full font-semibold text-heading total odd:bg-gray-150">
                                                            <div class="label text-gray-700">{{slotData.language.orderHistory.shippingDetails.address}}</div>
                                                            <div class="shipping-address value  ml-auto pl-4 break-all">

                                                                <template v-if="item.display_shipping_address.address.address">
                                                                    {{item.display_shipping_address.address.address}}, 
                                                                </template>

                                                                <template v-if="item.display_shipping_address.address.region">
                                                                    <template v-if="item.display_shipping_address.address.region!= 'ANY'">
                                                                        {{item.display_shipping_address.address.region}}, 
                                                                    </template>
                                                                </template>

                                                                <template v-if="item.display_shipping_address.address.city">
                                                                    <template v-if="item.display_shipping_address.address.city!= 'ANY'">
                                                                        {{item.display_shipping_address.address.city}}, 
                                                                    </template>
                                                                </template>

                                                                <template v-if="item.display_shipping_address.address.country">
                                                                    <template v-if="item.display_shipping_address.address.country!= 'ANY'">
                                                                        {{item.display_shipping_address.address.country}}
                                                                    </template>
                                                                </template>

                                                            </div>
                                                        </div>

                                                    </template>

                                                    <template v-if="item.display_shipping_address && item.display_shipping_address.deliveryMethod">
                                                        <div class="shipping-method-wrapper  flex items-center py-4 lg:py-5 border-b border-gray-300 px-2 md:px-3 w-full font-semibold text-heading total odd:bg-gray-150">
                                                            <div class="label text-gray-700">{{slotData.language.orderHistory.shippingDetails.method}}</div>
                                                            <div class="shipping-method value  ml-auto">{{item.display_shipping_address.deliveryMethod}}</div>
                                                        </div>
                                                    </template>

                                                    <template v-if="item.order_status && item.order_status.text">
                                                        <div class="payment-method-wrapper  flex items-center py-4 lg:py-5 border-b border-gray-300 px-2 md:px-3 w-full font-semibold text-heading total odd:bg-gray-150">
                                                            <div class="label text-gray-700">{{slotData.language.orderHistory.fields.status}}</div>
                                                            <div class="delivery-time value ml-auto">{{item.order_status.text}}</div>
                                                        </div>
                                                    </template>

                                                    <template v-if="item.delivery_date">
                                                        <div class="delivery-date-wrapper  flex items-center py-4 lg:py-5 border-b border-gray-300 px-2 md:px-3 w-full font-semibold text-heading total odd:bg-gray-150">
                                                            <div class="label text-gray-700">{{slotData.language.orderHistory.shippingDetails.deliveryDate}}</div>
                                                            <div class="delivery-date value ml-auto">{{item.delivery_date}}</div>
                                                        </div>
                                                    </template>

                                                    <template v-if="item.delivery_time">
                                                        <div class="delivery-time-wrapper  flex items-center py-4 lg:py-5 border-b border-gray-300 px-2 md:px-3 w-full font-semibold text-heading total odd:bg-gray-150">
                                                            <div class="label text-gray-700">{{slotData.language.orderHistory.shippingDetails.deliveryTime}}</div>
                                                            <div class="delivery-time value ml-auto">{{item.delivery_time}}</div>
                                                        </div>
                                                    </template>

                                                    <template v-if="item.payment_status">
                                                        <div class="payment-method-wrapper  flex items-center py-4 lg:py-5 border-b border-gray-300 px-2 md:px-3 w-full font-semibold text-heading total odd:bg-gray-150">
                                                            <div class="label text-gray-700">{{slotData.language.orderHistory.fields.payment_status}}</div>
                                                            <div class="delivery-time value ml-auto">{{item.payment_status}}</div>
                                                        </div>
                                                    </template>

                                                    <template v-if="item.payment_method">
                                                        <div class="payment-method-wrapper  flex items-center py-4 lg:py-5 border-b border-gray-300 px-2 md:px-3 w-full font-semibold text-heading total odd:bg-gray-150">
                                                            <div class="label text-gray-700">{{slotData.language.orderHistory.paymentDetails.paymentMethod}}</div>
                                                            <div class="delivery-time value ml-auto">{{item.payment_method}}</div>
                                                        </div>
                                                    </template>
                                                </div>
                                            </div >

                                          
                                        </div>

                    </div>

                    <div class="relative product-info-wrapper mt-6 xl:mt-0 w-full xl:w-7/12 xl:pl-6 pt-5">

                                        <div class="order-header flex text-gray-700 font-semibold bg-gray-100 text-heading px-2 py-3 md:p-4 rounded-lg text-sm md:text-base">
                                            <!-- <div cols="12" md="1" class="w-full md:w-1/12 product-image">
                                            </div > -->
                                            <div class="w-full md:w-6/12 product-info">
                                                {{slotData.language.orderHistory.product.name}}
                                            </div >
                                            <div class="w-full unit-and-quantity text-right" :class="item.order_product.some(p => p.is_review_available == '1') && slotData.settings.enable_reviews == '1' ? 'md:w-2/12' : 'md:w-3/12'">
                                                {{slotData.language.orderHistory.product.price_qty}}
                                            </div >
                                            <div class="w-full md:w-2/12 product-total text-right" :class="item.order_product.some(p => p.is_review_available == '1') && slotData.settings.enable_reviews == '1' ? 'md:w-2/12' : 'md:w-3/12'">
                                                {{slotData.language.orderHistory.product.total}}
                                            </div >
                                            <div v-if="item.order_product.some(p => p.is_review_available == '1') && slotData.settings.enable_reviews == '1'" class="w-full md:w-2/12 product-total text-right">
                                                {{slotData.language.orderHistory.product.action}}
                                            </div >
                                        </div>

                                        <template v-for="product in item.order_product">

                                            <div class="order-item border-b border-gray-300 group px-2 py-3 md:py-3 md:px-4 flex  items-center text-sm md:text-base">
                                                <div cols="14" md="1" class="w-full md:w-1/12 mr-2 product-image-wrapper">
                                                    <template v-if="product.product_image">
                                                        <div class="relative product-image thumb border rounded-md border-gray-300 flex-shrink-0 max-w-[100%] w-16 h-16 overflow-hidden" >

                                                            <img 
                                                            :src="product.product_image" 
                                                            :alt="product.parent_name"
                                                            class="w-full h-full object-contain object-center absolute top-0 left-0"
                                                            loading="lazy" decoding="async"
                                                            >
                                                        </div>
                                                    </template>
                                                    <template v-else>
                                                        <div class="relative product-image thumb border rounded-md border-gray-300 flex-shrink-0 max-w-[100%] w-16 h-16 overflow-hidden" >

                                                            <img 
                                                            src="$$__client_media_url__$$/$$__client_media_path__$$/no-image.png" 
                                                            :alt="product.parent_name"
                                                            class="w-full h-full object-contain object-center absolute top-0 left-0"
                                                            loading="lazy" decoding="async"
                                                            >
                                                        </div>
                                                    </template>
                                                </div >

                                                <div cols="14" md="6" class="w-full product-info break-all" :class="product.is_review_available == '1' && slotData.settings.enable_reviews == '1' ? 'md:w-5/12' : 'md:w-6/12'">
                                                    <span class="name line-clamp-3 pr-3">
                                                        <template v-if="product.parent_name">
                                                            {{product.parent_name}}
                                                        </template>
                                                        <template v-else>
                                                            {{product.product_name}}
                                                        </template>
                                                    </span>
                                                    <div class="attribute-list" v-if="product.attribute_value">
                                                        <template v-for="attr in product.attribute_value">
                                                            <template v-if="attr.attribute_code != 'MSRP' && attr.attribute_code != 'BACKORDER' && attr.attribute_code != 'PREPARATION_TIME' && attr.value">
                                                                <div class="attribute-wrapper">
                                                                    <span class="label">{{attr.attribute_label}}</span>: 
                                                                    <span class="value ml-auto">
                                                                        <template v-if="attr.value_image">
                                                                            <img :src="attr.value_image" alt="" :title="attr.value" class="inline-block [18px] h-[18px] rounded-3xl border border-gray-300" loading="lazy" decoding="async"/>
                                                                        </template>
                                                                        <template v-else>
                                                                            {{attr.value}}
                                                                        </template>
                                                                    </span>
                                                                </div>
                                                            </template>
                                                        </template>
                                                    </div>
                                                </div >

                                                <div cols="14" md="3" class="w-full price-wrapper flex text-right" :class="product.is_review_available == '1' && slotData.settings.enable_reviews == '1' ? 'md:w-2/12' : 'md:w-3/12'">
                                                    <div class="unit-price-wrapper flex flex-wrap gap-2">
                                                        <div class="unit-price">
                                                            <template v-if="product.msrp_value && product.discount">
                                                                <span class="text-decoration-line: line-through">{{slotData.display_currency}}    {{slotData.helpers.PriceFormat(product.msrp_value)}}</span>
                                                            </template> 
                                                            <template v-if="!product.msrp_value && product.discount">
                                                                <span class="text-decoration-line: line-through">{{slotData.display_currency}}  {{slotData.helpers.PriceFormat(product.original_price)}}</span>
                                                            </template>
                                                        </div>
                                                        <div class="display-price-wrapper flex">
                                                            <div class="price-wrapper">
                                                                <template v-if="product.discount">
                                                                    <template v-if="product.discount != product.original_price">
                                                                        <div class="discount-price min-w-max text-right"> {{slotData.display_currency}} {{slotData.helpers.PriceFormat(product.discount)}}</div>
                                                                    </template>
                                                                    <template v-else-if="product.msrp_value">
                                                                        <div class="discount-price min-w-max text-right"> {{slotData.display_currency}} {{slotData.helpers.PriceFormat(product.original_price)}}</div>
                                                                    </template>
                                                                </template>
                                                                <template v-else>
                                                                    <div class="price min-w-max text-right">{{slotData.display_currency}} {{slotData.helpers.PriceFormat(product.original_price)}}</div>
                                                                </template>
                                                            </div>
                                                            <div class="multipy-icon px-1 md:px-2">x</div>
                                                            <div class="quantity">{{product.quantity}}</div>
                                                        </div>
                                                    </div>
                                                </div >
                                                <div cols="14" md="2" class="w-full md:w-2/12 product-total text-right">
                                                    {{slotData.display_currency}} {{slotData.helpers.PriceFormat(product.price)}}
                                                </div >
                                                <div v-if="product.is_review_available == '1' && slotData.settings.enable_reviews == '1'" cols="14" md="2" class="w-full md:w-2/12 product-total text-right pl-2">
                                                    <template v-if="product.is_reviewed == '1'">
                                                        <span class="text-[#05A73B] font-semibold text-base">
                                                            {{slotData.language.reviewPopup.reviewed}}
                                                        </span>
                                                    </template>
                                                    <template v-else>
                                                        <button class="flex flex-row space-x-2 text-primary bg-[#E8F2FF] rounded px-4 py-3 ml-auto items-center" v-on:click="showReviewPopup(product)">
                                                            <b-icon class="w-4 h-4" icon="pencil"></b-icon>
                                                            <span class="font-semibold text-sm">{{slotData.language.orderHistory.addReview}}</span>
                                                        </button>
                                                    </template>
                                                </div >
                                            </div>

                                        </template>


                                        <div class="w-full  total-wrapper ">
                                                <!-- <div class="section-header bg-gray-100 p-4 sm:rounded-lg  mb-3"><h3 class="title text-heading font-semibold text-base lg:text-lg"> Order Summary  </h3></div> -->
                                                
                                                <template v-if="item.order_charges">
                                                    <div class="total-wrapper text-sm md:text-base">
                                                        <template v-for="charge in item.order_charges">
                                                            <template v-if="charge.charging_modle != 'NET_TOTAL'">
                                                                <template v-if="charge.value != '0'">
                                                                    <div class="charge flex items-center py-4 lg:py-5 border-b border-gray-300 px-2 md:px-3 w-full font-semibold text-heading last:border-b-0 last:text-base last:pb-0 odd:bg-gray-150" :style="{order: charge.display_order}">
                                                                         <div class="label">{{charge.name}} 
                                                                            <template v-if="charge.rate">{{charge.rate}}%</template>:
                                                                        </div>
                                                                        <template v-if="charge.charging_modle == 'DISCOUNT'">
                                                                            <div class="price  ml-auto">- ({{slotData.display_currency}} {{ slotData.helpers.PriceFormat(charge.value) }})</div>
                                                                        </template>
                                                                        <template v-else>
                                                                            <template v-if="charge.charging_modle == 'REDEEM_POINTS'">
                                                                                <div class="price  ml-auto">- ({{slotData.display_currency}} {{slotData.helpers.PriceFormat(charge.value)}})</div>
                                                                            </template>
                                                                            <template v-else>
                                                                                <template v-if="charge.charging_modle == 'SHIPPING_DISCOUNT'">
                                                                                    <div class="price  ml-auto">- ({{slotData.display_currency}} {{slotData.helpers.PriceFormat(charge.value)}})</div>
                                                                                </template>
                                                                                <template v-else>
                                                                                    <div class="price  ml-auto"> {{slotData.display_currency}} {{slotData.helpers.PriceFormat(charge.value)}}</div>
                                                                                </template>
                                                                            </template>
                                                                        </template>
                                                                    </div>
                                                                </template>
                                                            </template>
                                                        </template>

                                                        <template v-for="charge in item.order_charges">
                                                            <template v-if="charge.charging_modle == 'NET_TOTAL'">
                                                                <div class="charge flex items-center py-4 lg:py-5 border-b border-gray-300 px-2 md:px-3 w-full font-semibold text-heading last:border-b-0  last:pb-0 total odd:bg-gray-150 text-lg" style="order: 100;">
                                                                    <div class="label">{{slotData.language.orderHistory.charges.total}}:</div>
                                                                    <div class="price  ml-auto">{{slotData.display_currency}} {{slotData.helpers.PriceFormat(charge.value)}}</div>
                                                                </div>
                                                            </template>
                                                        </template>

                                                        <template v-if="item.loyalty_points">
                                                            <template v-if="item.order_status.text == 'Completed'">
                                                                <div class="loyalty-points-wrapper flex items-center py-4 lg:py-5 border-b border-gray-300 px-2 md:px-3 w-full font-semibold text-heading last:border-b-0 last:text-base last:pb-0">
                                                                    <div class="label">{{slotData.language.orderHistory.loyaltyPoints}}:</div>
                                                                    <div class="value ml-auto">{{item.loyalty_points}}</div>
                                                                </div>
                                                            </template>
                                                            <template v-else>
                                                                <div class="loyalty-points-wrapper flex items-center py-4 lg:py-5 border-b border-gray-300 px-2 md:px-3 w-full font-semibold text-heading last:border-b-0 last:text-base last:pb-0">
                                                                    <div class="label">{{slotData.language.orderHistory.eligibledLoyaltyPoints}}:</div>
                                                                    <div class="value ml-auto">{{item.loyalty_points}}</div>
                                                                </div>
                                                            </template>
                                                        </template>

                                                        <div class="you-save-amount-wrapper  charge" style="order: 101;" v-if="item.save_total > 0">
                                                            <div class="you-save-amount flex items-center py-4 lg:py-5 border-b border-gray-300 px-2 md:px-3 w-full font-semibold text-heading last:border-b-0 last:text-base last:pb-0">
                                                                <div class="label">{{slotData.language.cart.discountText}}:</div>
                                                                <div class="price  ml-auto">{{slotData.display_currency}} {{slotData.helpers.PriceFormat(item.save_total)}}</div>
                                                            </div> 

                                                            <template v-if="item.applied_discount_code">
                                                                <div class="applied-discount-code flex items-center py-4 lg:py-5 border-b border-gray-300 px-2 md:px-3 w-full font-semibold text-heading last:border-b-0 last:text-base last:pb-0">
                                                                    <div class="label">{{slotData.language.orderHistory.appliedDiscountCode}}:</div>
                                                                    <div class="price  ml-auto">{{item.applied_discount_code}}</div>
                                                                </div>
                                                            </template>
                                                        </div>

                                                    </div>
                                                </template>
                                        </div >
                        <review-popup-section
                            :is_active="slotData.isReviewPopupOpen"
                            :product="slotData.product"
                            :closeReviewPopup="closeReviewPopup"
                            type="toBeReviewed"
                            @message="handleMessage"
                            @review-submitted="handleReviewSubmitted"
                        />
                    </div>                       
                                            </div >

                        <div class="check-order-wrapper ml-auto w-full text-right mt-6" v-if="item.tracking_ref && item.tracking_ref.checking_id">
                            <a v-if="detailMode" @click="checkMyOrder(item.tracking_ref.checking_id)" class="mt-3 text-sm leading-4 text-gray-500 inline-block rounded-md cursor-pointer font-semibold underline">
                                {{slotData.language.orderHistory.checkMyOrder}}
                            </a>
                        </div>

                        <div class="order-cancellation-wrapper ml-auto w-full text-right mt-2">
                            <template v-if="item.cancellation_key && item.order_cancellations && item.order_cancellations.length == 0">
                                <a v-if="detailMode && !['CANCEL', 'COMPLETE'].includes(item.order_status.code)" @click="cancelOrder(item.cancellation_key)" class="mt-3 text-sm leading-4 text-gray-500 inline-block rounded-md cursor-pointer font-semibold underline">
                                    {{slotData.language.orderHistory.cancelOrder}}
                                </a>
                            </template>
                        </div>
                    

                                 
                

            
            </template>

        </div>


    </div>

    <footer-block-section  />
</div>