<div v-if="slotData.settingLoaded">
  <header-block-section  />

  <div
    class="content-wrapper mx-auto max-w-[1920px] px-4 md:px-8 2xl:px-16 mt-[90px] xl:px-32 2xl:px-44 3xl:px-56 py-16 lg:py-20"
  >
    <div
      class="border border-gray-300 bg-gray-50 px-4 lg:px-5 py-4 rounded-md flex items-center justify-start text-heading text-sm md:text-base mb-6 lg:mb-8"
    >
      <span
        class="w-10 h-10 mr-3 lg:mr-4 rounded-full bg-gray-300 flex items-center justify-center flex-shrink-0"
        ><svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 512 512"
          class="w-5 h-5 text-green-600"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm108.25 138.29l-134.4 160a16 16 0 01-12 5.71h-.27a16 16 0 01-11.89-5.3l-57.6-64a16 16 0 1123.78-21.4l45.29 50.32 122.59-145.91a16 16 0 0124.5 20.58z"
          ></path></svg>
        </span>
        {{slotData.language.paymentSuccess.title}}, 
      <template v-if="slotData.orderForm == 'inquire'">
        {{slotData.language.paymentSuccess.inquiry.subTitle}}
      </template>
      <template v-else>
        {{slotData.language.paymentSuccess.subTitle}}
      </template>
    </div>

    <ul
      v-if="slotData.orderInfo.order_id"
      class="border border-gray-300 bg-gray-50 rounded-md flex flex-col md:flex-row mb-7 lg:mb-8 xl:mb-10 list-none"
    >
    <template v-if="slotData.orderInfo">
      <li
        class="text-heading font-semibold text-base lg:text-lg border-b md:border-b-0 md:border-r border-dashed border-gray-300 px-4 lg:px-6 xl:px-8 py-4 md:py-5 lg:py-6 last:border-0"
      >
        <span class="uppercase text-[11px] block text-body font-normal leading-5">
            <template v-if="slotData.orderForm == 'inquire'">
            {{slotData.language.paymentSuccess.inquiry.inquiryNumber}}
            </template>
            <template v-else>
            {{slotData.language.paymentSuccess.orderNumber}}
            </template>
        </span>
        #{{slotData.orderInfo.order_id}}
      </li>
    </template>
    <template v-if="slotData.transactionId">
        <li
          class="text-heading font-semibold text-base lg:text-lg border-b md:border-b-0 md:border-r border-dashed border-gray-300 px-4 lg:px-6 xl:px-8 py-4 md:py-5 lg:py-6 last:border-0"
        >
          <span
            class="uppercase text-[11px] block text-body font-normal leading-5"
            > {{slotData.language.paymentSuccess.transactionNumber}}</span
          >#{{slotData.transactionId}}
        </li>
    </template>
      <li
        class="text-heading font-semibold text-base lg:text-lg border-b md:border-b-0 md:border-r border-dashed border-gray-300 px-4 lg:px-6 xl:px-8 py-4 md:py-5 lg:py-6 last:border-0"
      >
        <span
          class="uppercase text-[11px] block text-body font-normal leading-5"
          >{{slotData.language.paymentSuccess.dateLabel}}</span
        >{{slotData.date}}
      </li>
    <template v-if="slotData.userEmail">
        <li
          class="text-heading font-semibold text-base lg:text-lg border-b md:border-b-0 md:border-r border-dashed border-gray-300 px-4 lg:px-6 xl:px-8 py-4 md:py-5 lg:py-6 last:border-0"
        >
          <span
            class="uppercase text-[11px] block text-body font-normal leading-5"
            >{{slotData.language.paymentSuccess.emailLabel}}</span
          >{{slotData.userEmail}}
        </li>
    </template>
    <template v-if="slotData.total">
        <li
          class="text-heading font-semibold text-base lg:text-lg border-b md:border-b-0 md:border-r border-dashed border-gray-300 px-4 lg:px-6 xl:px-8 py-4 md:py-5 lg:py-6 last:border-0"
        >
          <span
            class="uppercase text-[11px] block text-body font-normal leading-5"
            >{{slotData.language.paymentSuccess.totalLabel}}</span
          >{{slotData.total}}
        </li>
    </template>
    <template v-if="slotData.paymentInfo">
        <li
          class="text-heading font-semibold text-base lg:text-lg border-b md:border-b-0 md:border-r border-dashed border-gray-300 px-4 lg:px-6 xl:px-8 py-4 md:py-5 lg:py-6 last:border-0"
        >
          <span
            class="uppercase text-[11px] block text-body font-normal leading-5"
            >{{slotData.language.paymentSuccess.paymentMethodLabel}}</span
          >{{slotData.paymentInfo.paymentMethod.name}}
        </li>
    </template>
    </ul>

    <div class="inner-content-wrapper">


      <template v-if="slotData.userEmail">
        <p class="description mb-6">
          <template v-if="slotData.orderForm == 'inquire'">
            {{slotData.language.paymentSuccess.inquiry.description}}
          </template>
          <template v-else>
            {{slotData.language.paymentSuccess.description}}
          </template>
        </p>
      </template>

      <div class="button-wrapper">
        <a class="text-[13px] md:text-base md:text-sm1 leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none bg-primary text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-gray-600 hover:shadow-md w-full sm:w-auto" href="/">
            <span class="button-label">
              {{slotData.language.paymentSuccess.buttonText}}
            </span>
        </a>
      </div>
    </div>
  </div>
  <footer-block-section  />
</div>
<!-- <div v-else>
  <page-loader-snippet  />
</div> -->
