<div class="body-bg">
  <template v-if="slotData.settingLoaded">
    <div class="main-loader" v-if="mainLoader">
      <progress-bar-snippet />
    </div>
    <header-block-section :all_location_data="true" />
    <div class="flex flex-wrap mb-4 xl:mb-6 mt-20">
      <div class="w-full bg-white">
        <banner-block-custom-block
          :slides="[
            {'url':'$$__client_media_url__$$/$$__client_media_path__$$/1.webp'}
            ]"
          slide_show="false"
          :rounded_corners="false"
          columns="1"
          title=""
          description=""
          :show_button="false"
          :slide_link="true"
          :use_cart_banners="true"
          :slide_show_dots="false"
          banner_height="h-[0px] pt-[40%]"
          slide_show_speed="6500"
        />
      </div>
    </div>
    <template
      v-if="slotData.settings.locations.length
    >= 2"
    >
      <location-banner-starter-custom-block
        :settingLoaded="slotData.settingLoaded"
      />
    </template>
    <trail-popup-snippet :is_active="slotData.isActive"></trail-popup-snippet>
    <!--<category-block-custom-block-->
    <!--  :start="0"-->
    <!--  :limit="12"-->
    <!--  title="Top Categories"-->
    <!--  columns="6"-->
    <!--  show_main_block="false"-->
    <!--  main_block_title="Top Categories"-->
    <!--  slide_show="true"-->
    <!--  main_block_width="25%"-->
    <!--  slide_show_dots="flase"-->
    <!--  slide_show_arrows="true"-->
    <!--  slide_show_autoplay="true"-->
    <!--  slide_show_speed="300"-->
    <!--  auto_play_speed="5000"-->
    <!--  show_main_block_button="true"-->
    <!--  main_block_button_text="All Categories"-->
    <!--  main_block_height="230px"-->
    <!--  :all_location_data="true"-->
    <!--  :slider_responsive='[ -->
    <!--        {-->
    <!--            "breakpoint": 1024,-->
    <!--            "settings": {-->
    <!--               "slidesToShow": 5,-->
    <!--            }-->
    <!--        },-->
    <!--        {-->
    <!--            "breakpoint": 480,-->
    <!--            "settings": {-->
    <!--              "slidesToShow": 3,-->
    <!--            }-->
    <!--        }-->
    <!--    ]'-->
    <!--/>-->

    <!--<products-block-custom-block-->
    <!--  :limit="30"-->
    <!--  :start="0"-->
    <!--  :featured="true"-->
    <!--  :all_location_data="true"-->
    <!--  title="Featured Items"-->
    <!--  show_title="true"-->
    <!--  slide_show="false"-->
    <!--  slide_show_dots="true"-->
    <!--  rounded_corners="true"-->
    <!--  columns="5"-->
    <!--  description=""-->
    <!--  :show_add_to_cart="true"-->
    <!--  :show_product_attribute="false"-->
    <!--  :show_product_tags="false"-->
    <!--  :slide_link="true"-->
    <!--  slide_show_speed="100"-->
    <!--  :slider_responsive='[ -->
    <!--          {-->
    <!--              "breakpoint": 1024,-->
    <!--              "settings": {-->
    <!--                  "centerPadding":"60px"-->
    <!--              }-->
    <!--          },-->
    <!--          {-->
    <!--              "breakpoint": 480,-->
    <!--              "settings": {-->
    <!--                  "centerPadding":"30px"-->
    <!--              }-->
    <!--          }-->
    <!--      ]'-->
    <!--/>-->

    <!--<offer-product-custom-block-->
    <!--  :limit="10"-->
    <!--  :start="0"-->
    <!--  columns="5"-->
    <!--  title="Deals"-->
    <!--  show_title="true"-->
    <!--  slide_show="false"-->
    <!--  show_product_name="true"-->
    <!--  show_product_description="true"-->
    <!--  show_product_price="true"-->
    <!--  show_product_attribute="false"-->
    <!--  show_product_tags="false"-->
    <!--  show_add_to_cart="true"-->
    <!--  show_upcomming_offer="false"-->
    <!--  slide_show_speed="300"-->
    <!--  auto_play_speed="5000"-->
    <!--  slides_to_scroll="1"-->
    <!--  slide_show_arrows="true"-->
    <!--  :all_location_data="true"-->
    <!--/>-->

    <div
      class="w-full mb-8 mx-auto px-4 md:px-8 2xl:px-16 custom-banner-block custom-banner-block-1"
    >
      <!--<banner-block-custom-block-->
      <!--  :slides="[-->
      <!--      {'url':'$$__client_media_url__$$/$$__client_media_path__$$/2.webp', 'button_url':'#'},-->
      <!--      {'url':'$$__client_media_url__$$/$$__client_media_path__$$/3.webp', 'button_url':'#'},-->
      <!--      {'url':'$$__client_media_url__$$/$$__client_media_path__$$/4.webp' , 'button_url':'#'},-->
      <!--      {'url':'$$__client_media_url__$$/$$__client_media_path__$$/5.webp' , 'button_url':'#'},-->
      <!--      {'url':'$$__client_media_url__$$/$$__client_media_path__$$/6.webp'},-->
      <!--      {'url':'$$__client_media_url__$$/$$__client_media_path__$$/7.webp'},-->
      <!--      ]"-->
      <!--  slide_show="true"-->
      <!--  slide_show_dots="true"-->
      <!--  rounded_corners="true"-->
      <!--  columns="3"-->
      <!--  title=""-->
      <!--  description=""-->
      <!--  :show_button="false"-->
      <!--  :slide_link="true"-->
      <!--  button_text="Vist Shop"-->
      <!--  button_url="#"-->
      <!--  banner_height="h-0 pb-[29%]"-->
      <!--  slide_show_speed="100"-->
      <!--  :slider_responsive='[ -->
      <!--          {-->
      <!--              "breakpoint": 1024,-->
      <!--              "settings": {-->
      <!--                  "centerPadding":"60px"-->
      <!--              }-->
      <!--          },-->
      <!--          {-->
      <!--              "breakpoint": 480,-->
      <!--              "settings": {-->
      <!--                  "centerPadding":"30px"-->
      <!--              }-->
      <!--          }-->
      <!--      ]'-->
      <!--/>-->
    </div>

    <!--<specific-product-custom-block-->
    <!--  :limit="10"-->
    <!--  :start="0"-->
    <!--  attributes='[{"code":"NEW_ARRIVALS","value":"1", "condition":"eq"}, {"code":"NEW_ARRIVALS_END_DATE","value":"$$__current_datetime__$$", "condition":"gteq"}]'-->
    <!--  columns="5"-->
    <!--  title="New Arrivals"-->
    <!--  show_title="true"-->
    <!--  c-->
    <!--  :categories="['8236bcf3051127d75afcae45202d1354']"-->
    <!--  slide_show="false"-->
    <!--  show_product_name="true"-->
    <!--  show_product_description="true"-->
    <!--  show_product_price="true"-->
    <!--  show_product_attribute="false"-->
    <!--  show_product_tags="false"-->
    <!--  show_upcomming_offer="false"-->
    <!--  show_add_to_cart="true"-->
    <!--  slide_show_speed="300"-->
    <!--  auto_play_speed="5000"-->
    <!--  slides_to_scroll="1"-->
    <!--  slide_show_arrows="true"-->
    <!--  :all_location_data="true"-->
    <!--/>-->

    <div
      class="w-full p-4 md:px-8 md:py-4 2xl:px-16 custom-banner-block custom-banner-block-2"
    >
      <!--<banner-block-custom-block-->
      <!--  :slides="[-->
      <!--      {'url':'$$__client_media_url__$$/$$__client_media_path__$$/2.webp'}-->
      <!--      ]"-->
      <!--  slide_show="false"-->
      <!--  rounded_corners="true"-->
      <!--  columns="1"-->
      <!--  title=""-->
      <!--  description=""-->
      <!--  :show_button="false"-->
      <!--  button_text="Vist Shop"-->
      <!--  button_url="#"-->
      <!--  banner_height="h-0 pb-[29%]"-->
      <!--  slide_show_speed="3000"-->
      <!--/>-->
    </div>

    <!--<best-selling-product-custom-block-->
    <!--  :limit="10"-->
    <!--  :start="0"-->
    <!--  columns="5"-->
    <!--  title="Best Selling"-->
    <!--  show_title="true"-->
    <!--  slide_show="false"-->
    <!--  show_product_name="true"-->
    <!--  show_product_description="true"-->
    <!--  show_product_price="true"-->
    <!--  show_product_attribute="false"-->
    <!--  show_upcomming_offer="false"-->
    <!--  show_product_tags="false"-->
    <!--  show_add_to_cart="true"-->
    <!--  slide_show_speed="300"-->
    <!--  auto_play_speed="5000"-->
    <!--  slides_to_scroll="1"-->
    <!--  slide_show_arrows="true"-->
    <!--  :all_location_data="true"-->
    <!--/>-->
    
    
    <products-block-custom-block
                  :limit="10"
                  :start="0"
                  :all_location_data="false"
                  title="Fresh & Frozen Chicken"
                  show_title="true"
                  slide_show="false"
                  slide_show_dots="true"
                  rounded_corners="true"
                  columns="3"
                  :categories="['3eef3d1dc65f83979977feb58771c881']"
                  description="false"
                  :show_add_to_cart="true"
                  :show_product_attribute="false"
                  :show_product_tags="false"
                  :slide_link="true"
      :slider_responsive='[ 
              {
                  "breakpoint": 1024,
                  "settings": {
                      "centerPadding":"60px"
                  }
              },
              {
                  "breakpoint": 480,
                  "settings": {
                      "centerPadding":"30px"
                  }
              }
          ]'
    />
    
  

    <products-block-custom-block
                  :limit="10"
                  :start="0"
                  :all_location_data="false"
                  title="Chicken Portions"
                  show_title="true"
                  slide_show="false"
                  slide_show_dots="true"
                  rounded_corners="true"
                  columns="3"
                  :categories="['463a296a9651ffbe4979cb70f649c537']"
                  description="false"
                  :show_add_to_cart="true"
                  :show_product_attribute="false"
                  :show_product_tags="false"
                  :slide_link="true"
      :slider_responsive='[ 
              {
                  "breakpoint": 1024,
                  "settings": {
                      "centerPadding":"60px"
                  }
              },
              {
                  "breakpoint": 480,
                  "settings": {
                      "centerPadding":"30px"
                  }
              }
          ]'
    />
    
    
    <products-block-custom-block
                  :limit="10"
                  :start="0"
                  :all_location_data="false"
                  title="Pre-Cooked Products"
                  show_title="true"
                  slide_show="false"
                  slide_show_dots="true"
                  rounded_corners="true"
                  columns="3"
                  :categories="['8df6f6d11ebca2277c61acc41c5496d4']"
                  description="false"
                  :show_add_to_cart="true"
                  :show_product_attribute="false"
                  :show_product_tags="false"
                  :slide_link="true"
      :slider_responsive='[ 
              {
                  "breakpoint": 1024,
                  "settings": {
                      "centerPadding":"60px"
                  }
              },
              {
                  "breakpoint": 480,
                  "settings": {
                      "centerPadding":"30px"
                  }
              }
          ]'
    />
    
    <products-block-custom-block
                  :limit="10"
                  :start="0"
                  :all_location_data="false"
                  title="Marinated Chicken"
                  show_title="true"
                  slide_show="false"
                  slide_show_dots="true"
                  rounded_corners="true"
                  columns="3"
                  :categories="['061e87bd1afa82eb5258dc23e21bb236']"
                  description="false"
                  :show_add_to_cart="true"
                  :show_product_attribute="false"
                  :show_product_tags="false"
                  :slide_link="true"
      :slider_responsive='[ 
              {
                  "breakpoint": 1024,
                  "settings": {
                      "centerPadding":"60px"
                  }
              },
              {
                  "breakpoint": 480,
                  "settings": {
                      "centerPadding":"30px"
                  }
              }
          ]'
    />
    
        <products-block-custom-block
                  :limit="10"
                  :start="0"
                  :all_location_data="false"
                  title="Crispy Chicken"
                  show_title="true"
                  slide_show="false"
                  slide_show_dots="true"
                  rounded_corners="true"
                  columns="3"
                  :categories="['295da9bb8205734849040fa25d013256']"
                  description="false"
                  :show_add_to_cart="true"
                  :show_product_attribute="false"
                  :show_product_tags="false"
                  :slide_link="true"
      :slider_responsive='[ 
              {
                  "breakpoint": 1024,
                  "settings": {
                      "centerPadding":"60px"
                  }
              },
              {
                  "breakpoint": 480,
                  "settings": {
                      "centerPadding":"30px"
                  }
              }
          ]'
    />
    
    <products-block-custom-block
                  :limit="10"
                  :start="0"
                  :all_location_data="false"
                  title="Cold Cuts"
                  show_title="true"
                  slide_show="false"
                  slide_show_dots="true"
                  rounded_corners="true"
                  columns="3"
                  :categories="['7c73ac55a44dc980b93105e7db512722']"
                  description="false"
                  :show_add_to_cart="true"
                  :show_product_attribute="false"
                  :show_product_tags="false"
                  :slide_link="true"
      :slider_responsive='[ 
              {
                  "breakpoint": 1024,
                  "settings": {
                      "centerPadding":"60px"
                  }
              },
              {
                  "breakpoint": 480,
                  "settings": {
                      "centerPadding":"30px"
                  }
              }
          ]'
    />
    
    <products-block-custom-block
                  :limit="10"
                  :start="0"
                  :all_location_data="false"
                  title="Chicken Essence"
                  show_title="true"
                  slide_show="false"
                  slide_show_dots="true"
                  rounded_corners="true"
                  columns="3"
                  :categories="['6f0e33908f35c403c58410010d21f3ab']"
                  description="false"
                  :show_add_to_cart="true"
                  :show_product_attribute="false"
                  :show_product_tags="false"
                  :slide_link="true"
      :slider_responsive='[ 
              {
                  "breakpoint": 1024,
                  "settings": {
                      "centerPadding":"60px"
                  }
              },
              {
                  "breakpoint": 480,
                  "settings": {
                      "centerPadding":"30px"
                  }
              }
          ]'
    />
    
    
    
    
    
    

    <footer-block-section />
  </template>
</div>