<div class="rounded-md p-4 md:p-8 2xl:px-16 relative h-full">
  <h3
    class="title text-primary text-lg md:text-xl lg:text-2xl 2xl:text-3xl xl:leading-10 font-bold mb-4 md:mb-5 lg:mb-6 2xl:mb-7 3xl:mb-8"
  >
    Select Location
  </h3>
  <div
    class="mt-3 md:mt-6 col-span-full 3xl:col-span-3 grid grid-cols-1 md:grid-cols-2 gap-3 md:gap-5 xl:gap-7 row-span-full h-fit"
    :class="(slotData.locations.length == 2 || slotData.locations.length == 4)?'':'xl:grid-cols-3'"
  >
    <template v-for="location in slotData.locations">
      <template v-if="location.image != null">
        <div
          class="flex flex-col items-center bg-cover bg-no-repeat gap-10 justify-between py-10 px-5 text-center rounded-md"
          :style="{ backgroundImage: 'url(' + location.image + ')' }"
        >
          <div class="text-white font-semibold text-2xl">{{location.name}}</div>
          <div v-if="location.description" class="text-white break-words">
            {{location.description}}
          </div>

          <div
            class="change-btn md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold text-center justify-center border-0 border-transparent rounded-md focus-visible:outline-none focus:outline-none bg-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 hover:bg-gray-600 hover:text-white max-[450px]:h-6 h-8 w-32"
            v-on:click="onClickChangeLocation(location.id)"
          >
            Select
          </div>
        </div>
      </template>
      <template v-else>
        <div
          class="h-80 bg-gray-100 flex flex-col items-center gap-10 justify-between py-10 px-5 text-center rounded-md"
        >
          <div class="font-semibold text-2xl">{{location.name}}</div>
          <div v-if="location.description" class="break-words">
            {{location.description}}
          </div>

          <div
            class="flex change-btn md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold text-center justify-center border-0 border-transparent rounded-md focus-visible:outline-none focus:outline-none bg-primary text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 hover:bg-gray-600 max-[450px]:h-6 h-8 w-32"
            v-on:click="onClickChangeLocation(location.id)"
          >
            Select
          </div>
        </div>
      </template>
    </template>
  </div>
</div>
