<div v-if="slotData.products != null" class="offer-deals-block rounded-md p-4 md:p-8 2xl:px-16  relative" v-bind:class="[slotData.slideShow ? ' border border-gray-300 ' : ' ' ]" >
    <template v-if="slotData.showTitle">
        <h3 class="promo-deals title text-primary text-lg md:text-xl lg:text-2xl 2xl:text-3xl xl:leading-10 font-bold mb-4 md:mb-5 lg:mb-6 2xl:mb-7 3xl:mb-8">{{title}}</h3>
    </template>
   
    <template v-if="slotData.slideShow">
        <vue-slick-carousel  
            :accessibility="slotData.accessibilityStatus" 
            :focusOnSelect="slotData.focusOnSelect"  
            :touchThreshold="slotData.touchThreshold"
            :infinite="slotData.infiniteStatus" 
            :slidesToShow="slotData.slidesToShow" 
            :rows="slotData.row"
            :slidesToScroll="1"
            :arrows="slotData.slideArrows" 
            :dots="slotData.slideDots"  
            :autoplay="slotData.slideAutoplay" 
            :speed="slotData.slideShowSpeed" 
            :autoplaySpeed="slotData.autoplaySpeed"
            :responsive="slotData.sliderResponsive" 
            class="slide-show"
            >
            <div  v-for="product in slotData.products" >			
                <custom-product-item-section 
                    
                    v-bind:data="product"
                    v-bind:showProductName="slotData.showProductName"
                    v-bind:showProductDescription="slotData.showProductDescription"
                    v-bind:showProductPrice="slotData.showProductPrice"
                    v-bind:showProductImage="slotData.showProductImage"
                    v-bind:showProductAttribute="slotData.showProductAttribute"
                    v-bind:showProductTags="slotData.showProductTags"
                    v-bind:showOfferTags="slotData.showOfferTags"
                    v-bind:showFlashOffers="slotData.showFlashOffers"
                    v-bind:showUpcommingOffer="slotData.showUpcommingOffer"
                    v-bind:showAddToCart="slotData.showAddToCart"
                    v-bind:slideShow="slotData.slideShow"
                    />
            </div>


                <template #prevArrow="arrowOption">
                <div class="w-7 h-7 lg:w-8 lg:h-8 text-sm md:text-base lg:text-lg text-black flex items-center justify-center rounded-full bg-white absolute transition duration-250 hover:bg-gray-900 hover:text-white focus:outline-none transform shadow-md -translate-x-1/2 left-0 z-10">
                    <b-icon class="w-4 h-4" icon="chevron-left"></b-icon>
                </div>
                </template>
                <template #nextArrow="arrowOption">
                <div class="w-7 h-7 lg:w-8 lg:h-8 text-sm md:text-base lg:text-lg text-black flex items-center justify-center rounded-full bg-white absolute transition duration-250 hover:bg-gray-900 hover:text-white focus:outline-none transform shadow-md translate-x-1/2 right-0 z-10">
                    <b-icon class="w-4 h-4" icon="chevron-right"></b-icon>
                </div>
            </template>
        </vue-slick-carousel>
    </template>
     <a id="load-more-btn" href="/offers" class="view-more-button">View All Offers</a>


    <template v-else>

        <div class="product-row mt-3 md:mt-6 col-span-full 3xl:col-span-3 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-3 md:gap-5 xl:gap-7 row-span-full"  :class="'xl:grid-cols-'+ slotData.column" >

                <template v-for="(product, key) in slotData.products">

                <custom-product-item-section 
                    
                    v-bind:data="product"
                    v-bind:showProductName="slotData.showProductName"
                    v-bind:showProductDescription="slotData.showProductDescription"
                    v-bind:showProductPrice="slotData.showProductPrice"
                    v-bind:showProductImage="slotData.showProductImage"
                    v-bind:showProductAttribute="slotData.showProductAttribute"
                    v-bind:showProductTags="slotData.showProductTags"
                    v-bind:showOfferTags="slotData.showOfferTags"
                    v-bind:showFlashOffers="slotData.showFlashOffers"
                    v-bind:showUpcommingOffer="slotData.showUpcommingOffer"
                    v-bind:showAddToCart="slotData.showAddToCart"
                    v-bind:slideShow="slotData.slideShow"
                    />
                </template>

        </div>
    </template>
</div>