<div class="text-center">
    <!-- category image -->
    <template v-if="slotData.showCategoryImage">

        <div class="category-image bg-center bg-no-repeat mb-4 pt-full rounded-full relative group" 
            :class="[category.category_image && category.category_image.image_path ? 'bg-cover ' : 'bg-gray-100 bg-auto']"
             :style="{'background-image': (category.category_image && category.category_image.image_path) ? 'url(' +  category.category_image.image_path + ')' : 'url($$__client_media_url__$$/$$__client_media_path__$$/no-image.png)'}">
             <span class="absolute top-0 left-0 bg-primary w-full h-full opacity-0 transition-opacity duration-300 group-hover:opacity-30 rounded-full"></span>
             <span class="absolute top-0 left-0 h-full w-full flex items-center justify-center">
                <b-icon class="w-9 h-9 text-white text-base sm:text-xl lg:text-2xl xl:text-3xl opacity-0 scale-0 transition-all duration-300 ease-in-out group-hover:opacity-100 group-hover:scale-100" icon="link-45deg"></b-icon>
             </span>
        </div>

    </template>

    <!-- category name -->
    <template v-if="slotData.showCategoryName">
        <div class="title text-heading text-sm md:text-base xl:text-lg font-semibold "> {{category.name}} </div>
    </template>

    <!-- category description -->
    <template v-if="slotData.showCategoryDescription && category.description">
        <div class="description"> {{category.description}} </div>
    </template>

</div>