<div class="relative overflow-x-auto sm:rounded-lg mt-8">


 <div class="w-full text-left">
         <div class="text-gray-700 bg-gray-100 text-heading text-xs md:text-base hidden lg:flex">
            <div  md="6" class="item-info d-none d-lg-block p-1 py-2 md:px-3 md:py-4 w-5/12 lg:w-6/12">
                <span class="font-semibold">Product</span>
            </div >
            <div  md="2" class="item-price d-none d-lg-block p-1 py-2 md:px-3 md:py-4 w-2/12">
                <span class="font-semibold">Price</span>
            </div >
            <div  md="4" class="d-none d-lg-block p-1 py-2 md:px-3 md:py-4 w-3/12 lg:w-2/12 text-center">
                 <span class="font-semibold">Quantity</span>
            </div >
            <div  md="4" class="d-none d-lg-block p-1 py-2 md:px-3 md:py-4 w-2/12 text-right mr-8">
                 <span class="font-semibold">Subtotal</span>
            </div >
          <!--   <div  sm="12" class="item-info d-block d-lg-none">
                <span>Product List</span>
            </div > -->
        </div>
   <!--  </div> -->

    <div v-for="product in slotData.selectedProducts" class="flex flex-wrap md:flex-nowrap  items-center selected-item border-b border-gray-300 group relative text-xs md:text-base relative mb-2">
            <div class="item-info p-1 xl:px-3 md:py-4 lg:w-6/12 xl:w-6/12 w-full">
                <div class="item-info-wrapper flex flex-nowrap items-center">
                    <div cols="12" lg="4" md="4" sm="4" class="item-image relative flex w-16 md:w-20 xl:w-28 h-16 md:h-20 xl:h-28 rounded-md overflow-hidden bg-gray-200 flex-shrink-0 mr-4">
                        <a v-bind:href="product.url_key" class="contents">
                            <template v-if="product.image != ''">
                                <div class="thumb border rounded-md border-gray-300 flex-shrink-0 w-full h-full bg-contain bg-center bg-no-repeat bg-gray-100" v-bind:style="{'background-image': `url(https://www.meathouse.lk${product.image.substring(product.image.indexOf('/productImages'))})`}" v-bind:title="product.name"></div>
                            </template>
                            <template v-else>
                                <div class="thumb border bg-contain bg-center bg-no-repeat  w-full  h-full bg-gray-100" v-bind:style="{'background-image': 'url($$__client_media_url__$$/$$__client_media_path__$$/no-image.png)'}" v-bind:title="product.name"></div>
                            </template>
                        </a>

                          
                       
                    </div>

                    <div cols="12" lg="8" md="8" sm="8" offset-lg="0" offset-md="4" offset-sm="4" class="item-details text-sm font-regular text-heading md:truncate lg:pr-4 w-full">
                        <div class="item-name text-xs md:text-sm md:truncate text-heading mt-2 md:mt-0 pr-4 hover:text-primary uppercase line-clamp-1 whitespace-pre-wrap">
                            <a v-bind:href="'/'+ product.url_key">
                                <span>{{product.name}}</span>
                            </a>
                        </div>

                        <div class="item-sku text-light mb-0.5 line-clamp-1 whitespace-pre-wrap">
                            <span>{{product.sku}}</span>
                        </div>

                        <template v-if="product.back_order">
                            <template v-if="product.qty > product.available_now_qty">
                                <span class="out-of-stock uppercase text-sm text-red-400">
                                    <template v-if="product.stock_status_name">
                                        {{product.stock_status_name}}
                                    </template>
                                    <template v-else>
                                        {{slotData.language.outOfStock}}
                                    </template>
                                </span>
                            </template>
                        </template>

                        <div class="super-attributes text-gray-600" v-if="product.attributes">
                            <div class="attribute" v-for="attr in product.attributes">
                                <span class="name">{{ attr.label }}:</span>
                                <span class="value">
                                    <template v-if="slotData.showAttributeImages && attr.image"> 
                                        <img :src="attr.image" class="w-[18px] h-[18px] rounded-3xl inline-block mt-1 border border-gray-200" :title="attr.value" alt="img" />
                                    </template>
                                    <template v-else>
                                        <div class="break-all inline-block" v-html="attr.value"></div>
                                    </template>
                                </span>
                            </div>
                        </div>

                        <template v-if="slotData.settings.default_menu_type != 'widivout_available_now'">
                            <template v-if="product.buy_now == 1">
                                <template v-if="product.available_now_qty > 0">
                                    <span class="available-for-today collapse-view text-xs mb-0.5 block">
                                        {{product.available_now_qty}}
                                        <template v-if="product.available_now_qty == 1">
                                            {{slotData.language.cart.availableForToday.countAfterOneItemText}}
                                        </template>
                                        <template v-else>
                                            {{slotData.language.cart.availableForToday.countAfterMoreItemsText}}
                                        </template>
                                    </span>
                                </template>
                            </template>
                        </template>

                        <template v-if="product.flash_order">
                            <template v-if="product.buy_now == 0">
                                <span class="quantity-availability">{{slotData.language.cart.quantityAvailability}}</span>
                            </template>
                            <template v-else>
                                <template v-if="product.available_now_qty < product.qty && !product.back_order">
                                    <span class="quantity-availability">{{slotData.language.cart.quantityAvailability}}</span>
                                </template>
                            </template>
                        </template>

                        <div class="flex items-center justify-between flex-row-reverse lg:hidden">
                            <add-to-cart-button-snippet v-bind:product="product"  />
                            <div>
                                <div v-if="product.initial_price && product.display_price && (product.initial_price != product.display_price)" class="has-offer line-through text-sm font-normal text-gray-400 text-light">
                                        {{slotData.orderCurrency}} 
                                    <span>{{ slotData.helpers.PriceFormat(product.initial_price * product.qty) }}</span>
                                </div>
                                <div v-else-if="product.msrp_price" class="has-offer line-through text-sm font-normal text-gray-400 text-light">
                                    {{slotData.orderCurrency}} 
                                    <span>{{ slotData.helpers.PriceFormat(product.msrp_price * product.qty) }}</span>
                                </div>
                                <div class="font-semibold text-sm text-primary leading-5">
                                {{slotData.orderCurrency}} 
                                    <template v-if="product.total_price">
                                        <span>{{ slotData.helpers.PriceFormat(product.total_price) }}</span>
                                    </template>
                                    <template v-else>
                                        <span>{{ slotData.helpers.PriceFormat(product.display_price * product.qty) }}</span>
                                    </template>
                                </div>
                            </div>
                        </div>

                    </div>




                </div>
            </div>
            <!-- {{slotData}} -->
            <div class="item-price p-1 xl:px-3 md:py-4 md:w-2/12 text-base hidden lg:block">

                <template v-if="product.removed_price">
                    <template v-if="product.tier_price">
                        <div v-if="product.tier_price < product.unit_price">
                            <div v-if="product.display_price < product.tier_price">
                                <span class="removed-price block line-through text-gray-400 text-sm">{{slotData.orderCurrency}} {{ slotData.helpers.PriceFormat(product.tier_price) }} </span>
                            </div>
                            <div v-else>
                                <span class="removed-price block line-through text-gray-400 text-sm">{{slotData.orderCurrency}} {{ slotData.helpers.PriceFormat(product.unit_price) }} </span>
                            </div>
                           
                        </div>
                        <div v-else >
                           <span class="removed-price block line-through text-gray-400 text-sm">{{slotData.orderCurrency}} {{ slotData.helpers.PriceFormat(product.tier_price) }} </span>
                        </div>
                        
                    </template>
                    <template v-else>
                        <span class="removed-price block line-through text-gray-400 text-sm"> {{slotData.orderCurrency}} {{ slotData.helpers.PriceFormat(product.removed_price) }} </span>
                    </template>
                    
                </template>

                <span class="final-product-price">
                    {{slotData.orderCurrency}}

                    <template v-if="slotData.flashOrder">
                        {{ slotData.helpers.PriceFormat(product.discount_price) }}
                    </template>
                    <template v-else>
                        {{ slotData.helpers.PriceFormat(product.display_price) }}
                    </template>
                </span>
            </div>

            <div class="p-1 xl:px-3 md:py-4 md:w-3/12 lg:w-3/12 xl:w-2/12 hidden lg:block">
          
                    <div cols="12" lg="5" md="8" sm="8" class="item-qty text-xs md:text-base">
                        <!-- <input type="number" v-model="product.qty" @change="onChangeQty(product.id, product.qty)" min="1" name="quantity" /> -->
                        <add-to-cart-button-snippet v-bind:product="product"  />
                    </div>
            </div>
            <div class="p-1 xl:px-3 md:py-4 md:w-2/12 hidden lg:block">
                 <div class="item-total-price text-right">
                    {{slotData.orderCurrency}} 
                    <template v-if="product.total_price">
                        <span>{{ slotData.helpers.PriceFormat(product.total_price) }}</span>
                    </template>
                    <template v-else>
                        <span>{{ slotData.helpers.PriceFormat(product.display_price * product.qty) }}</span>
                    </template>
                </div>
            </div>
        
            <div class="ml-2 absolute right-0 top-2 xl:relative xl:right-auto xl:top-auto">
                <remove-item-button-snippet v-bind:name="product.name"  v-bind:id="product.id"  />
            </div>
            
        </div>

    </div>
    <clear-cart-snippet  />
</div>