<div class="mt-6">
  <div class="flex mb-6">
    <h3
      class="title text-heading text-sm md:text-base xl:text-lg font-semibold mt-0 mb-0.5"
    >
      {{slotData.language.viewProfile.changePassword.title}}
    </h3>
    <div class="change-password-button ml-auto">
      <button
        class="text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none bg-primary text-white px-5 md:px-6 lg:px-8 py-4 md:py-3 hover:text-white hover:bg-gray-600 hover:shadow-cart h-10"
        v-on:click="onClickEdit"
        v-show="!slotData.isEditable"
      >
        {{slotData.language.viewProfile.editText}}
      </button>

      <!-- <button class="text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none bg-primary text-white px-5 md:px-6 lg:px-8 py-4 md:p-3 hover:text-white hover:bg-gray-600 hover:shadow-cart h-10" v-show="slotData.isEditable" v-on:click="onClickUpdate"> 
                {{slotData.language.viewProfile.saveText}} 
            </button> -->
    </div>
  </div>

  <section
    class="form w-full mx-auto flex flex-col justify-center"
    v-show="slotData.isEditable"
  >
    <div
      class="flex flex-col"
      :class="{'opacity-50 pointer-events-none' : slotData.loading}"
    >
      <div class="row-wrapper flex flex-col lg:flex-row space-y-4 lg:space-y-0">
        <div
          cols="12"
          md="4"
          class="w-full lg:w-1/2 field password old-password"
        >
          <div
            :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.viewProfile.changePassword.fields.oldPassword"
          >
            <label
              for="name"
              class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer required"
            >
              {{slotData.language.viewProfile.changePassword.fields.oldPassword}}
            </label>

            <input
              class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body placeholder-slate-400 min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12"
              type="password"
              v-show="false"
              placeholder="Current Password"
            />

            <input
              class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body placeholder-slate-400 min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12"
              type="password"
              v-model="slotData.formData.oldPassword"
              :state="validateState('oldPassword', null, true)"
              minlength="6"
              placeholder="Current Password"
            />
          </div>
        </div>

        <div
          cols="12"
          md="4"
          class="w-full lg:w-1/2 lg:ml-3 field password new-password"
        >
          <div
            :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.viewProfile.changePassword.fields.newPassword"
          >
            <label
              for="name"
              class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer required"
            >
              {{slotData.language.viewProfile.changePassword.fields.newPassword}}
            </label>
            <input
              class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body placeholder-slate-400 min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12"
              type="password"
              v-model="slotData.formData.newPassword"
              :state="validateState('newPassword', null, true)"
              minlength="6"
              placeholder="New Password"
            />
          </div>
        </div>

        <div
          cols="12"
          md="4"
          class="w-full lg:w-1/2 lg:ml-3 field password confirm-password"
        >
          <div
            :invalid-feedback="slotData.language.cart.enterValid + ' ' + slotData.language.viewProfile.changePassword.fields.confirmPassword"
          >
            <label
              for="name"
              class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer required"
            >
              {{slotData.language.viewProfile.changePassword.fields.confirmPassword}}
            </label>
            <input
              class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body rounded-md placeholder-body placeholder-slate-400 min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12"
              type="password"
              v-model="slotData.formData.confirmPassword"
              :state="validateState('confirmPassword', null, true)"
              minlength="6"
              placeholder="Confirm Password"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="flex mt-4">
      <span
        class="success-message block text-xs text-green-500"
        v-if="slotData.formSuccess"
      >
        {{slotData.formSuccess}}
      </span>
      <span
        class="error-message block text-xs text-red-500"
        v-if="slotData.formError"
      >
        {{slotData.formError}}
      </span>
      <div class="change-password-button ml-auto">
        <button
          class="text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none bg-primary text-white px-5 md:px-6 lg:px-8 py-4 md:p-3 hover:text-white hover:bg-gray-600 hover:shadow-cart h-10"
          v-show="slotData.isEditable"
          v-on:click="onClickUpdate"
        >
          {{slotData.language.viewProfile.saveText}}
        </button>
      </div>
    </div>
  </section>
</div>
