<div>
    <div class="location-list-inner-wrapper col-span-full 3xl:col-span-3 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-3 md:gap-5 xl:gap-7 row-span-full">
        <template v-for="location in slotData.settings.locations">
            <div class="location-wrapper  rounded-md group box-border rounded-md   border border-gray-100 transition duration-200 ease-in-out transform hover:-translate-y-1 hover:shadow-md bg-white overflow-hidden" :class="{'active': location.id == slotData.current_location}">
                   <button @click="changeLocation(location.id)" class="location-inner-wrapper">

                    <div class="image-wrapper bg-center bg-no-repeat h-60 w-full bg-cover" v-if="location.image" v-bind:style="{ backgroundImage: 'url(' + location.image + ')' }">
                    </div>

                    <div class="info-wrapper py-4 px-5  text-left">
                        <div class="info-inner-wrapper">
                            <h3 class="title text-heading text-sm md:text-base xl:text-lg font-semibold mb-2"> {{ location.name }} </h3>
                            <div class="description" v-if="location.description" v-html="location.description"></div>
                        </div>
                    </div>
                </button>
            </div>
        </template>
    </div>
</div>