<div>
    <div class="relative card h-100">
        <!-- offer percentage -->

        <template v-if="slotData.settings.menu_display_sections">
            <template v-if="slotData.helpers.InArray('offer_percentage', slotData.settings.menu_display_sections)">
                <div>
                    <item-offer-percentage-snippet :data="data" styles="z-10 absolute top-1 left-1 lg:left-3 lg:top-3 bg-slate-900 text-white rounded-md text-xs px-2 py-1" />
                </div>
            </template>
        </template>
        <template v-else>
            <div>
                <item-offer-percentage-snippet :data="data" styles="z-10 absolute top-1 left-1 lg:left-3 lg:top-3 bg-slate-900 text-white rounded-md text-xs px-2 py-1"  />
            </div>
        </template>

        <div class="flex ">

            <!-- image -->
            <template v-if="slotData.helpers.InArray('image', slotData.settings.menu_display_sections)">
                <div class=" w-1/3 md:w-44 lg:w-52 lg:min-w-[13rem]">
                    <template v-if="data.images.length">
                        <template v-for="image in data.images">
                            <template v-if="image.primary_image && image.primary_image == 1">
                                <a v-bind:href="'/'+data.seo_url " class="block w-full h-full">

                                        <div class="h-full bg-gray-100 bg-center bg-no-repeat bg-contain thumb relative overflow-hidden">
                                        <img
                                            :src="`https://www.meathouse.lk${image.small.substring(image.small.indexOf('/productImages'))}`"
                                            :alt="data.name"
                                            :title="data.name"
                                            class="absolute top-0 left-0 w-full h-full object-contain z-0"
                                            loading="lazy" decoding="async"
                                        />
                                        </div>
                                </a>
                            </template>
                        </template>
                    </template>
                    <template v-else>

                        <a v-bind:href="'/'+data.seo_url " class="block w-full h-full">
                            
                                <div class="h-full bg-gray-100 bg-center bg-no-repeat bg-contain thumb relative overflow-hidden">
                                        <img
                                            src="$$__client_media_url__$$/$$__client_media_path__$$/no-image.png"
                                            :alt="data.name"
                                            :title="data.name"
                                            class="absolute top-0 left-0 w-full h-full object-contain z-0"
                                            loading="lazy" decoding="async"
                                        />
                                </div>
                        </a>
                    </template>
                </div>
            </template>
            <div class="w-2/3 md:w-[calc(100%-11rem)] lg:w-[calc(100%-13rem)]">
                <div class="p-4 info">
                    <!-- name -->
                    <template v-if="slotData.settings.menu_display_sections">
                        <template v-if="slotData.helpers.InArray('name', slotData.settings.menu_display_sections)">

                            <a v-bind:href="'/'+data.seo_url "
                                class="block name-product-link md:w-full md:inline-block " v-if="data.name" :aria-label="data.name">
                                <div class="head">
                                    <h3
                                        class="flex items-center mt-0 mb-1 text-sm font-semibold text-heading md:truncate md:text-base ">
                                        <span class="inline-block w-full mr-2 truncate" itemprop="name"> {{data.name}} </span>
                                        <Favorite-icon-snippet 
                                            :favorite="data.favorite"
                                            :isListView="slotData.isListView"
                                            :productId="data.id"
                                            @updateFavorite="onUpdateFavorite"
                                        />
                                        <template v-if="data.featured">
                                            <span class="flex p-2 ml-2 text-sm text-white rounded-md bg-primary">
                                                <b-icon icon="star-fill" class="featured-icon"
                                                    :title="slotData.language.detailView.featuredItemTitle"></b-icon>
                                            </span>
                                        </template>
                                    </h3>
                                </div>
                            </a>
                        </template>
                    </template>
                    <template v-else>
                        <a v-bind:href="'/'+data.seo_url "
                            class="block name-product-link md:w-full md:inline-block" v-if="data.name"  :aria-label="data.name">
                            <div class="head">
                                <h3
                                    class="flex items-center mt-0 mb-1 text-sm font-semibold text-heading md:truncate md:text-base">
                                    <span class="inline-block w-full mr-2 truncate" itemprop="name"> {{data.name}} </span>
                                    <template v-if="data.featured">
                                        <span class="flex p-2 text-sm text-white rounded-md bg-primary">
                                            <b-icon icon="star-fill" class="featured-icon"
                                                :title="slotData.language.detailView.featuredItemTitle"></b-icon>
                                        </span>
                                    </template>
                                </h3>
                            </div>
                        </a>
                    </template>
                    <template v-if="data?.rate_summaries?.length > 0 && slotData.settings.enable_reviews === '1' && Number(data.rate_summaries[0].average) > 0" class="flex justify-start items-center">
                        <div class="flex justify-start items-center space-x-1">
                            <star-rating
                            :star-size="18"
                            :rating="Number(data.rate_summaries[0].average)"
                            :increment="0.1"
                            :show-rating="false"
                            :padding="2"
                            active-color="#F07E19"
                            inactive-color="#D9D9D9"
                            :read-only="true"
                            />
                            <span class="text-xs text-[#5A5A5A] font-normal pt-1">({{data.review_count}})</span>
                        </div>
                    </template>

                    <!-- SKU Code -->
                    <template v-if="slotData.settings.menu_display_sections">
                        <template v-if="slotData.helpers.InArray('sku', slotData.settings.menu_display_sections)">
                            <div class="mb-1 text-sm font-semibold text-gray-400 truncate head text-heading">
                                <span itemprop="code"> {{data.code}} </span>
                            </div>
                        </template>
                    </template>
                    <template v-else>
                        <div class="mb-1 text-sm font-semibold text-gray-400 truncate head text-heading">
                            <span itemprop="code"> {{data.code}} </span>
                        </div>
                    </template>



                    <!-- description -->
                    <template v-if="slotData.settings.menu_display_sections">
                        <template
                            v-if="slotData.helpers.InArray('description', slotData.settings.menu_display_sections)">
                            <div v-if="data.short_description"
                                class="description text-body text-xs lg:text-sm leading-normal xl:leading-relaxed line-clamp-1 md:line-clamp-2 mb-0.5 md:mb-1.5">
                                {{data.short_description.slice(0, 130)}}
                            </div>
                        </template>
                    </template>
                    <template v-else>
                        <div v-if="data.short_description"
                            class="description text-body text-xs lg:text-sm leading-normal xl:leading-relaxed line-clamp-1 md:line-clamp-2 mb-0.5 md:mb-1.5">
                            {{data.short_description.slice(0, 130)}}
                        </div>
                    </template>


                    <!-- attributes -->
                    <template v-if="slotData.settings.menu_display_sections">
                        <template v-if="slotData.helpers.InArray('attribute', slotData.settings.menu_display_sections)">
                            <item-attributes-snippet :data="data"  :show_attribute_images="slotData.showAttributeImages"/>
                        </template>
                    </template>


                    <!-- item price -->
                    <template v-if="slotData.settings.menu_display_sections">
                        <template v-if="slotData.helpers.InArray('price', slotData.settings.menu_display_sections)">
                            <item-quantity-availability-snippet  :data="data" />
                            <item-price-snippet  :data="data" />
                        </template>
                    </template>
                    <template v-else>
                        <div class="text-left product-list-available-quantity">
                        <item-quantity-availability-snippet  :data="data" />
                    </div>
                        <item-price-snippet  :data="data" />
                    </template>

                    <!-- Include MintPay pricing block -->
                    <template>
                        <div class="text-left" v-if="slotData.settings.payment_methods && slotData.helpers.IsMintPayEnabled(slotData.settings.payment_methods)">
                        <mint-pay-price-block-snippet :data="data" pageView="list"/>
                        </div>
                    </template>

                    <!-- Include KokoPay pricing block -->
                    <template>
                        <div class="text-left" v-if="slotData.settings.payment_methods && slotData.helpers.IsKokoPayEnabled(slotData.settings.payment_methods)">
                        <koko-pay-price-block-snippet :data="data" pageView="list"/>
                        </div>
                    </template>


                    <!-- flash offer -->
                    <template v-if="slotData.settings.default_menu_type != 'without_available_now'">
                        <template v-if="slotData.settings.menu_display_sections">
                            <template
                                v-if="slotData.helpers.InArray('flash_offer', slotData.settings.menu_display_sections)">
                                <item-flash-offer-snippet  :data="data" />
                            </template>
                        </template>
                        <template v-else>
                            <item-flash-offer-snippet  :data="data" />
                        </template>
                    </template>


                    <!-- upcoming offer -->
                    <template v-if="slotData.settings.menu_display_sections">
                        <template
                            v-if="slotData.helpers.InArray('upcoming_offer', slotData.settings.menu_display_sections)">
                            <item-upcoming-offer-snippet  :data="data" />
                        </template>
                    </template>
                    <template v-else>
                        <item-upcoming-offer-snippet  :data="data" />
                    </template>


                    <!-- item tags -->
                    <template v-if="data.tags">
                        <template
                            v-if="slotData.settings.menu_display_sections && slotData.helpers.InArray('tag', slotData.settings.menu_display_sections)">
                            <div class="flex mt-2 tag-wrapper r">
                                <template v-for="tag in data.tags">
                                    <div class="mr-2 tag" :title="tag.name">
                                        <template v-if="tag.icon">
                                            <span class="tag-icon"
                                                :style="{'background-image': 'url(' + tag.icon + ')'}"
                                                :title="tag.name"></span>
                                        </template>
                                        <template v-else>
                                            <b-icon class="w-5 h-5 text-gray-700" icon="tag-fill"
                                                :title="tag.name"></b-icon>
                                        </template>
                                    </div>
                                </template>
                            </div>
                        </template>
                    </template>
                    <!-- add to cart button -->
                    <template v-if="slotData.disableCheckout != true">
                        <div class="flex justify-end">
                            <item-add-to-cart-snippet :data="data" />
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>