
@media (min-width:1024px) {
   #layout-main-nugegoda .grid.grid-cols-1.gap-4.md\:grid-cols-2.lg\:grid-cols-2.xl\:grid-cols-3.product-row.md\:mt-6.col-span-full.\33 xl\:col-span-3.md\:gap-5.xl\:gap-7.row-span-full, #layout-main-pelawatte .grid.grid-cols-1.gap-4.md\:grid-cols-2.lg\:grid-cols-2.xl\:grid-cols-3.product-row.md\:mt-6.col-span-full.\33 xl\:col-span-3.md\:gap-5.xl\:gap-7.row-span-full {
    grid-template-columns: repeat(5, minmax(0, 1fr));
} 
}


#layout-main-nugegoda .product-block h3 ,
#layout-main-pelawatte .product-block h3 {
    text-align: center;
}