<div class="text-center">

    <div class="profile-items profile-image-wrapper">
        <template v-if="slotData.user?.profile_picture">
            <div class="profile-image w-24 h-24 bg-no-repeat bg-contain bg-center rounded-[50%] border border-gray-500 shadow-md mx-auto" v-bind:style="{ backgroundImage: 'url(' + slotData.user.profile_picture + ')' }"></div>
        </template>
        <template v-else>
            <b-icon icon="person-circle" class="empty-image w-24 h-24 mx-auto"></b-icon>
        </template>
    </div>

    <div class="profile-items mt-1.5 text-body"> {{slotData.user?.email}} </div>

    <div class="profile-button profile-items" id="profile-button">
        <input type="file" v-on:change="updateImage" 
               id="imageInput"
               accept=".jpg,.jpg,.jpeg,.jpeg,.png,.png" 
               :data-buttonText="slotData.language.viewProfile.changePhoto"
               v-show="false"
               />
        <button  :class="[slotData.isDisable ? 'opacity-50 pointer-events-none' : '']" class="btn text-[13px] md:text-sm leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent rounded-md placeholder-white focus-visible:outline-none focus:outline-none bg-primary text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-gray-600 hover:shadow-cart h-10 mt-3" id="pickfiles" v-on:click="onClickButton"> 
            {{slotData.language.viewProfile.changePhoto}} 
        </button>
    </div>
    
    <span :class="[slotData.isProfileUpdateSuccess ?  'text-green-600' : 'text-red-500','block text-xs mt-2']" v-if="slotData.responseMessage && slotData.counter">{{slotData.responseMessage}}</span> 

</div>