#home-page {
  position: relative;
}

@media (min-width: 1024px) {
  /*#home-page header#header */
  .updatedHeader {
    max-width: 1024px;
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%);
    top: 20px !important;
    animation: wd-fadeInDownBig 0.4s ease;
  }

  #home-page .flex.flex-wrap.mb-4.mt-20.xl\:mb-6 {
    margin-top: 0px !important;
  }
}
