<div id="home-page">
  <template v-if="slotData.settingLoaded">
    <div class="main-loader" v-if="mainLoader">
      <progress-bar-snippet />
    </div>
    <header-block-section :all_location_data="true" />
    <div class="flex flex-wrap mt-20 mb-4 xl:mb-6">
      <div class="w-full bg-white">
        <banner-block-custom-block
          :slides="[
            {'url':'$$__client_media_url__$$/$$__client_media_path__$$/1.webp'}
            ]"
          slide_show="false"
          :rounded_corners="false"
          columns="1"
          title=""
          description=""
          :show_button="false"
          :slide_link="true"
          :use_cart_banners="true"
          :slide_show_dots="false"
          banner_height="h-[0px] pt-[40%]"
          slide_show_speed="5000"
        />
      </div>
    </div>
    <template
      v-if="slotData.settings.locations.length
    >= 2"
    >
      <location-banner-starter-custom-block
        :settingLoaded="slotData.settingLoaded"
      />
    </template>
    <trail-popup-snippet :is_active="slotData.isActive"></trail-popup-snippet>
    
    <section class="main main-margin-top main-margin-bottom">
        <h1>Welcome to Siddhalepa</h1>
        <p>Live Healthy with Ayurveda</p>
    </section>
    
    
    <category-block-custom-block
    :categories="['09c1c7d98d178688ca95ff1fe7389ab9','ea9e81c3e89b211b6a0096583f302f78']"
      :start="0"
      :limit="40"
      title=""
      columns="6"
      show_main_block="false"
      main_block_title="Top Categories"
      slide_show="true"
      main_block_width="25%"
      slide_show_dots="false"
      slide_show_arrows="true"
      slide_show_autoplay="true"
      slide_show_speed="300"
      auto_play_speed="5000"
      show_main_block_button="true"
      main_block_button_text="All Categories"
      main_block_height="500px"
      :all_location_data="true"
      :slider_responsive='[ 
            {
                "breakpoint": 1024,
                "settings": {
                   "slidesToShow": 4,
                }
            },
                        {
                "breakpoint": 768,
                "settings": {
                   "slidesToShow": 4,
                }
            },
            {
                "breakpoint": 480,
                "settings": {
                  "slidesToShow": 3,
                }
            }
        ]'
    />

<div class ="banner-wrapper">
    
    <section class="main feature-section main-margin-top main-margin-bottom">
      <div class="feature-container">
        <!-- Left Column -->
        <div class="feature-left">
          <img src="https://dna3n15iwxmh8.cloudfront.net/75b37763aee196a79752194da1079599/siddhalepa-img/placeholder/2624b5b78532b062230f2c37a010ce14_1762499217.jpg" alt="Feature Image" />
          <div class="feature-text">
            <h2>Check our spa products</h2>
            <p>Design is no afterthought, far from.</p>
          </div>
        </div>
    
        <!-- Right Column -->
        <div class="feature-right">
          <div class="feature-content">
            <h4>Try new ayurveda products</h4>
            <p>You come to the point, make things.</p>
            <a href="" class="btn btn-color-primary btn-style-round">Shop Now</a>
            <img src="https://dna3n15iwxmh8.cloudfront.net/75b37763aee196a79752194da1079599/siddhalepa-img/placeholder/a957a5d6a473b4e1687528be50e11918_1762499647.png" alt="Vertical Image" class="feature-vertical-img" />
          </div>
        </div>
      </div>
    </section>
    
    
    <section class="feature-alt-container main-margin-top main-margin-bottom">
      <!-- Left Column -->
      <div class="feature-alt-left">
        <img src="https://dna3n15iwxmh8.cloudfront.net/75b37763aee196a79752194da1079599/siddhalepa-img/placeholder/b61f71db4277b7b4b8c1f82534fe0585_1762505472.png" alt="Feature Left Image" class="feature-alt-left-img" />
        <div class="feature-alt-content">
          <h2><span>Shine & Be Healthy </span>This Summer with Ayurveda</h2>
          <p>Buy Siddhalepa Threepla Get Free Ayur Immune Tea Pack</p>
          <a href="" class="btn btn-color-primary btn-style-round">Shop Now</a>
        </div>
      </div>
    
      <!-- Right Column -->
      <div class="feature-alt-right">
        <img src="https://dna3n15iwxmh8.cloudfront.net/75b37763aee196a79752194da1079599/siddhalepa-img/placeholder/a5ff2b0a5d60b9c3bca38f121ac18312_1762505472.png" alt="Feature Right Image" class="feature-alt-right-img" />
      </div>
    </section>

</div>

<section class="main main-margin-top">
        <h2>Featured Products</h2>
        <p>Love Healthy with Ayurveda</p>
    </section>



    <products-block-custom-block
     
      :limit="6"
      :start="0"
      :featured="true"
      :all_location_data="true"
      title="Featured Items"
      show_title="false"
      slide_show="true"
      slide_show_dots="false"
      rounded_corners="true"
      columns="4"
      description="false"
      :show_add_to_cart="false"
      :show_product_attribute="false"
      :show_product_tags="false"
      :slide_link="true"
      slide_show_speed="1500"
      main_block_height="300px"
      slide_show_arrows="true"
      :slider_responsive='[ 
            {
                "breakpoint": 1024,
                "settings": {
                   "slidesToShow": 4,
                }
            },
                        {
                "breakpoint": 768,
                "settings": {
                   "slidesToShow": 4,
                }
            },
            {
                "breakpoint": 480,
                "settings": {
                  "slidesToShow": 3,
                }
            }
        ]'
    />
    <div class="relative p-4 rounded-md md:p-8 2xl:px-16">
         <custom-offer-category-list-template
          category_ids="['']"
          :limit="6"
          :hideHeader="true" 
          :hideLoadMore="true" 
          :hideNoResult="true" 
          :columns=6
        /> 
        
    </div>

    
    
        <section class="main feature-section main-margin-top ">
      <div class="feature-container sustainable-container">
        <!-- Left Column -->
        <div class="feature-left sustainable">
          <img src="https://dna3n15iwxmh8.cloudfront.net/75b37763aee196a79752194da1079599/siddhalepa-img/placeholder/464e6573ebde260a8b1ac317611cf506_1762764254.png" alt="Feature Image" />
        </div>
    
        <!-- Right Column -->
      <div class="feature-alt-left sustainable-right">
        <img src="https://dna3n15iwxmh8.cloudfront.net/75b37763aee196a79752194da1079599/siddhalepa-img/placeholder/9c9e37c9271ccdecc1c8d24c23b7ddad_1762764253.png" alt="Feature Left Image" class="feature-alt-left-img" />
        <div class="feature-alt-content sustainable-para">
          <h2>Our Sustainable Sourcing</h2>
          <p>Anyway, you still use Lorem Ipsum and rightly so, as it will the always have a place in web workers toolbox, as happen checkpoints always things, not the way.</p>
        </div>
      </div>
    </section>
    
    <section class="main main-margin-top">
        <h2>New Arrivals</h2>
        <p>Love Healthy with Ayurveda</p>
    </section>
    
    <specific-product-custom-block
      :limit="12"
      :start="0"
      attributes='[{"code":"NEW_ARRIVALS","value":"1", "condition":"eq"}, {"code":"NEW_ARRIVALS_END_DATE","value":"$$__current_datetime__$$", "condition":"gteq"}]'
      columns="4"
      title="New Arrivals"
      show_title="false"
      c
      :categories="['8236bcf3051127d75afcae45202d1354']"
      slide_show="true"
      show_product_name="true"
      show_product_description="true"
      show_product_price="true"
      show_product_attribute="false"
      show_product_tags="false"
      show_upcomming_offer="false"
      show_add_to_cart="false"
      slide_show_speed="1500"
      auto_play_speed="5000"
      main_block_height="500px"
      slides_to_scroll="1"
      slide_show_arrows="true"
      :all_location_data="true"
      :slider_responsive='[ 
            {
                "breakpoint": 1024,
                "settings": {
                   "slidesToShow": 4,
                }
            },
                        {
                "breakpoint": 768,
                "settings": {
                   "slidesToShow": 3,
                }
            },
            {
                "breakpoint": 480,
                "settings": {
                  "slidesToShow": 2,
                }
            }
        ]'
    />
    
    <section class="main main-margin-top main-margin-bottom">
        <h2>Media Room</h2>
        <p>It's content strategy gone awry right from the start.</p>
    </section>
    
    <section class = "card-row main main-margin-top">
          <div class="card card1">
              <a href = "#">
                  <img src ="https://dna3n15iwxmh8.cloudfront.net/75b37763aee196a79752194da1079599/siddhalepa-img/placeholder/39ae429138ac8ece73c41a17d2e5727c_1762838429.jpg" alt ="card1">
              </a>
          </div>
          <div class="card">
              <a href = "#">
                  <img src ="https://dna3n15iwxmh8.cloudfront.net/75b37763aee196a79752194da1079599/siddhalepa-img/placeholder/26f87891f47a6c274f918e85abe91f43_1762838502.jpg" alt ="card1">
              </a>
          </div>
          <div class="card">
              <a href = "#">
                  <img src ="https://dna3n15iwxmh8.cloudfront.net/75b37763aee196a79752194da1079599/siddhalepa-img/placeholder/a8a2e7f9e11b464e3ec1cbed5a66e588_1762838502.jpg" alt ="card1">
              </a>
          </div>
    </section>
    <footer-block-section />
  </template>
</div>