<header id="header" class="fixed top-0 left-0 w-full z-[12]  bg-white  shadow-md min-h-[90px]">
    <div class="header-wrapper px-4 md:px-6 py-10"
        :class="{'inquire-header-wrapper': slotData.settings && slotData.settings.enable_online_ordering != '1'}">
        <div class="relative flex items-center justify-between h-16 text-slate-900 sections-HeaderBlockheader-sub-wrapper">
            <hamburger-menu-snippet  />
            <div class="mr-auto ml-4 md:ml-8">
                <logo-snippet  />
            </div>
          <!--  <template v-if="slotData.showHorizontalMenu">-->
          <div class="main-nav mr-auto uppercase flex gap-4 items-center">
<!--              <ul class="items-center justify-center lg:flex list-none">
                <li>
                    <a href="/">Home</a>
                </li>       
                <li>
                    <a href="/">Home</a>
                </li>
               
                  
              </ul>
                
               
                <a href="#">Offers</a>
                <a href="#">About us</a>
                <a href="#">Contact us</a>-->
               <horizontal-category-menu  :items_to_show="5" :show_onload="false"
                    :all_location_data="slotData.allLocationData" />
          </div>
               
           <!-- </template>-->

                <div class="action-header flex">
                    <location-block-section  />

                    <div class="right-header flex items-center">
                        <search-block-section  />
                        <template v-if="slotData.settings && slotData.settings.enable_online_ordering == '1'">
                            <template v-if="slotData.isUserLogin">
                                <user-icon-snippet  />
                            </template>
                            <template v-else>
                                <login-snippet  />
                            </template>
                        </template>
                        <template v-if="slotData?.settings?.currency_list">
                            <li class="relative group" style="list-style-type: none ; margin: 4%;">
                                <div class="flex items-center">
                                    <a class="block font-semibold hover:opacity-80 pr-1">{{slotData.orderCurrency}}</a>
                                    <b-icon icon="chevron-down"
                                        class="child-arrow cursor-pointer lg:ml-auto w-4 h-4 transition-all  group-hover:rotate-180">
                                    </b-icon>
                                </div>
                                <div
                                    class="lg:absolute min-w-[200px] lg:top-full lg:-left-6 bg-white h-0 group-hover:h-auto px-2 overflow-hidden">
                                    <ul class="sub-category-wrapper lg:p-4 lg:pb-2 list-none my-0">
                                        <template v-for="currency in slotData?.settings?.currency_list">

                                            <li class="category subcategory my-0" :data-category="currency.id"
                                                :data-name="currency.currency_code">
                                                <a class="block  hover:opacity-80 whitespace-nowrap"
                                                    v-on:click="setCurrency(currency.currency_code)">
                                                    {{currency.currency_code}}
                                                </a>
                                            </li>

                                        </template>
                                    </ul>
                                </div>
                            </li>
                        </template>
                        <template v-if="slotData.disableCheckout != true">
                        <cart-drawer-snippet />
                    </template>
                    </div>
                </div>
        </div>
    </div>
    <cart-item-snippet  />
</header>